REF/NodeRED_webhook.json
[{
		"id": "deb0d57.1c46528",
		"type": "tab",
		"label": "Flow 1",
		"disabled": true,
		"info": ""
	}, {
		"id": "57b00185.eebcd",
		"type": "tab",
		"label": "LINE_WEBHOOK",
		"disabled": false,
		"info": ""
	}, {
		"id": "f608959e.427a4",
		"type": "tab",
		"label": "LINE_API",
		"disabled": false,
		"info": ""
	}, {
		"id": "27b8f54a.f5ddd2",
		"type": "tab",
		"label": "Surveillance",
		"disabled": false,
		"info": ""
	}, {
		"id": "2613a933.ce4e9e",
		"type": "cloudant",
		"z": "",
		"host": "c59d365e-26dc-4430-9f94-2ca4e20e5752-bluemix.cloudant.com",
		"name": "SERVICE-PROD2 的DB"
	}, {
		"id": "3e77d543.c1882a",
		"type": "ibmiot in",
		"z": "deb0d57.1c46528",
		"authentication": "boundService",
		"apiKey": "",
		"inputType": "evt",
		"deviceId": "",
		"applicationId": "",
		"deviceType": "+",
		"eventType": "+",
		"commandType": "",
		"format": "json",
		"name": "IBM IoT App In",
		"service": "registered",
		"allDevices": false,
		"allApplications": false,
		"allDeviceTypes": true,
		"allEvents": true,
		"allCommands": false,
		"allFormats": false,
		"x": 100,
		"y": 400,
		"wires": [["ae0082ac.51ff8", "c0c482df.3f3b8"]]
	}, {
		"id": "ae0082ac.51ff8",
		"type": "function",
		"z": "deb0d57.1c46528",
		"name": "temp",
		"func": "return {payload:msg.payload.d.temp};",
		"outputs": 1,
		"x": 290,
		"y": 400,
		"wires": [["ff6ad0d9.00953"]]
	}, {
		"id": "ff6ad0d9.00953",
		"type": "switch",
		"z": "deb0d57.1c46528",
		"name": "temp thresh",
		"property": "payload",
		"rules": [{
				"t": "lte",
				"v": 40,
				"v2": null
			}, {
				"t": "gt",
				"v": 40,
				"v2": null
			}
		],
		"checkall": "true",
		"outputs": 2,
		"x": 450,
		"y": 400,
		"wires": [["80621eff.7f9de"], ["8e1706a.f71e8f8"]]
	}, {
		"id": "5dad02b7.a252fc",
		"type": "debug",
		"z": "deb0d57.1c46528",
		"name": "cpu status",
		"active": true,
		"complete": "false",
		"x": 790,
		"y": 400,
		"wires": []
	}, {
		"id": "c0c482df.3f3b8",
		"type": "debug",
		"z": "deb0d57.1c46528",
		"name": "device data",
		"active": true,
		"console": "false",
		"complete": "true",
		"x": 310,
		"y": 480,
		"wires": []
	}, {
		"id": "80621eff.7f9de",
		"type": "template",
		"z": "deb0d57.1c46528",
		"name": "safe",
		"template": "Temperature ({{payload}}) within safe limits",
		"x": 610,
		"y": 380,
		"wires": [["5dad02b7.a252fc"]]
	}, {
		"id": "8e1706a.f71e8f8",
		"type": "template",
		"z": "deb0d57.1c46528",
		"name": "danger",
		"template": "Temperature ({{payload}}) critical",
		"x": 620,
		"y": 420,
		"wires": [["5dad02b7.a252fc"]]
	}, {
		"id": "cbe1a0b7.cd877",
		"type": "ibmiot out",
		"z": "deb0d57.1c46528",
		"authentication": "boundService",
		"apiKey": "",
		"outputType": "evt",
		"deviceId": "LivingRoomThermo1",
		"deviceType": "thermostat",
		"eventCommandType": "update",
		"format": "json",
		"data": "temp:10",
		"name": "Send to IBM IoT Platform",
		"service": "registered",
		"x": 570,
		"y": 120,
		"wires": []
	}, {
		"id": "5917a925.6a3c08",
		"type": "inject",
		"z": "deb0d57.1c46528",
		"name": "Send Data",
		"topic": "",
		"payload": "true",
		"payloadType": "bool",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 100,
		"y": 120,
		"wires": [["6b4a591c.014b18"]]
	}, {
		"id": "6b4a591c.014b18",
		"type": "function",
		"z": "deb0d57.1c46528",
		"name": "Device payload",
		"func": "// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 320,
		"y": 120,
		"wires": [["cbe1a0b7.cd877", "805c97ee.3ed9e8"]]
	}, {
		"id": "805c97ee.3ed9e8",
		"type": "debug",
		"z": "deb0d57.1c46528",
		"name": "Debug output payload",
		"active": false,
		"console": "false",
		"complete": "payload",
		"x": 560,
		"y": 180,
		"wires": []
	}, {
		"id": "86df0b6c.af90c8",
		"type": "comment",
		"z": "deb0d57.1c46528",
		"name": "Device Simulator",
		"info": "Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)",
		"x": 100,
		"y": 40,
		"wires": []
	}, {
		"id": "141b7c7.ad42a84",
		"type": "comment",
		"z": "deb0d57.1c46528",
		"name": "1. Configure target",
		"info": "",
		"x": 550,
		"y": 80,
		"wires": []
	}, {
		"id": "c2dd8ed5.7dd7f",
		"type": "comment",
		"z": "deb0d57.1c46528",
		"name": "2. Click to send data",
		"info": "To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n",
		"x": 110,
		"y": 160,
		"wires": []
	}, {
		"id": "7926c7b2.86d938",
		"type": "comment",
		"z": "deb0d57.1c46528",
		"name": "Temperature Monitor",
		"info": "",
		"x": 110,
		"y": 300,
		"wires": []
	}, {
		"id": "188a5e87.e775a1",
		"type": "comment",
		"z": "deb0d57.1c46528",
		"name": "Configure source",
		"info": "",
		"x": 100,
		"y": 360,
		"wires": []
	}, {
		"id": "df90c1cc.672c28",
		"type": "http in",
		"z": "57b00185.eebcd",
		"name": "",
		"url": "/lineAPI",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 190,
		"y": 80,
		"wires": [["e1db60bc.5875d8", "c5aff2bb.714478", "9b020561.4bb47"]]
	}, {
		"id": "e1db60bc.5875d8",
		"type": "http response",
		"z": "57b00185.eebcd",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 430,
		"y": 100,
		"wires": []
	}, {
		"id": "ddfd818c.a128c8",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "來源類型",
		"func": "\nif(\n    msg.payload==null ||\n    msg.payload.events ==null ||\n    msg.payload.events[0]==null ||\n    msg.payload.events[0].source==null ||\n    msg.payload.events[0].source.type==null\n){\n    node.warn(\"非預期訊息來源?\");\n    return null;\n}\n\n\nif(msg.payload.events[0].source.type==\"user\"){\n    msg.target = msg.payload.events[0].source.userId;\n    msg.targetUser = msg.payload.events[0].source.userId;\n}else if(msg.payload.events[0].source.type==\"room\"){    \n    msg.target = msg.payload.events[0].source.roomId;\n    msg.targetUser = msg.payload.events[0].source.userId;\n}else if(msg.payload.events[0].source.type==\"group\"){\n    msg.target = msg.payload.events[0].source.groupId;\n    msg.targetUser = msg.payload.events[0].source.userId;\n}else{\n    node.warn(\"非預期訊息來源?\");\n    return null;\n}\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 590,
		"y": 180,
		"wires": [["58fe8943.a24088", "f5bbe0f6.acc7a8"]]
	}, {
		"id": "58fe8943.a24088",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "事件類型",
		"func": "if(msg.payload.events[0].type==\"message\"){\n    \n    return [msg,null];\n    \n}else if(msg.payload.events[0].type==\"AAA\"){\n    node.warn(\"不處理事件類型?\");\n}else{\n    node.warn(\"不處理事件類型?\");\n    //包含[follow unfollow join leave postback beacon accountLink]\n}\n\n\n\n",
		"outputs": 2,
		"noerr": 0,
		"x": 770,
		"y": 180,
		"wires": [["d277212d.a06f6"], []]
	}, {
		"id": "c5aff2bb.714478",
		"type": "debug",
		"z": "57b00185.eebcd",
		"name": "LINE_IN",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 430,
		"y": 60,
		"wires": []
	}, {
		"id": "cf81092e.67944",
		"type": "http request",
		"z": "57b00185.eebcd",
		"name": "",
		"method": "GET",
		"ret": "obj",
		"url": "",
		"tls": "",
		"x": 900,
		"y": 140,
		"wires": [["1d7fbfbd.f11e"]]
	}, {
		"id": "2b8bc0ad.9a1088",
		"type": "debug",
		"z": "57b00185.eebcd",
		"name": "誰!!!!",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1180,
		"y": 140,
		"wires": []
	}, {
		"id": "f5bbe0f6.acc7a8",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "",
		"func": "\nlet token = msg.global_para.line_token;\n\nmsg.url = \"https://api.line.me/v2/bot/profile/\"+msg.targetUser;\nmsg.headers = {\n    \"Authorization\": \"Bearer \"+token,\n};\nif(msg.payload.events[0].message){\n    msg.temp = msg.payload.events[0].message.type==\"audio\"?\"傳了聲音 \"+msg.payload.events[0].message.id:msg.temp;\n    msg.temp = msg.payload.events[0].message.type==\"image\"?\"傳了圖片 \"+msg.payload.events[0].message.id:msg.temp;\n    msg.temp = msg.payload.events[0].message.type==\"sticker\"?\"傳送了貼圖[\"+msg.payload.events[0].message.packageId+\",\"+msg.payload.events[0].message.stickerId+\"]\":msg.temp;\n    msg.temp = msg.payload.events[0].message.type==\"text\"?\"說了 \"+msg.payload.events[0].message.text:msg.temp;\n}else{\n    msg.temp = \"EVENT: \" + msg.payload.events[0].type;\n    \n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 760,
		"y": 140,
		"wires": [["cf81092e.67944"]]
	}, {
		"id": "9b020561.4bb47",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "GLOBAL",
		"func": "\nmsg.global_para = {\n    line_token : \"Rr9TVtHn/xIiY7clM+hznaBRHv6r2Wbayq9enRSDwoWKmdGFo25NitxrjT1qgmTOPqCHZ/pLACxIYK/jhpogOP7p7apdL3+083YVer228EZlk1+eP3ILRFrzFUB9hacijo/1glbXcUMvdPgc+b+xoAdB04t89/1O/w1cDnyilFU=\",\n    my_host : \"https://nodered-api-lexus-test01.mybluemix.net\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 430,
		"y": 143,
		"wires": [["ddfd818c.a128c8"]]
	}, {
		"id": "1d7fbfbd.f11e",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "發生：",
		"func": "if(msg.payload.displayName){\n    msg.temp = msg.payload.displayName+\" : \"+msg.temp;\n}else{\n    msg.temp = msg.targetUser+\" : \"+msg.temp\n}\n\n//node.warn(msg.temp);\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1060,
		"y": 140,
		"wires": [["2b8bc0ad.9a1088"]]
	}, {
		"id": "d277212d.a06f6",
		"type": "switch",
		"z": "57b00185.eebcd",
		"name": "訊息類型",
		"property": "payload.events[0].message.type",
		"propertyType": "msg",
		"rules": [{
				"t": "eq",
				"v": "text",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "audio",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "image",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "sticker",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "viedo",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "file",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "location",
				"vt": "str"
			}, {
				"t": "else"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 8,
		"x": 440,
		"y": 400,
		"wires": [["a672efb8.72aed"], ["b89ebf7b.89c958"], ["e4dd720c.8d7de"], ["232549ae.0212fe"], ["232549ae.0212fe"], ["232549ae.0212fe"], ["232549ae.0212fe"], ["232549ae.0212fe"]]
	}, {
		"id": "94c23592.e99fb",
		"type": "debug",
		"z": "57b00185.eebcd",
		"name": "轉發 API",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1030,
		"y": 260,
		"wires": []
	}, {
		"id": "589a04b7.282b24",
		"type": "http request",
		"z": "57b00185.eebcd",
		"name": "",
		"method": "POST",
		"ret": "obj",
		"url": "",
		"tls": "",
		"x": 860,
		"y": 300,
		"wires": [["f5e85899.0cb448", "94c23592.e99fb"]]
	}, {
		"id": "a672efb8.72aed",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "文",
		"func": "let user_context = context.flow.get(\"context-\"+msg.target);\nlet my_host = msg.global_para.my_host;\nmsg.url = my_host+\"/servicebot_conversation_1\"\nmsg.payload = {\n    type:\"text\",\n    message:msg.payload.events[0].message.text,\n    replyId:msg.target,\n    context:user_context,\n    //context:\"\",\n    token:\"b68d9f5a-9154-420e-9940-d67f721a16ec\"\n};\nmsg.headers = {'content-type':'application/json'};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 640,
		"y": 300,
		"wires": [["589a04b7.282b24"]]
	}, {
		"id": "232549ae.0212fe",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "",
		"func": "let target = msg.target;\nlet messageTemplate=\n{\n    \"to\": target,\n    \"messages\":[\n        {\n            \"type\":\"text\",\n            \"text\":\"謝謝你的訊息，不過我目前無法回復這類訊息喔~\"\n        }\n    ]\n};\n\nmsg.retMsg = messageTemplate;\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 640,
		"y": 420,
		"wires": [["d86a0ed4.2dbc6"]]
	}, {
		"id": "d86a0ed4.2dbc6",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "TOKEN",
		"func": "\nlet token = msg.global_para.line_token;\nmsg.payload = msg.retMsg;\n\nmsg.url = \"https://api.line.me/v2/bot/message/push\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \"+token,\n};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1210,
		"y": 340,
		"wires": [["8e18b295.663ac", "4841a70a.3bfda"]]
	}, {
		"id": "8e18b295.663ac",
		"type": "http request",
		"z": "57b00185.eebcd",
		"name": "SEND",
		"method": "POST",
		"ret": "txt",
		"url": "",
		"tls": "",
		"x": 1350,
		"y": 340,
		"wires": [["5ff49779.f5682"]]
	}, {
		"id": "a31f6360.fecbc8",
		"type": "debug",
		"z": "57b00185.eebcd",
		"name": "PUSH_TO_LINE",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1530,
		"y": 400,
		"wires": []
	}, {
		"id": "c7f303c3.d372a8",
		"type": "link in",
		"z": "57b00185.eebcd",
		"name": "PIC_PERSHING_RETURN - B",
		"links": [],
		"x": 1015,
		"y": 400,
		"wires": [["d86a0ed4.2dbc6"]]
	}, {
		"id": "f5e85899.0cb448",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "CTX",
		"func": "let target = msg.target;\nmsg.payload.to = target;\n//node.warn(msg);\n/*let messageTemplate=\n{\n    \"to\": target,\n    \"messages\": msg.payload\n};\nmsg.retMsg = messageTemplate;\n*/\nmsg.retMsg = msg.payload;\ncontext.flow.set(\"context-\"+target,msg.payload.context);\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 1060,
		"y": 300,
		"wires": [["d86a0ed4.2dbc6"]]
	}, {
		"id": "50441ee1.be1c4",
		"type": "http request",
		"z": "57b00185.eebcd",
		"name": "",
		"method": "GET",
		"ret": "bin",
		"url": "",
		"tls": "",
		"x": 500,
		"y": 500,
		"wires": [["66eb7f83.02a778"]]
	}, {
		"id": "ae679194.ebb9e",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "",
		"func": "\nlet content_id = msg.payload.events[0].message.id;\nlet token = msg.global_para.line_token;\n\nmsg.url = \"https://api.line.me/v2/bot/message/\"+content_id+\"/content\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \"+token,\n};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 350,
		"y": 500,
		"wires": [["50441ee1.be1c4"]]
	}, {
		"id": "cba5ca7a.c281c8",
		"type": "http in",
		"z": "57b00185.eebcd",
		"name": "",
		"url": "/fetch_data",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 490,
		"y": 580,
		"wires": [["66eb7f83.02a778"]]
	}, {
		"id": "66eb7f83.02a778",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "######",
		"func": "if(\n    msg.req && \n    msg.req.route && \n    msg.req.route.path==\"/fetch_data\" &&\n    msg.payload.id\n){\n    let serial_id = new Buffer(msg.payload.id, 'base64').toString('utf-8')\n    \n    msg.headers = context.get(serial_id+\"_headers\");\n    if(msg.headers!=null){\n        msg.headers[\"content-disposition\"]=\"attachment; filename=audioclip-1532332559000-3971.mp4\";\n        msg.headers[\"content-type\"]=\"video/mp4\";\n    }\n    msg.payload = context.get(serial_id+\"_payload\");\n    context.set(serial_id+\"_headers\",null);\n    context.set(serial_id+\"_payload\",null);\n    return[null,msg];\n    //new Buffer(answer).toString('base64')\n}else{\n    let serial_id = UUID();\n    \n    context.set(serial_id+\"_headers\",msg.headers);\n    context.set(serial_id+\"_payload\",msg.payload);\n    \n    msg.dataIdBase64 = new Buffer(serial_id).toString('base64');\n    return[msg,null];\n}\n//return msg;\n\nfunction UUID() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now(); //use high-precision timer if available\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n",
		"outputs": 2,
		"noerr": 0,
		"x": 680,
		"y": 540,
		"wires": [["6f947e5.266be"], ["5fc5312a.c2739"]]
	}, {
		"id": "5fc5312a.c2739",
		"type": "http response",
		"z": "57b00185.eebcd",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 850,
		"y": 580,
		"wires": []
	}, {
		"id": "b89ebf7b.89c958",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "音",
		"func": "msg.type = \"audio\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 640,
		"y": 340,
		"wires": [["35fcc68b.7a188a"]]
	}, {
		"id": "e4dd720c.8d7de",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "圖",
		"func": "msg.type=\"image\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 640,
		"y": 380,
		"wires": [["35fcc68b.7a188a"]]
	}, {
		"id": "6f947e5.266be",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "RETURN",
		"func": "let user_context = context.flow.get(\"context-\"+msg.target);\nlet my_host = msg.global_para.my_host;\nmsg.url = my_host+\"/servicebot_conversation\"\nmsg.payload = {\n    type:msg.type,\n    //message: my_host+\"/fetch_data?id=\"+msg.dataIdBase64,\n    message: \"https://nodered-api-test.mybluemix.net/fetch_data?id=\"+msg.dataIdBase64,\n    context:user_context,\n    token:\"b68d9f5a-9154-420e-9940-d67f721a16ec\"\n};\n//node.warn(my_host+\"/fetch_data?id=\"+msg.dataIdBase64);\nmsg.headers = {'content-type':'application/json'};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 830,
		"y": 520,
		"wires": [["5f01cd09.4c9074"]]
	}, {
		"id": "1dbbcf34.8e0ef9",
		"type": "comment",
		"z": "57b00185.eebcd",
		"name": "取回line資料",
		"info": "",
		"x": 210,
		"y": 420,
		"wires": []
	}, {
		"id": "e52a9d8a.c1cce",
		"type": "link in",
		"z": "57b00185.eebcd",
		"name": "Line FetchData Retrun-N",
		"links": ["5f01cd09.4c9074"],
		"x": 745,
		"y": 320,
		"wires": [["589a04b7.282b24"]]
	}, {
		"id": "5f01cd09.4c9074",
		"type": "link out",
		"z": "57b00185.eebcd",
		"name": "Line FetchData Retrun-A",
		"links": ["e52a9d8a.c1cce"],
		"x": 975,
		"y": 500,
		"wires": []
	}, {
		"id": "35fcc68b.7a188a",
		"type": "link out",
		"z": "57b00185.eebcd",
		"name": "Line FetchData-A",
		"links": ["584eed88.450854"],
		"x": 745,
		"y": 360,
		"wires": []
	}, {
		"id": "584eed88.450854",
		"type": "link in",
		"z": "57b00185.eebcd",
		"name": "Line FetchData-B",
		"links": ["35fcc68b.7a188a"],
		"x": 235,
		"y": 480,
		"wires": [["ae679194.ebb9e"]]
	}, {
		"id": "5ff49779.f5682",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "PUSH_TO_LINE",
		"func": "if(msg.statusCode==200){\n    node.warn(\"發送成功\");\n}else{\n    node.warn(\"發送失敗 for: \"+msg.payload);\n    //node.warn(msg);\n}\nreturn msg;",
		"outputs": 0,
		"noerr": 0,
		"x": 1530,
		"y": 340,
		"wires": []
	}, {
		"id": "4841a70a.3bfda",
		"type": "debug",
		"z": "57b00185.eebcd",
		"name": "BEFORE PUSH",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1370,
		"y": 280,
		"wires": []
	}, {
		"id": "2a984571.eda3ba",
		"type": "inject",
		"z": "57b00185.eebcd",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 330,
		"y": 800,
		"wires": [["aeaa67ab.56fc4"]]
	}, {
		"id": "2be94db6.d0391a",
		"type": "http request",
		"z": "57b00185.eebcd",
		"name": "",
		"method": "POST",
		"ret": "txt",
		"url": "",
		"tls": "",
		"x": 866,
		"y": 800,
		"wires": [["58e0c5e1.c20b1c"]]
	}, {
		"id": "bdbeb8d2.46e49",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "CREATE",
		"func": "msg.url = \"https://api.line.me/v2/bot/richmenu\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \"+msg.flow_para.line_token,\n};\nmsg.payload = {\n    //https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/rich_menu/richmenu.jpg\n    \"size\": {\n      \"width\": 2500,\n      \"height\": 1686\n    }, // 833 843\n    \"selected\": false,\n    \"name\": \"tyt_rich_menu\",\n    \"chatBarText\": \"查看更多資訊\",\n    \"areas\": [\n      {\n        \"bounds\": {\n          \"x\": 0,\n          \"y\": 0,\n          \"width\":833,\n          \"height\": 843\n        },\n        \"action\": {  \n           \"type\":\"message\",\n           \"label\":\"品牌活動\",\n           \"text\":\"品牌活動\"\n        }\n      },{\n        \"bounds\": {\n          \"x\": 833,\n          \"y\": 0,\n          \"width\":833,\n          \"height\": 843\n        },\n        \"action\": {  \n           \"type\":\"message\",\n           \"label\":\"鄰近據點\",\n           \"text\":\"鄰近據點\"\n        }\n      },{\n        \"bounds\": {\n          \"x\": 1666,\n          \"y\": 0,\n          \"width\":833,\n          \"height\": 843\n        },\n        \"action\": {  \n           \"type\":\"message\",\n           \"label\":\"行動展間\",\n           \"text\":\"行動展間\"\n        }\n      },{\n        \"bounds\": {\n          \"x\": 0,\n          \"y\": 843,\n          \"width\":833,\n          \"height\": 843\n        },\n        \"action\": {  \n           \"type\":\"message\",\n           \"label\":\"行動客服\",\n           \"text\":\"行動客服\"\n        }\n      },{\n        \"bounds\": {\n          \"x\": 833,\n          \"y\": 843,\n          \"width\":833,\n          \"height\": 843\n        },\n        \"action\": {  \n           \"type\":\"message\",\n           \"label\":\"行車管家\",\n           \"text\":\"行車管家\"\n        }\n      },{\n        \"bounds\": {\n          \"x\": 1666,\n          \"y\": 843,\n          \"width\":833,\n          \"height\": 843\n        },\n        \"action\": {  \n           \"type\":\"message\",\n           \"label\":\"車主服務\",\n           \"text\":\"車主服務\"\n        }\n      }\n   ]\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 670,
		"y": 800,
		"wires": [["2be94db6.d0391a"]]
	}, {
		"id": "aeaa67ab.56fc4",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "",
		"func": "msg.flow_para = {\n    line_token : \"Rr9TVtHn/xIiY7clM+hznaBRHv6r2Wbayq9enRSDwoWKmdGFo25NitxrjT1qgmTOPqCHZ/pLACxIYK/jhpogOP7p7apdL3+083YVer228EZlk1+eP3ILRFrzFUB9hacijo/1glbXcUMvdPgc+b+xoAdB04t89/1O/w1cDnyilFU=\",\n    my_host : \"https://nodered-api-lexus-test.mybluemix.net\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 500,
		"y": 800,
		"wires": [["bdbeb8d2.46e49"]]
	}, {
		"id": "58e0c5e1.c20b1c",
		"type": "debug",
		"z": "57b00185.eebcd",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1053,
		"y": 800,
		"wires": []
	}, {
		"id": "89403ab8.ba2078",
		"type": "comment",
		"z": "57b00185.eebcd",
		"name": "SET IMAGE",
		"info": "curl -v -X POST https://api.line.me/v2/bot/richmenu/richmenu-15524099dee76b3a67efb838b43a11ba/content -H \"Authorization: Bearer Rr9TVtHn/xIiY7clM+hznaBRHv6r2Wbayq9enRSDwoWKmdGFo25NitxrjT1qgmTOPqCHZ/pLACxIYK/jhpogOP7p7apdL3+083YVer228EZlk1+eP3ILRFrzFUB9hacijo/1glbXcUMvdPgc+b+xoAdB04t89/1O/w1cDnyilFU=\" -H \"Content-Type: image/jpeg\" -T richmenu.jpg",
		"x": 680,
		"y": 840,
		"wires": []
	}, {
		"id": "9f5bbfa1.6030d",
		"type": "comment",
		"z": "57b00185.eebcd",
		"name": "SET DEFAULT",
		"info": "curl -v -X POST https://api.line.me/v2/bot/user/all/richmenu/richmenu-4ba4ee4ba10c122e434d62b044b64217 -d '' -H \"Authorization: Bearer Rr9TVtHn/xIiY7clM+hznaBRHv6r2Wbayq9enRSDwoWKmdGFo25NitxrjT1qgmTOPqCHZ/pLACxIYK/jhpogOP7p7apdL3+083YVer228EZlk1+eP3ILRFrzFUB9hacijo/1glbXcUMvdPgc+b+xoAdB04t89/1O/w1cDnyilFU=\"",
		"x": 880,
		"y": 840,
		"wires": []
	}, {
		"id": "bbb94fe1.3303b8",
		"type": "debug",
		"z": "57b00185.eebcd",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1060,
		"y": 940,
		"wires": []
	}, {
		"id": "cd6accee.f5a62",
		"type": "http request",
		"z": "57b00185.eebcd",
		"name": "",
		"method": "POST",
		"ret": "txt",
		"url": "",
		"tls": "",
		"x": 873,
		"y": 940,
		"wires": [["bbb94fe1.3303b8"]]
	}, {
		"id": "7dfd3176.c9d8f8",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "SET DEFAULT",
		"func": "msg.url = \"https://api.line.me/v2/bot/user/all/richmenu/richmenu-15524099dee76b3a67efb838b43a11ba\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \"+msg.flow_para.line_token,\n};\nmsg.payload={};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 697,
		"y": 940,
		"wires": [["cd6accee.f5a62"]]
	}, {
		"id": "3b6b348b.a6b064",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "",
		"func": "msg.flow_para = {\n    line_token : \"Rr9TVtHn/xIiY7clM+hznaBRHv6r2Wbayq9enRSDwoWKmdGFo25NitxrjT1qgmTOPqCHZ/pLACxIYK/jhpogOP7p7apdL3+083YVer228EZlk1+eP3ILRFrzFUB9hacijo/1glbXcUMvdPgc+b+xoAdB04t89/1O/w1cDnyilFU=\",\n    my_host : \"https://nodered-api-lexus-test.mybluemix.net\"\n};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 507,
		"y": 940,
		"wires": [["7dfd3176.c9d8f8"]]
	}, {
		"id": "78675920.ba535",
		"type": "inject",
		"z": "57b00185.eebcd",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 337,
		"y": 940,
		"wires": [[]]
	}, {
		"id": "e6aa3c3f.0c6678",
		"type": "http in",
		"z": "57b00185.eebcd",
		"name": "",
		"url": "/ht_api/LINE006_Q00",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 390,
		"y": 1194,
		"wires": [["ff15d786.ccf2a", "4f711b7a.575ef4"]]
	}, {
		"id": "ff15d786.ccf2a",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "cust_taipei",
		"func": "\nmsg.payload = JSON.parse(msg.payload.jsonstr);\n\nmsg.payload = {\n    \"rtnCode\": \"0\",\n    \"rtnMsg\": \"\",\n    \"CSINFO\": [\n        {\n            \"LICSNO\": \"NUM-0\"+Math.abs(myHashCode(msg.payload.ENCYID)%100),\n            \"FRAN\": \"L\",\n            \"CARNM\": \"IS300h\",\n            \"CRCOMPID\": \"AA\",\n            \"CRSALR\": \"AA00001\",\n            \"CRSALRNM\": \"陳柏廷\",\n            \"CRMOBILE\": \"0919863010\",\n            \"SRCOMPID\": \"AA\",\n            \"WHSRVNO\": \"AA00002\",\n            \"WHSRVNM\": \"劉孟函\",\n            \"SRMOBILE\": \"0226581910\",\n            \"NICKNAME\": corresponse_name(msg.payload.ENCYID).substr(1,2),\n            \"PICURL\": \"https://ai-catcher.com/wp-content/uploads/icon_74.png\"\n        }\n    ]\n}\n\nreturn msg;\n\nfunction corresponse_name(replyID){\n    let name_list = [\"楊宏偉\",\"賴文豪\",\"鄧淑娟\",\"余名誠\",\"陳世順\",\"林宏儒\",\"賴哲豪\",\"黃雅惠\",\"陳嘉雯\",\"楊上和\",\"劉育娥\",\"沈林廷\",\"鄧怡如\",\"趙于婷\",\"張珮甄\",\"吳雅惠\",\"吳紋火\",\"周志然\",\"胥歡雅\",\"陳修木\",\"陳俊憲\",\"張志銘\",\"卞苡佩\",\"李鎮帆\",\"藍素順\",\"袁儒瑄\",\"陳君函\",\"陳家豪\",\"陳俊憲\",\"涂秋添\",\"周怡桂\",\"鄭伊然\",\"陳思妃\",\"黃惠珠\",\"黃明翰\",\"羅雅晴\",\"蔡涵郁\",\"蕭怡婷\",\"林柏青\",\"王姿孜\",\"宣初強\",\"李智翔\",\"陳家英\",\"李鳳儒\",\"李予添\",\"周玄誠\",\"許宇翔\",\"黃雅文\",\"王佩璇\",\"郭幼能\",\"駱雅婷\",\"吳偉婷\",\"林惠婷\",\"吳士銘\",\"李宜珮\",\"杜怡君\",\"鄭鈺婷\",\"張志帆\",\"林進松\",\"涂豪舜\",\"張家和\",\"張惠敏\",\"金美玉\",\"曹俊瑋\",\"吳欣士\",\"黃俊明\",\"華青全\",\"陳依婷\",\"陳怡婷\",\"陳盈如\",\"林建彰\",\"吳明安\",\"吳湘婷\",\"林惠珠\",\"陳大喬\",\"鄭怡嘉\",\"倪胤嬌\",\"宋雅琪\",\"錢辰嘉\",\"陳智易\",\"徐采盛\",\"夏益迪\",\"陳佳怡\",\"白胤紋\",\"李雅婷\",\"林智翔\",\"傅家豪\",\"宓士凱\",\"張瑜桓\",\"喻祥玄\",\"陳宏麟\",\"胡林帆\",\"邱志祥\",\"吳雅謙\",\"張怡竹\",\"林韋梅\",\"朱佩穎\",\"洪淑季\",\"李志筠\",\"謝添士\"];\n    \n    return name_list[Math.abs(myHashCode(replyID)%100)];\n}\nfunction myHashCode(str) {\n  var hash = 0, i, chr;\n  if (str.length === 0) return hash;\n  for (i = 0; i < str.length; i++) {\n    chr   = str.charCodeAt(i);\n    hash  = ((hash << 5) - hash) + chr;\n    hash |= 0; // Convert to 32bit integer\n  }\n  return hash;\n};",
		"outputs": 1,
		"noerr": 0,
		"x": 660,
		"y": 1194,
		"wires": [["f909ce0c.a7cc3"]]
	}, {
		"id": "f909ce0c.a7cc3",
		"type": "http response",
		"z": "57b00185.eebcd",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 858,
		"y": 1194,
		"wires": []
	}, {
		"id": "468dbd4b.e0b96c",
		"type": "http in",
		"z": "57b00185.eebcd",
		"name": "",
		"url": "/ht_api/LINE006_Q01",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 389,
		"y": 1242,
		"wires": [["465a7324.f3aefc", "4f711b7a.575ef4"]]
	}, {
		"id": "465a7324.f3aefc",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "serv列表",
		"func": "msg.payload = JSON.parse(msg.payload.jsonstr);\n\nmsg.payload = {\n    \"rtnCode\": \"0\",\n    \"rtnMsg\": \"\",\n    \"USERINFO\": [\n        {\n            \"LICSNO\": \"RBD-0021\",\n            \"FRAN\": \"L\",\n            \"CARNM\": \"IS300h\",\n            \"ENCYID\": \"C0001\",\n            \"MOBILE\": \"0919863010\",\n            \"NICKNAME\": \"測試使用者1\",\n            \"PICURL\": \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIGa49DabvTpQldi1JH7KHt2TeGFmn_3g4U2jAegFdvRLFunkYQg\",\n            \"FENDAT\": \"19000101\",\n            \"UENDAT\": \"19000101\",\n            \"BRTHDT\": \"19911111\",\n            \"FFLAG\": \"Y\",\n            \"UFLAG\": \"Y\",\n            \"BIRFLAG\": \"Y\",\n            \"USERID\": msg.payload.USERID\n        },\n        {\n            \"LICSNO\": \"RBD-0022\",\n            \"FRAN\": \"L\",\n            \"CARNM\": \"IS300h\",\n            \"ENCYID\": \"C0002\",\n            \"MOBILE\": \"0919863010\",\n            \"NICKNAME\": \"測試使用者2\",\n            \"PICURL\": \"https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/079/99/0010799970.jpg&v=5ba225b9&w=348&h=348\",\n            \"FENDAT\": \"19000101\",\n            \"UENDAT\": \"19000101\",\n            \"BRTHDT\": \"19911111\",\n            \"FFLAG\": \"Y\",\n            \"UFLAG\": \"Y\",\n            \"BIRFLAG\": \"Y\",\n            \"USERID\": msg.payload.USERID\n        },\n        {\n            \"LICSNO\": \"RBD-0023\",\n            \"FRAN\": \"L\",\n            \"CARNM\": \"IS300h\",\n            \"ENCYID\": \"C0003\",\n            \"MOBILE\": \"0919863010\",\n            \"NICKNAME\": \"測試使用者3\",\n            \"PICURL\": \"http://blog.accupass.com/wp-content/uploads/2017/03/1_120122230539_1.jpg\",\n            \"FENDAT\": \"19000101\",\n            \"UENDAT\": \"19000101\",\n            \"BRTHDT\": \"19911111\",\n            \"FFLAG\": \"Y\",\n            \"UFLAG\": \"Y\",\n            \"BIRFLAG\": \"Y\",\n            \"USERID\": msg.payload.USERID\n        }\n    ]\n}\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 649,
		"y": 1242,
		"wires": [["d76de408.05cbd"]]
	}, {
		"id": "d76de408.05cbd",
		"type": "http response",
		"z": "57b00185.eebcd",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 857,
		"y": 1242,
		"wires": []
	}, {
		"id": "2fa83023.e084f",
		"type": "http in",
		"z": "57b00185.eebcd",
		"name": "",
		"url": "/ht_api/USER_LOGIN",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 388,
		"y": 1289,
		"wires": [["b70a3861.ad1a78", "4f711b7a.575ef4"]]
	}, {
		"id": "b70a3861.ad1a78",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "serv登入",
		"func": "msg.payload = JSON.parse(msg.payload.jsonstr);\n\nlet manager_dict = {\n    \"AA00001\":\"陳柏廷\",\n    \"AA00002\":\"劉孟函\",\n    \"AA94453\":\"預設管理員1\",\n    \"AA99061\":\"預設管理員2\"\n}\n\nmsg.payload = {\n    \"rtnCode\": \"0\",\n    \"rtnMsg\": \"\",\n    \"FLAG\": \"Y\",\n    \"COMPID\": \"AA\",\n    \"DLRCD\": \"A\",\n    \"BRNHCD\": \"01\",\n    \"SECTCD\": \"0\",\n    \"FRAN\": \"L\",\n    \"USERID\": msg.payload.USERID,\n    \"USERNM\": manager_dict[msg.payload.USERID],\n    \"ECHOTITLECD\": \"D\",\n    \"COMPSIMPNM\": \"國都汽車\",\n    \"DEPTSIMPNM\": \"丹鳳服務廠\"\n}\n\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 648,
		"y": 1289,
		"wires": [["d569afd4.48359"]]
	}, {
		"id": "d569afd4.48359",
		"type": "http response",
		"z": "57b00185.eebcd",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 856,
		"y": 1289,
		"wires": []
	}, {
		"id": "4f711b7a.575ef4",
		"type": "debug",
		"z": "57b00185.eebcd",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 640,
		"y": 1354,
		"wires": []
	}, {
		"id": "6f3ef84d.256c18",
		"type": "http in",
		"z": "f608959e.427a4",
		"name": "",
		"url": "/servicebot_conversation",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 328.566650390625,
		"y": 455,
		"wires": [["905c2cc0.48e348", "10f7fb12.59e8f5"]]
	}, {
		"id": "6545ddae.060a2c",
		"type": "switch",
		"z": "f608959e.427a4",
		"name": "TokenCheck",
		"property": "payload.token",
		"propertyType": "msg",
		"rules": [{
				"t": "eq",
				"v": "b68d9f5a-9154-420e-9940-d67f721a16ec",
				"vt": "str"
			}, {
				"t": "else"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 2,
		"x": 728.566650390625,
		"y": 375,
		"wires": [["bcc4984d.a451c", "f7b34d6c.3daa3"], ["9d569a1.0a77468"]]
	}, {
		"id": "9d569a1.0a77468",
		"type": "template",
		"z": "f608959e.427a4",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"error\": {\n\t\t\"message\": \"Error validating token.\",\n\t\t\"type\": \"OAuthException\"\n\t}\n}\n",
		"output": "json",
		"x": 898.566650390625,
		"y": 415,
		"wires": [["65ed996e.ce747", "3fa54430.6d45a4"]]
	}, {
		"id": "bcc4984d.a451c",
		"type": "switch",
		"z": "f608959e.427a4",
		"name": "MsgFormatCheck",
		"property": "payload.type",
		"propertyType": "msg",
		"rules": [{
				"t": "eq",
				"v": "text",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "image",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "audio",
				"vt": "str"
			}, {
				"t": "else"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 4,
		"x": 918.566650390625,
		"y": 335,
		"wires": [["5356ab8c.a788b4"], ["6fec537f.5dd6c4"], ["89813b84.7bbfa"], ["d142add7.0254c"]]
	}, {
		"id": "65ed996e.ce747",
		"type": "http response",
		"z": "f608959e.427a4",
		"name": "",
		"statusCode": "401",
		"headers": {},
		"x": 1058.566650390625,
		"y": 435,
		"wires": []
	}, {
		"id": "cde21d9a.69ce38",
		"type": "http response",
		"z": "f608959e.427a4",
		"name": "Response",
		"statusCode": "200",
		"headers": {},
		"x": 1498.566795349121,
		"y": 297.85716247558594,
		"wires": []
	}, {
		"id": "cf74a65a.172088",
		"type": "http response",
		"z": "f608959e.427a4",
		"name": "",
		"statusCode": "400",
		"headers": {},
		"x": 1298.566650390625,
		"y": 415,
		"wires": []
	}, {
		"id": "d142add7.0254c",
		"type": "template",
		"z": "f608959e.427a4",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"error\": {\n\t\t\"message\": \"Unexception message type.\",\n\t\t\"type\": \"BadRequest\"\n\t}\n}\n",
		"output": "json",
		"x": 1118.566650390625,
		"y": 395,
		"wires": [["cf74a65a.172088", "6c78aacf.f3ccc4"]]
	}, {
		"id": "72ccffbf.9af058",
		"type": "debug",
		"z": "f608959e.427a4",
		"name": "RequestMessage",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 588.566650390625,
		"y": 335,
		"wires": []
	}, {
		"id": "7c4974b2.08df9c",
		"type": "debug",
		"z": "f608959e.427a4",
		"name": "ResponseMessage",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1538.566650390625,
		"y": 255,
		"wires": []
	}, {
		"id": "29b8b8eb.511d08",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "ContextDeal",
		"func": "msg.flow_config.time_record.response_time = Date.now();\n\nmsg.payload = msg.retMsg;\n\nlet context = null;\n//1.最基礎有進來的context\n//2.如果有出來 而且不是hardcode的\ncontext = msg.req_para!=null && msg.req_para.context!=null\n            ? msg.req_para.context : context;\ncontext = msg.assistant_says!=null && msg.assistant_says.context!=null && msg.assistant_says.context.conversation_id!=null\n            ? msg.assistant_says.context : context;\n\nmsg.payload.context = context;\n\nif(msg.payload.context && msg.payload.context.doActions){\n    delete msg.payload.context.doActions;\n}\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1288.566650390625,
		"y": 315,
		"wires": [["cde21d9a.69ce38", "7c4974b2.08df9c", "9549d948.321e78"]]
	}, {
		"id": "5356ab8c.a788b4",
		"type": "link out",
		"z": "f608959e.427a4",
		"name": "Line TextMessage IN - A",
		"links": ["ddb875c2.acfab8", "d3907162.10e98"],
		"x": 1093.566650390625,
		"y": 275,
		"wires": []
	}, {
		"id": "8fbb7bf8.e5e0e8",
		"type": "link out",
		"z": "f608959e.427a4",
		"name": "Line TextMessage OUT - B",
		"links": ["76fea942.887438"],
		"x": 953.566650390625,
		"y": 1195,
		"wires": []
	}, {
		"id": "76fea942.887438",
		"type": "link in",
		"z": "f608959e.427a4",
		"name": "Line TextMessage OUT - A",
		"links": ["8fbb7bf8.e5e0e8", "71706500.b9b98c", "3b07f1f5.31025e"],
		"x": 1153.566650390625,
		"y": 275,
		"wires": [["29b8b8eb.511d08", "baefea70.55138"]]
	}, {
		"id": "ead33927.89b698",
		"type": "link in",
		"z": "f608959e.427a4",
		"name": "華生說-B for 5",
		"links": ["ddda1664.1c09c8", "a5061e9.e31a1e", "bd2ff7d.1dff808", "a20a8277.d1c3"],
		"x": 213.566650390625,
		"y": 1215,
		"wires": [["e7857c73.cf03f8"]]
	}, {
		"id": "1413c221.eaa956",
		"type": "switch",
		"z": "f608959e.427a4",
		"name": "",
		"property": "watson_doAction.type",
		"propertyType": "msg",
		"rules": [{
				"t": "eq",
				"v": "text",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "my_btns",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "carousel",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "image_carousel",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "buttons",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "promote_activity",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "some_menu",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "special_coordinator",
				"vt": "str"
			}, {
				"t": "else"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 9,
		"x": 448.566650390625,
		"y": 1215,
		"wires": [["bdf4e6bc.102d8"], ["b6f408df.9282f8"], ["ce78368a.ef13b"], ["1f9e9fb1.a0b83"], ["f8650e6.3ca8b7"], ["edd81aff.799c78"], ["9ca28da5.8ae4e"], ["be541851.ca986"], ["c306261f.024708"]]
	}, {
		"id": "bdf4e6bc.102d8",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "text",
		"func": "\nlet target = msg.target;\nlet messageTemplate=\n{\n    \"to\": target,\n    \"messages\":[\n        msg.watson_doAction\n        \n    ]\n};\nmsg.retMsg = messageTemplate;\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 728.5667724609375,
		"y": 1088,
		"wires": [["8fbb7bf8.e5e0e8"]]
	}, {
		"id": "b6f408df.9282f8",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "my_btns",
		"func": "let target = msg.target;\nlet watson_doAction= msg.watson_doAction;\n\nlet btns =[];\nfor(let i=0;i<watson_doAction.buttonAssign.length;i++){\n    btns.push({\n\t\t\"type\": \"message\",\n\t\t\"label\": watson_doAction.buttonAssign[i],\n\t\t\"text\": watson_doAction.buttonAssign[i]\n\t});\n}\nwhile(btns.length>4){\n    btns.pop();\n}\n\nlet messageTemplate=\n{\n\t\"to\": target,\n\t\"messages\": [{\n\t\t\"type\": \"template\",\n\t\t\"altText\": watson_doAction.buttonTitle,\n\t\t\"template\": {\n\t\t\t\"type\": \"buttons\",\n\t\t\t\"text\": watson_doAction.buttonTitle,\n\t\t\t\"actions\": btns\n\t\t}\n\t}]\n};\n\nmsg.retMsg = messageTemplate;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 737.5667724609375,
		"y": 1128,
		"wires": [["8fbb7bf8.e5e0e8"]]
	}, {
		"id": "de4e9603.6a3e5",
		"type": "comment",
		"z": "f608959e.427a4",
		"name": "Assistant",
		"info": "",
		"x": 198.566650390625,
		"y": 655,
		"wires": []
	}, {
		"id": "b6a6a0a9.729a9",
		"type": "comment",
		"z": "f608959e.427a4",
		"name": "訊息轉Template處理",
		"info": "",
		"x": 248.566650390625,
		"y": 1115,
		"wires": []
	}, {
		"id": "d3a23fe8.4bb428",
		"type": "comment",
		"z": "f608959e.427a4",
		"name": "API In",
		"info": "",
		"x": 208.566650390625,
		"y": 295,
		"wires": []
	}, {
		"id": "ce78368a.ef13b",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "carousel",
		"func": "let target = msg.target;\nlet watson_doAction= msg.watson_doAction;\n\n\nfor (let j = 0; watson_doAction.columns && j<watson_doAction.columns.length ; j++) {\n    \n    let column = watson_doAction.columns[j];\n    if(column.imageUrl!=null){\n        column.thumbnailImageUrl = column.imageUrl;\n        delete column.imageUrl;\n    }\n    if(column.actions && column.actions.length==1 && column.actions[0].type==\"uri\" && column.defaultAction==null){\n        column.defaultAction = column.actions[0];\n        delete column.imageUrl;\n    }\n    \n}\n\nlet messageTemplate=\n{\n\t\"to\": target,\n\t\"messages\": (watson_doAction.text\n\t?[{\n        \"type\":\"text\",\n        \"text\":watson_doAction.text\n    }]\n    :[]\n    ).concat(\n        [{\n    \t\t\"type\": \"template\",\n    \t\t\"altText\": watson_doAction.altText,\n    \t\t\"template\": {\n    \t\t\t\"type\": watson_doAction.type,\n    \t\t    \"imageAspectRatio\": watson_doAction.imageAspectRatio?watson_doAction.imageAspectRatio:\"rectangle\",//\"square\",\n                \"imageSize\": \"cover\",//\"contain\",\n    \t\t\t\"columns\": watson_doAction.columns,\n    \t\t}\n    \t}]\n\t)\n};\nmsg.retMsg = messageTemplate;\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 738.5665283203125,
		"y": 1165.25,
		"wires": [["8fbb7bf8.e5e0e8"]]
	}, {
		"id": "e7857c73.cf03f8",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "",
		"func": "if(Array.isArray(msg.watson_doActions) && msg.watson_doActions.length>0){\n    msg.watson_doAction = msg.watson_doActions[0];\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 308.566650390625,
		"y": 1215,
		"wires": [["1413c221.eaa956"]]
	}, {
		"id": "c306261f.024708",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "anythingElse",
		"func": "\nmsg.retMsg = {};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 748.566650390625,
		"y": 1475,
		"wires": [["8fbb7bf8.e5e0e8"]]
	}, {
		"id": "1f9e9fb1.a0b83",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "image_carousel",
		"func": "let target = msg.target;\nlet watson_doAction= msg.watson_doAction;\n\nlet messageTemplate=\n{\n\t\"to\": target,\n\t\"messages\": [{\n        \"type\":\"text\",\n        \"text\":watson_doAction.text\n    },{\n\t\t\"type\": \"template\",\n\t\t\"altText\": watson_doAction.altText,\n\t\t\"template\": {\n\t\t\t\"type\": watson_doAction.type,\n\t\t\t\"columns\": watson_doAction.columns,\n\t\t\t//\"imageSize\": \"cover\"\n\t\t}\n\t}]\n};\nmsg.retMsg = messageTemplate;\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 758.566650390625,
		"y": 1208,
		"wires": [["8fbb7bf8.e5e0e8"]]
	}, {
		"id": "f8650e6.3ca8b7",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "buttons",
		"func": "let target = msg.target;\nlet watson_doAction= msg.watson_doAction;\n\nlet messageTemplate=\n{\n\t\"to\": target,\n\t\"messages\": [{\n\t\t\"type\": \"template\",\n\t\t\"altText\": watson_doAction.altText,\n\t\t\"template\": {\n\t\t\t\"type\": \"buttons\",\n\t\t\t\"text\": watson_doAction.text,\n\t\t\t\"actions\": watson_doAction.actions\n\t\t}\n\t}]\n};\n\nmsg.retMsg = messageTemplate;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 738.566650390625,
		"y": 1250.0000019073486,
		"wires": [["8fbb7bf8.e5e0e8"]]
	}, {
		"id": "7dd343f.480443c",
		"type": "catch",
		"z": "f608959e.427a4",
		"name": "",
		"scope": ["6f3ef84d.256c18", "c306261f.024708", "d3a23fe8.4bb428", "de4e9603.6a3e5", "89813b84.7bbfa", "f8650e6.3ca8b7", "ce78368a.ef13b", "4db72e54.d18878", "29b8b8eb.511d08", "f7b34d6c.3daa3", "2af0fa98.b421a6", "f88ddfc3.45164", "8c9ccf9f.361ee", "ec18dc48.b447c8", "e7857c73.cf03f8", "b9764bf8.94d0a8", "300f4900.8aab9", "9e8c50e6.80bca8", "2512a471.43f8dc", "a1519ffd.05d458", "6be156fe.bbc6c", "86893078.521f18", "6c78aacf.f3ccc4", "3fa54430.6d45a4", "44de2be6.ec0f34", "cf74a65a.172088", "65ed996e.ce747", "1f9e9fb1.a0b83", "5356ab8c.a788b4", "d3907162.10e98", "76fea942.887438", "8fbb7bf8.e5e0e8", "275417c3.2b3c28", "acfc1436.d374d8", "df49eebb.11c29", "eb27f37b.69ac48", "edd81aff.799c78", "bcc4984d.a451c", "b6f408df.9282f8", "6fec537f.5dd6c4", "c06faf96.20aec", "9549d948.321e78", "72ccffbf.9af058", "cde21d9a.69ce38", "7c4974b2.08df9c", "fc35a932.507718", "de9a71a6.322c58", "cf906e5d.e3f68", "9ca28da5.8ae4e", "1413c221.eaa956", "9d569a1.0a77468", "d142add7.0254c", "bdf4e6bc.102d8", "6545ddae.060a2c", "9e72530f.7ab01", "a20a8277.d1c3", "ead33927.89b698", "b6a6a0a9.729a9"],
		"x": 288.566650390625,
		"y": 135,
		"wires": [["1b15af12.97ae89", "76e1dc07.4ecc44"]]
	}, {
		"id": "76e1dc07.4ecc44",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "ERROR",
		"func": "\nlet timestamp = Date.now();\n\nmsg.payload = {\n    type:\"system_occurred\",\n    error: msg.error,\n    req_para: msg.req_para,\n    timestamp: timestamp,\n    time: new Date(new Date(timestamp).getTime()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0]\n};\n\nnode.status({fill:\"red\",shape:\"dot\",text:new Date(Date.now()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0]+JSON.stringify(msg.error)});\n\nif(msg.res){\n    return [msg,msg,{\n        payload:{\n            error_type:\"system_occurred\",\n            error:msg.error\n        }\n    }];\n}else{\n    return [msg,null,{\n        payload:{\n            error_type:\"system_occurred\",\n            error:msg.error\n        }\n    }];\n}",
		"outputs": 3,
		"noerr": 0,
		"x": 488.566650390625,
		"y": 115,
		"wires": [["699672b6.af7b04"], ["d123dcc4.a9dfc8"], ["e9dcf0d0.4f4028"]]
	}, {
		"id": "4f6a1a2d.e14ac4",
		"type": "http response",
		"z": "f608959e.427a4",
		"name": "ERROR",
		"statusCode": "500",
		"headers": {},
		"x": 848.566650390625,
		"y": 154,
		"wires": []
	}, {
		"id": "d123dcc4.a9dfc8",
		"type": "template",
		"z": "f608959e.427a4",
		"name": "ERROR",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"error\": {\n\t\t\"message\": \"Unexception error.\",\n\t\t\"type\": \"Internal Server Error\"\n\t}\n}\n",
		"output": "json",
		"x": 668.566650390625,
		"y": 135,
		"wires": [["4f6a1a2d.e14ac4"]]
	}, {
		"id": "1b15af12.97ae89",
		"type": "debug",
		"z": "f608959e.427a4",
		"name": "ERROR",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 478.566650390625,
		"y": 175,
		"wires": []
	}, {
		"id": "9ca28da5.8ae4e",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "some_menu",
		"func": "let target =  msg.target;\nlet HT_image_space = msg.flow_config.HT_image_space;\nlet imageMap = {\n  \"type\": \"imagemap\",\n  \"baseUrl\": HT_image_space+\"service_menu\",\n  \"altText\": \"TOYOTA_LINE_個人化服務\",\n  \"baseSize\": {\n      \"height\": 1040,\n      \"width\": 1040\n  },\n  \"actions\": [\n      {\n          //認證中古車\n          \"type\": \"uri\",\n          \"linkUri\": \"https://www.toyota.com.tw/sh/\",\n          \"area\": {\n              \"x\": 1,\n              \"y\": 180,\n              \"width\": 518,\n              \"height\": 199\n          }\n      },\n      {\n          //驅動城市\n          \"type\": \"uri\",\n          \"linkUri\": \"https://www.toyota.com.tw/app/citydriver/\",\n          \"area\": {\n              \"x\": 522,\n              \"y\": 181,\n              \"width\": 518,\n              \"height\": 199\n          }\n      },\n      {\n          //TOYOTA精品\n          \"type\": \"uri\",\n          \"linkUri\": \"https://www.toyota.com.tw/collection.aspx\",\n          \"area\": {\n              \"x\": 0,\n              \"y\": 383,\n              \"width\": 519,\n              \"height\": 199\n          }\n      },\n      {\n          //FB粉專\n          \"type\": \"uri\",\n          \"linkUri\": \"https://www.facebook.com/TOYOTA.Taiwan\",\n          \"area\": {\n              \"x\": 521,\n              \"y\": 383,\n              \"width\": 519,\n              \"height\": 200\n          }\n      },\n      {\n          //汽車保險\n          \"type\": \"uri\",\n          \"linkUri\": \"https://ec.hotains.com.tw/\",\n          \"area\": {\n              \"x\": 1,\n              \"y\": 585,\n              \"width\": 518,\n              \"height\": 199\n          }\n      },\n      {\n          //IG官方\n          \"type\": \"uri\",\n          \"linkUri\": \"https://www.instagram.com/toyotatw/\",\n          \"area\": {\n              \"x\": 522,\n              \"y\": 585,\n              \"width\": 518,\n              \"height\": 199\n          }\n      },\n      {\n          //汽車貸款\n          \"type\": \"uri\",\n          \"linkUri\": \"https://www.easypay.com.tw/02Inst1\",\n          \"area\": {\n              \"x\": 0,\n              \"y\": 786,\n              \"width\": 520,\n              \"height\": 254\n          }\n      },\n      {\n          //Youtube頻道\n          \"type\": \"uri\",\n          \"linkUri\": \"https://www.youtube.com/user/TOYOTA2012TW\",\n          \"area\": {\n              \"x\": 522,\n              \"y\": 787,\n              \"width\": 518,\n              \"height\": 253\n          }\n      }\n  ]\n};\n\nlet imageMapText = {\n    \"to\":target,\n    \"messages\":[\n        imageMap\n    ]\n};\n\nmsg.retMsg = imageMapText;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 748.566650390625,
		"y": 1335,
		"wires": [["8fbb7bf8.e5e0e8"]]
	}, {
		"id": "ec18dc48.b447c8",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "FlowConfig",
		"func": "msg.req_para = msg.payload;\n\nnode.status({fill:\"green\",shape:\"dot\",text:new Date(Date.now()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0]});\n\nmsg.flow_config = {\n    \"HT_API_host\":\"https://nodered-api-lexus-test.mybluemix.net/ht_api/\",\n    //\"HT_API_host\":\"https://htsr.hotaimotor.com.tw/LINEAPI_TEST/Service.asmx\",\n    \"HT_image_space\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/\",\n    //\"HT_image_space\": \"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage01/LINE_images_prod/\",\n    \"one_on_one_host\":\"http://192.168.43.43:8080/\",\n    \"watson_config\": [{\n        \"name\":\"Develop Assistant\",\n        \"workspaceId\": '234bf172-8356-42cc-8ec3-cb0a3dc69a0c',\n        \"username\": \"4003aefc-79f8-4c14-a497-f720829da4f0\",\n        \"password\": \"ZYqZvVngtxaX\"\n    }],\n    \"time_record\":{\n        request_time: Date.now()\n    }\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 568.566650390625,
		"y": 375,
		"wires": [["6545ddae.060a2c"]]
	}, {
		"id": "9549d948.321e78",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "Record",
		"func": "\nif(msg.payload!=null &&\n    msg.payload.context!=null &&\n    msg.payload.context.car_model_info\n){  //輸出context\n    msg.payload.context.car_model_info=\"Been reduced.\";\n}\n\nlet watson_says = msg.assistant_says!=null && \n                    msg.assistant_says.output!=null && \n                    msg.assistant_says.output.text!=null\n                    ?msg.assistant_says.output.text.join(\"\"):\"\";\n\nlet timestamp = Date.now();\n\nlet watson_assistant_out = null;\nif(msg.assistant_says!=null && !msg.passWatson){\n    watson_assistant_out = msg.assistant_says;\n    watson_assistant_out.workspaceId = msg.flow_config.usedWorkspace;\n    watson_assistant_out.watsonName = msg.flow_config.usedWatsonName;\n}\n\nreturn {\n    payload:Object.assign(\n        msg.flow_config.time_record,\n        {\n            watson_assistant_out:watson_assistant_out\n        },\n        {\n            input: msg.req_para.message,\n            output: msg.payload,\n            outputStr: watson_says,\n            timestamp:timestamp,\n            time : new Date(timestamp+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0],\n        }\n    )\n};",
		"outputs": 1,
		"noerr": 0,
		"x": 1484.449951171875,
		"y": 354.0333251953125,
		"wires": [["eb27f37b.69ac48"]]
	}, {
		"id": "4db72e54.d18878",
		"type": "catch",
		"z": "f608959e.427a4",
		"name": "",
		"scope": ["2be8c963.fd9c2e", "21b2e375.220244", "5f00487f.cbe7f8"],
		"x": 558.566650390625,
		"y": 975,
		"wires": [["8c9ccf9f.361ee"]]
	}, {
		"id": "8c9ccf9f.361ee",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "ERROR_RESPONSE",
		"func": "\nif(msg.req_para.context==null || typeof msg.req_para.context !=\"object\"){\n    msg.req_para.context = {};\n}\nmsg.req_para.context.doActions = [{\"text\":\"如有購車需求，歡迎前往全台展示中心，維修保養請洽服務廠，或點選線上文字客服，由專人為您服務唷，感謝您的詢問😊\",\"type\":\"buttons\",\"actions\":[{\"uri\":\"http://www.toyota.com.tw/location.aspx\",\"type\":\"uri\",\"label\":\"全台展示中心\"},{\"uri\":\"https://www.toyota.com.tw/dealer.aspx\",\"type\":\"uri\",\"label\":\"TOYOTA服務廠\"},{\"uri\":\"https://csonline.hotaimotor.com.tw/index.php\",\"type\":\"uri\",\"label\":\"線上文字客服\"}],\"altText\":\"如有購車需求，歡迎前往全台展示中心，維修保養請洽服務廠，或點選線上文字客服，由專人為您服務唷，感謝您的詢問😊\"}];\n\nmsg.payload = {\n\t\"intents\": [],\n\t\"entities\": [],\n\t\"input\": {\n\t\t\"text\": msg.req_para.message\n\t},\n\t\"output\": {\n\t\t\"text\": [\"\"],//Assistant發生異常Error\n\t},\n\t\"context\": msg.req_para.context\n};\n\nlet timestamp = Date.now();\nnode.status({fill:\"red\",shape:\"dot\",text:new Date(Date.now()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0]+JSON.stringify(msg.error)});\nreturn[msg,{\n    payload:{\n        type: \"watson_throw\",\n        error: msg.error,\n        req_para: msg.req_para,\n        timestamp: timestamp,\n        time: new Date(new Date(timestamp).getTime()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0],\n        msgID:msg.msgID\n    }\n},{\n    payload:{\n        error_type:\"watson_throw\",\n        error:msg.error\n    }\n}];\n",
		"outputs": 3,
		"noerr": 0,
		"x": 728.566650390625,
		"y": 975,
		"wires": [["2512a471.43f8dc"], ["489c9d19.882e9c"], ["e6600314.ee73c8", "ef96f8e2.4d8fc8"]]
	}, {
		"id": "2af0fa98.b421a6",
		"type": "comment",
		"z": "f608959e.427a4",
		"name": "Deploy remind",
		"info": "ERROR有六個點不包含\n五個error下的子節點\nASSISTANT service",
		"x": 368.566650390625,
		"y": 75,
		"wires": []
	}, {
		"id": "edd81aff.799c78",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "lottery_pic(正測不一)",
		"func": "let target =  msg.target;\nlet HT_image_space = msg.flow_config.HT_image_space;\nlet imageMap = {\n  \"type\": \"imagemap\",\n \n  \"baseUrl\": HT_image_space+\"promote_activity\",\n  \"altText\": \"TOYOTA LINE歡慶開台刮刮樂，抽沖繩愛的大冒險 ✨\",\n  \"baseSize\": {\n      \"height\": 1040,\n      \"width\": 1040\n  },\n  \"actions\": [\n      {\n          \"type\": \"uri\",\n          \"linkUri\": \"https://toyotadev.gadclubs.com/zh_TW/hotaimotor_verify_event\",\n          \"area\": {\n              \"x\": 0,\n              \"y\": 0,\n              \"width\": 1040,\n              \"height\": 1040\n          }\n      }\n  ]\n};\n\nlet imageMapText = {\n    \"to\":target,\n    \"messages\":[\n        imageMap\n    ]\n};\n\nmsg.retMsg = imageMapText;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 778.566650390625,
		"y": 1295,
		"wires": [["8fbb7bf8.e5e0e8"]]
	}, {
		"id": "f88ddfc3.45164",
		"type": "comment",
		"z": "f608959e.427a4",
		"name": "Error handling",
		"info": "",
		"x": 188.566650390625,
		"y": 74,
		"wires": []
	}, {
		"id": "89813b84.7bbfa",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "Audio",
		"func": "msg.retMsg={\n    \"to\": \"\",\n    \"messages\":[\n        {\n            \"type\":\"text\",\n            \"text\":\"抱歉我聽不太懂，可以用文字告訴我嗎?\"\n        }\n    ],\n    \"context\":msg.req_para.context\n};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1108.566650390625,
		"y": 355,
		"wires": [["29b8b8eb.511d08"]]
	}, {
		"id": "6fec537f.5dd6c4",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "Picture",
		"func": "msg.retMsg={\n    \"to\": \"\",\n    \"messages\":[\n        {\n            \"type\":\"text\",\n            \"text\":\"抱歉我看不懂圖片，可以用文字告訴我嗎?\"\n        }\n    ],\n    \"context\":msg.req_para.context\n};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1108.566650390625,
		"y": 315,
		"wires": [["29b8b8eb.511d08"]]
	}, {
		"id": "275417c3.2b3c28",
		"type": "ibmiot out",
		"z": "f608959e.427a4",
		"authentication": "boundService",
		"apiKey": "",
		"outputType": "evt",
		"deviceId": "iotMQTT",
		"deviceType": "robot",
		"eventCommandType": "SaveCloudantLog",
		"format": "json",
		"data": "msg.payload",
		"qos": 0,
		"name": "Log",
		"service": "registered",
		"x": 1428.566650390625,
		"y": 475,
		"wires": []
	}, {
		"id": "f7b34d6c.3daa3",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "ContextFormatMail",
		"func": "if(msg.payload!=null && msg.payload.context!=null && typeof msg.payload.context!=\"object\"){\n    return msg;\n}\n",
		"outputs": 1,
		"noerr": 0,
		"x": 938.566650390625,
		"y": 275,
		"wires": [["acfc1436.d374d8"]]
	}, {
		"id": "acfc1436.d374d8",
		"type": "ibmiot out",
		"z": "f608959e.427a4",
		"authentication": "boundService",
		"apiKey": "",
		"outputType": "evt",
		"deviceId": "iotMQTT",
		"deviceType": "robot",
		"eventCommandType": "SendMail",
		"format": "json",
		"data": "msg.payload",
		"qos": 0,
		"name": "Log",
		"service": "registered",
		"x": 1128.566650390625,
		"y": 235,
		"wires": []
	}, {
		"id": "fc35a932.507718",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "Set 1st Assistant cfg",
		"func": "let workspace = msg.flow_config.watson_config[0];\nmsg.payload = msg.req_para.message;\nmsg.params = {\n    // workspace_id: '4f4fdaac-d83f-4082-8c8b-119a7ef4bded',\n    // username: '6b9f6b52-dbbc-4631-8df7-16c985c9bc58',\n    // password: 'WqdvwrVCoMlt',\n    // context: msg.req_para.context\n    workspace_id: workspace.workspaceId,\n    username: workspace.username,\n    password: workspace.password,\n    context: msg.req_para.context,\n    timeout: 5000\n};\n\nmsg.flow_config.usedWorkspace = workspace.workspaceId;\nmsg.flow_config.usedWatsonName = workspace.name;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 428.566650390625,
		"y": 815,
		"wires": [["2be8c963.fd9c2e"]]
	}, {
		"id": "2be8c963.fd9c2e",
		"type": "watson-conversation-v1",
		"z": "f608959e.427a4",
		"name": "",
		"workspaceid": "",
		"multiuser": true,
		"context": false,
		"empty-payload": false,
		"default-endpoint": true,
		"service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
		"timeout": "",
		"optout-learning": false,
		"x": 638.566650390625,
		"y": 815,
		"wires": [["b9764bf8.94d0a8", "1b4694c3.bd9c03"]]
	}, {
		"id": "b9764bf8.94d0a8",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "",
		"func": "if(\n    msg.payload && \n    msg.payload.output && \n    msg.payload.output.text && \n    msg.payload.output.text[0] && \n    msg.payload.output.text[0]==\"我無法回答此問題\" \n){\n    return [null,msg];\n}else{\n    return [msg,null];\n}",
		"outputs": 2,
		"noerr": 0,
		"x": 788.566650390625,
		"y": 815,
		"wires": [["2512a471.43f8dc"], ["2512a471.43f8dc"]]
	}, {
		"id": "de9a71a6.322c58",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "Set 2nd Assistant cfg",
		"func": "let workspace = msg.flow_config.watson_config[1];\nmsg.payload = msg.req_para.message;\nmsg.params = {\n    workspace_id: workspace.workspaceId,\n    username: workspace.username,\n    password: workspace.password,\n    context: msg.req_para.context\n};\n\nmsg.flow_config.usedWorkspace = workspace.workspaceId;\nmsg.flow_config.usedWatsonName = workspace.name;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 418.566650390625,
		"y": 872,
		"wires": [["21b2e375.220244"]]
	}, {
		"id": "21b2e375.220244",
		"type": "watson-conversation-v1",
		"z": "f608959e.427a4",
		"name": "",
		"workspaceid": "",
		"multiuser": true,
		"context": false,
		"empty-payload": false,
		"default-endpoint": true,
		"service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
		"timeout": "",
		"optout-learning": false,
		"x": 638.566650390625,
		"y": 872,
		"wires": [["300f4900.8aab9"]]
	}, {
		"id": "300f4900.8aab9",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "",
		"func": "if(\n    msg.payload && \n    msg.payload.output && \n    msg.payload.output.text && \n    msg.payload.output.text[0] && \n    msg.payload.output.text[0]==\"我無法回答此問題\" \n){\n    return [null,msg];\n}else{\n    return [msg,null];\n}",
		"outputs": 2,
		"noerr": 0,
		"x": 788.566650390625,
		"y": 872,
		"wires": [["2512a471.43f8dc"], ["2512a471.43f8dc"]]
	}, {
		"id": "d3907162.10e98",
		"type": "link in",
		"z": "f608959e.427a4",
		"name": "Line TextMessage IN - B",
		"links": ["5356ab8c.a788b4"],
		"x": 353.566650390625,
		"y": 695,
		"wires": [["a1519ffd.05d458"]]
	}, {
		"id": "2512a471.43f8dc",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "",
		"func": "msg.flow_config.time_record.assistant_return = Date.now();\nmsg.assistant_says = msg.payload;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 968.566650390625,
		"y": 855,
		"wires": [["6be156fe.bbc6c", "86893078.521f18", "33061171.f08e16"]]
	}, {
		"id": "a1519ffd.05d458",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "",
		"func": "msg.req_para.message = msg.req_para.message!=null?msg.req_para.message.toUpperCase().replace(/[\\t\\n\\r]/g,\"\"):\" \";\nmsg.target = msg.req_para.replyId;\nif(Array.isArray(msg.req_para.context)){\n    msg.req_para.context = null;\n}\nmsg.flow_config.time_record.assistant_call = Date.now();\nnode.status({fill:\"green\",shape:\"dot\",text:msg.req_para.message});\nnode.warn(\"says: \"+msg.req_para.message);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 488.566650390625,
		"y": 695,
		"wires": [["44de2be6.ec0f34"]]
	}, {
		"id": "44de2be6.ec0f34",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "HardCodeResponse",
		"func": "\nlet hard_response = hard_code_response_check(msg.req_para.message);\n\nif( hard_response!=null){\n    \n    if(msg.req_para.context==null || typeof msg.req_para.context !=\"object\"){\n        msg.req_para.context = {};\n    }\n    let output_text = \"\";\n    output_text = hard_response[0].type?hard_response[0].type+\" template\":output_text;\n    output_text = hard_response[0].altText?hard_response[0].altText:output_text;\n    output_text = hard_response[0].text?hard_response[0].text:output_text;\n    \n    msg.req_para.context.doActions = hard_response;\n    msg.flow_config.usedWorkspace = \"\";\n    msg.flow_config.usedWatsonName = \"\";\n    msg.payload = {\n    \t\"intents\": [],\n    \t\"entities\": [],\n    \t\"input\": {\n    \t\t\"text\": msg.talkToWatson\n    \t},\n    \t\"output\": {\n    \t\t\"text\": [output_text],\n    \t},\n    \t\"context\": msg.req_para.context\n    }\n    msg.passWatson=true;\n    return [msg,null];\n}else{\n    return [null,msg];\n}\n\nfunction hard_code_response_check(message){\n    const input_doActions_pair = {\n        //\"#YTFFTW\":[{\"type\":\"YTFF\",}],\n        //\"YTFF\":[{\"type\":\"YTFF\"}],\n        //\"＃ＹＴＦＦＴＷ\":[{\"type\":\"YTFF\"}],\n        //\"ＹＴＦＦ\":[{\"type\":\"YTFF\"}],\n        \"聯絡專屬專員\":[{\"type\":\"special_coordinator\"}],\n        \"行動展間\":[{\"text\":\"你喜歡什麼類型的車子呢？\",\"type\":\"image_carousel\",\"altText\":\"轎車、掀背車、油電車、休旅車、跑車\",\"columns\":[{\"action\":{\"text\":\"轎車\",\"type\":\"message\",\"label\":\"轎車\"},\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_type/car_type_1_sedan.png\"},{\"action\":{\"text\":\"掀背車\",\"type\":\"message\",\"label\":\"掀背車\"},\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_type/car_type_1_hatchback.png\"},{\"action\":{\"text\":\"油電車\",\"type\":\"message\",\"label\":\"油電車\"},\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_type/car_type_1_eco_friendly.png\"},{\"action\":{\"text\":\"休旅車\",\"type\":\"message\",\"label\":\"休旅車\"},\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_type/car_type_1_RV.png\"},{\"action\":{\"text\":\"跑車\",\"type\":\"message\",\"label\":\"跑車\"},\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_type/car_type_1_sports_car.png\"}]}],\n        //cache\n        \"Hello TOYOTA行動客服\":[{\"text\":\"🙋HiHi！找我嘛～有什麼我可以為您服務的呢\",\"type\":\"carousel\",\"altText\":\"車款資訊、服務資訊、品牌資訊\",\"columns\":[{\"text\":\"服務目錄\",\"actions\":[{\"text\":\"車款資訊\",\"type\":\"message\",\"label\":\"車款資訊\"},{\"text\":\"服務資訊\",\"type\":\"message\",\"label\":\"服務資訊\"},{\"text\":\"品牌資訊\",\"type\":\"message\",\"label\":\"品牌資訊\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage01/LINE_images_prod/TOYOTA_LOGO.png\"}]}],\n        \"轎車\":[{\"text\":\"你想知道哪一台轎車的資訊呢？\",\"type\":\"carousel\",\"altText\":\"Altis, Altis X, Camry, Camry HYBRID, VIOS\",\"columns\":[{\"text\":\"Altis\",\"actions\":[{\"text\":\"我想知道Altis的售價\",\"type\":\"message\",\"label\":\"Altis售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_2017092114491443673042.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/ALTIS\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_altis.png\"},{\"text\":\"Altis X\",\"actions\":[{\"text\":\"我想知道ALTIS X的售價\",\"type\":\"message\",\"label\":\"ALTIS X售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_2017092114491443673042.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/ALTIS\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_altis_x.png\"},{\"text\":\"Camry\",\"actions\":[{\"text\":\"我想知道CAMRY的售價\",\"type\":\"message\",\"label\":\"CAMRY售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_2017100613253865091513.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/CAMRY\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_camry.png\"},{\"text\":\"Camry HYBRID\",\"actions\":[{\"text\":\"我想知道CAMRY Hybrid的售價\",\"type\":\"message\",\"label\":\"CAMRY Hybrid售價\"},{\"uri\":\"https://www.toyota.com.tw/download_pdf.ashx?preview=&carsty=CAMRY_HYBRID\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/CAMRY_HYBRID\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_camry_hybrid.png\"},{\"text\":\"VIOS\",\"actions\":[{\"text\":\"我想知道VIOS的售價\",\"type\":\"message\",\"label\":\"VIOS售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_20180311154339F468KFB1.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/VIOS\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_vios.png\"}]}],\n        \"休旅車\":[{\"text\":\"請問是要問哪一種休旅車呢？\",\"type\":\"image_carousel\",\"altText\":\"運動休旅車(SUV)、多功能休旅車(MPV)\",\"columns\":[{\"action\":{\"text\":\"運動休旅車\",\"type\":\"message\",\"label\":\"運動休旅車\"},\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_type/car_type_3_SUV.png\"},{\"action\":{\"text\":\"多功能休旅車\",\"type\":\"message\",\"label\":\"多功能休旅車\"},\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_type/car_type_3_MPV.png\"}]}],\n        \"掀背車\":[{\"text\":\"你想知道哪一台掀背車的資訊呢？\",\"type\":\"carousel\",\"altText\":\"AURIS, YARIS, PRIUS c, PRIUS\",\"columns\":[{\"text\":\"AURIS\",\"actions\":[{\"text\":\"我想知道AURIS的售價\",\"type\":\"message\",\"label\":\"AURIS售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_2018090816364462513858.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/AURIS\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_auris_v2.png\"},{\"text\":\"YARIS\",\"actions\":[{\"text\":\"我想知道YARIS的售價\",\"type\":\"message\",\"label\":\"YARIS售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_2018040122382275700644.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/YARIS\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_yaris.png\"},{\"text\":\"PRIUS c\",\"actions\":[{\"text\":\"我想知道PRIUS c的售價\",\"type\":\"message\",\"label\":\"PRIUS c售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_201710061335220A85AB6C.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/PRIUS_c\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_prius_c.png\"},{\"text\":\"PRIUS\",\"actions\":[{\"text\":\"我想知道PRIUS的售價\",\"type\":\"message\",\"label\":\"PRIUS售價\"},{\"uri\":\"https://www.toyota.com.tw/download_pdf.ashx?preview=&carsty=PRIUS\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/PRIUS\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_prius.png\"}]}],\n        \"運動休旅車\":[{\"text\":\"你想知道哪一台運動休旅車(SUV)的資訊呢？\",\"type\":\"carousel\",\"altText\":\"你想知道哪一台運動休旅車(SUV)的資訊呢？\",\"columns\":[{\"text\":\"RAV4\",\"actions\":[{\"text\":\"我想知道RAV4的售價\",\"type\":\"message\",\"label\":\"RAV4售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_2017102719164858BC3D81.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/RAV4\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_rav4.png\"},{\"text\":\"C-HR\",\"actions\":[{\"text\":\"我想知道C-HR的售價\",\"type\":\"message\",\"label\":\"C-HR售價\"},{\"uri\":\"https://www.toyota.com.tw/download_pdf.ashx?preview=&carsty=C-HR\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/C-HR\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_c_hr.png\"},{\"text\":\"RAV4 HYBRID\",\"actions\":[{\"text\":\"我想知道RAV4 Hybrid的售價\",\"type\":\"message\",\"label\":\"RAV4 Hybrid售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_2017102719182513943774.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/RAV4_HYBRID\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_rav4_hybrid.png\"},{\"text\":\"PRADO\",\"actions\":[{\"text\":\"我想知道PRADO的售價\",\"type\":\"message\",\"label\":\"PRADO售價\"},{\"text\":\"我想知道PRADO的規格\",\"type\":\"message\",\"label\":\"PRADO規格\"},{\"uri\":\"https://www.toyota.com.tw/download_pdf.ashx?preview=&carsty=PRADO\",\"type\":\"uri\",\"label\":\"線上型錄\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_prado.png\"}]}],\n        \"車款資訊\":[{\"text\":\"你喜歡什麼類型的車子呢？\",\"type\":\"image_carousel\",\"altText\":\"轎車、掀背車、油電車、休旅車、跑車\",\"columns\":[{\"action\":{\"text\":\"轎車\",\"type\":\"message\",\"label\":\"轎車\"},\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_type/car_type_1_sedan.png\"},{\"action\":{\"text\":\"掀背車\",\"type\":\"message\",\"label\":\"掀背車\"},\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_type/car_type_1_hatchback.png\"},{\"action\":{\"text\":\"油電車\",\"type\":\"message\",\"label\":\"油電車\"},\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_type/car_type_1_eco_friendly.png\"},{\"action\":{\"text\":\"休旅車\",\"type\":\"message\",\"label\":\"休旅車\"},\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_type/car_type_1_RV.png\"},{\"action\":{\"text\":\"跑車\",\"type\":\"message\",\"label\":\"跑車\"},\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_type/car_type_1_sports_car.png\"}]}],\n        \"多功能休旅車\":[{\"text\":\"你想知道哪一台多功能休旅車(MPV)的資訊呢？\",\"type\":\"carousel\",\"altText\":\"你想知道哪一台多功能休旅車(MPV)的資訊呢？\",\"columns\":[{\"text\":\"SIENTA\",\"actions\":[{\"text\":\"我想知道SIENTA的售價\",\"type\":\"message\",\"label\":\"SIENTA售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_2018010220454111421313.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/SIENTA\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_sienta.png\"},{\"text\":\"PREVIA\",\"actions\":[{\"text\":\"我想知道PREVIA的售價\",\"type\":\"message\",\"label\":\"PREVIA售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_201801171457599D426B8C.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/PREVIA\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_previa.png\"},{\"text\":\"SIENNA\",\"actions\":[{\"text\":\"我想知道SIENNA的售價\",\"type\":\"message\",\"label\":\"SIENNA售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_201804131348065COBKPL2.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/SIENNA\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_sienna.png\"},{\"text\":\"ALPHARD\",\"actions\":[{\"text\":\"我想知道ALPHARD的售價\",\"type\":\"message\",\"label\":\"ALPHARD售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_2018022313570200000000.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/ALPHARD\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_alphard.png\"},{\"text\":\"PRADO\",\"actions\":[{\"text\":\"我想知道PRADO的售價\",\"type\":\"message\",\"label\":\"PRADO售價\"},{\"text\":\"我想知道PRADO的規格\",\"type\":\"message\",\"label\":\"PRADO規格\"},{\"uri\":\"https://www.toyota.com.tw/download_pdf.ashx?preview=&carsty=PRADO\",\"type\":\"uri\",\"label\":\"線上型錄\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_prado.png\"}]}],\n        //cache\n        \"系統建置中，敬請期待\":[{\"type\":\"carousel\",\"altText\":\"車款資訊、服務資訊、品牌資訊\",\"columns\":[{\"text\":\"服務目錄\",\"actions\":[{\"text\":\"車款資訊\",\"type\":\"message\",\"label\":\"車款資訊\"},{\"text\":\"服務資訊\",\"type\":\"message\",\"label\":\"服務資訊\"},{\"text\":\"品牌資訊\",\"type\":\"message\",\"label\":\"品牌資訊\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage01/LINE_images_prod/TOYOTA_LOGO.png\"}]}],\n        \"跑車\":[{\"text\":\"想知道跑車 86 的什麼資訊呢？\",\"type\":\"carousel\",\"altText\":\"售價, 線上型錄, 預約試乘\",\"columns\":[{\"text\":\"86\",\"actions\":[{\"text\":\"我想知道86的售價\",\"type\":\"message\",\"label\":\"86售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_20171226193630O5P9DADH.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/86\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_86.png\"}]}],\n        \"插電式油電複合車\":[{\"text\":\"想知道插電式油電複合車PRIUS PHV的什麼資訊呢？\",\"type\":\"carousel\",\"altText\":\"想知道插電式油電複合車PRIUS PHV的什麼資訊呢？\",\"columns\":[{\"text\":\"PRIUS PHV\",\"actions\":[{\"text\":\"我想知道PRIUS PHV的售價\",\"type\":\"message\",\"label\":\"PRIUS PHV售價\"},{\"uri\":\"https://hotaicdn.azureedge.net/toyotaweb/CAR_2017063012175932071813.pdf\",\"type\":\"uri\",\"label\":\"線上型錄\"},{\"uri\":\"https://www.toyota.com.tw/testdrive.aspx#/PRIUS_PHV\",\"type\":\"uri\",\"label\":\"預約試乘\"}],\"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/car_model/car_model_prius_phv.png\"}]}],\n        \"品牌資訊\":[{\"type\":\"some_menu\"}],\n        \"品牌活動\":[{ \"type\":\"image_carousel\", \"text\":\"品牌活動訊息\",\"altText\":\"品牌活動\", \"columns\":[{ \"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/lexus_demo/travel.png\", \"action\":{ \"type\": \"uri\", \"label\": \"旅遊｜覓境食旅\", \"uri\": \"https://www.lexus.com.tw/owners-event-detail.aspx?aid=42\" } },{ \"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/lexus_demo/mamamia.png\", \"action\":{ \"type\": \"uri\", \"label\": \"藝文｜媽媽咪呀\", \"uri\": \"https://www.lexus.com.tw/owners-event-detail.aspx?aid=38\" } },{ \"imageUrl\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/lexus_demo/restaurant.png\", \"action\":{ \"type\": \"uri\", \"label\": \"美食｜精選頂級餐廳\", \"uri\": \"https://www.lexus.com.tw/owners-event-detail.aspx?aid=37\" } }] }],\n        \"維修保養\":[{\"text\":\"您好，建議您洽詢TOYOTA服務廠或點選線上文字客服，由專人為您服務，謝謝\",\"type\":\"buttons\",\"actions\":[{\"uri\":\"https://www.toyota.com.tw/dealer.aspx\",\"type\":\"uri\",\"label\":\"TOYOTA服務廠\"},{\"uri\":\"https://csonline.hotaimotor.com.tw/index.php\",\"type\":\"uri\",\"label\":\"線上文字客服\"}],\"altText\":\"您好，建議您洽詢TOYOTA服務廠或點選線上文字客服，由專人為您服務，謝謝\"}]\n    }\n    return input_doActions_pair[message];\n}\n\nfunction UUID() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now(); //use high-precision timer if available\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n",
		"outputs": 2,
		"noerr": 0,
		"x": 718.566650390625,
		"y": 695,
		"wires": [["2512a471.43f8dc"], ["fc35a932.507718"]]
	}, {
		"id": "a20a8277.d1c3",
		"type": "link out",
		"z": "f608959e.427a4",
		"name": "華生說-A for 5",
		"links": ["ead33927.89b698"],
		"x": 1213.566650390625,
		"y": 855,
		"wires": []
	}, {
		"id": "6be156fe.bbc6c",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "",
		"func": "var outputText = msg.payload.output.text.join(\"\").replace(/\\n/g,\"\");\n\nif(msg.payload.context.doActions!=null && msg.payload.context.doActions.length>0){\n   msg.watson_doActions = msg.payload.context.doActions ;\n}else if(exist_str_btn(outputText)){\n    msg.watson_doActions = combine_btn(outputText);\n}else{\n    msg.watson_doActions = [{\n        \"type\": \"text\",\n        \"text\": outputText\n    }];\n}\n\nreturn msg;\n\nfunction exist_str_btn(text){\n    \n    if(text && text.split(\"1.\").length>1){\n        if(!text.split(\"1.\")[1].startsWith(\"pdf\")){\n            return true;\n        }\n    }\n    return false;\n}\n\nfunction combine_btn(text){\n    \n    let buttonTitle = \"\";\n    let buttonAssign=[];\n    buttonTitle = text.split(\"1.\")[0];\n    buttonTitle = buttonTitle==\"\"?\"　\":buttonTitle;\n\n    for(var i=1;i<10;i++){\n        if(text.split(i+\".\").length>1){\n            let fetchStr = text\n            \t\t    .split(i+\".\")[1]\n            \t\t    .split((i+1)+\".\")[0];\n            buttonAssign.push(fetchStr.trim());\n        }\n    }\n    \n    return [{\n        buttonTitle : buttonTitle,\n        buttonAssign : buttonAssign,\n        type : \"my_btns\"\n    }]\n}\n\n",
		"outputs": 1,
		"noerr": 0,
		"x": 1108.566650390625,
		"y": 855,
		"wires": [["a20a8277.d1c3"]]
	}, {
		"id": "86893078.521f18",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "",
		"func": "\nif(msg.payload.output.error!=null){\n    let timestamp = Date.now();\n    msg.payload.type = \"watson_says\";\n    msg.payload.error = msg.payload.output.error;\n    msg.payload.timestamp=timestamp;\n    msg.payload.time = new Date(new Date(timestamp).getTime()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0];\n    node.status({fill:\"red\",shape:\"dot\",text:msg.payload.error});\n    return [msg,{\n        payload:{\n            error_type:\"watson_says\",\n            error:msg.payload.error\n        }\n    }];\n}",
		"outputs": 2,
		"noerr": 0,
		"x": 1108.566650390625,
		"y": 895,
		"wires": [["9bdcfd2a.f35e8"], ["896c44e2.e92b68"]]
	}, {
		"id": "9bdcfd2a.f35e8",
		"type": "ibmiot out",
		"z": "f608959e.427a4",
		"authentication": "boundService",
		"apiKey": "",
		"outputType": "evt",
		"deviceId": "iotMQTT",
		"deviceType": "robot",
		"eventCommandType": "SaveCloudantError",
		"format": "json",
		"data": "msg.payload",
		"qos": 0,
		"name": "Error",
		"service": "registered",
		"x": 1248.566650390625,
		"y": 895,
		"wires": []
	}, {
		"id": "df49eebb.11c29",
		"type": "ibmiot out",
		"z": "f608959e.427a4",
		"authentication": "boundService",
		"apiKey": "",
		"outputType": "evt",
		"deviceId": "iotMQTT",
		"deviceType": "robot",
		"eventCommandType": "SaveCloudantLog",
		"format": "json",
		"data": "msg.payload",
		"qos": 0,
		"name": "Log",
		"service": "registered",
		"x": 1188.566650390625,
		"y": 495,
		"wires": []
	}, {
		"id": "eb27f37b.69ac48",
		"type": "ibmiot out",
		"z": "f608959e.427a4",
		"authentication": "boundService",
		"apiKey": "",
		"outputType": "evt",
		"deviceId": "iotMQTT",
		"deviceType": "robot",
		"eventCommandType": "SaveCloudantLog",
		"format": "json",
		"data": "msg.payload",
		"qos": 0,
		"name": "Log",
		"service": "registered",
		"x": 1628.566650390625,
		"y": 355,
		"wires": []
	}, {
		"id": "6c78aacf.f3ccc4",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "",
		"func": "let timestamp = Date.now();\nmsg.flow_config.time_record.response_time = timestamp;\n\nreturn {\n    payload:Object.assign(\n        msg.flow_config.time_record,\n        {\n            input: msg.req_para.message,\n            output: msg.payload,\n            timestamp:timestamp,\n            time : new Date(timestamp+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0],\n        }\n    )\n};",
		"outputs": 1,
		"noerr": 0,
		"x": 1288.566650390625,
		"y": 455,
		"wires": [["275417c3.2b3c28"]]
	}, {
		"id": "3fa54430.6d45a4",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "",
		"func": "let timestamp = Date.now();\nmsg.flow_config.time_record.response_time = timestamp;\n\nreturn {\n    payload:Object.assign(\n        msg.flow_config.time_record,\n        {\n            input: msg.req_para.message,\n            output: msg.payload,\n            timestamp:timestamp,\n            time : new Date(timestamp+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0],\n        }\n    )\n};",
		"outputs": 1,
		"noerr": 0,
		"x": 1048.566650390625,
		"y": 475,
		"wires": [["df49eebb.11c29"]]
	}, {
		"id": "699672b6.af7b04",
		"type": "ibmiot out",
		"z": "f608959e.427a4",
		"authentication": "boundService",
		"apiKey": "",
		"outputType": "evt",
		"deviceId": "iotMQTT",
		"deviceType": "robot",
		"eventCommandType": "SaveCloudantError",
		"format": "json",
		"data": "msg.payload",
		"qos": 0,
		"name": "Error",
		"service": "registered",
		"x": 648.566650390625,
		"y": 95,
		"wires": []
	}, {
		"id": "33061171.f08e16",
		"type": "debug",
		"z": "f608959e.427a4",
		"name": "DoActions",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "assistant_says.context.doActions",
		"x": 1118.566650390625,
		"y": 795,
		"wires": []
	}, {
		"id": "e6600314.ee73c8",
		"type": "ibmiot out",
		"z": "f608959e.427a4",
		"authentication": "boundService",
		"apiKey": "",
		"outputType": "evt",
		"deviceId": "iotMQTT",
		"deviceType": "robot",
		"eventCommandType": "SendErrorMail",
		"format": "json",
		"data": "msg.payload",
		"qos": 0,
		"name": "SendErrorMail",
		"service": "registered",
		"x": 958.566650390625,
		"y": 1015,
		"wires": []
	}, {
		"id": "e9dcf0d0.4f4028",
		"type": "ibmiot out",
		"z": "f608959e.427a4",
		"authentication": "boundService",
		"apiKey": "",
		"outputType": "evt",
		"deviceId": "iotMQTT",
		"deviceType": "robot",
		"eventCommandType": "SendErrorMail",
		"format": "json",
		"data": "msg.payload",
		"qos": 0,
		"name": "SendErrorMail",
		"service": "registered",
		"x": 678.566650390625,
		"y": 175,
		"wires": []
	}, {
		"id": "896c44e2.e92b68",
		"type": "ibmiot out",
		"z": "f608959e.427a4",
		"authentication": "boundService",
		"apiKey": "",
		"outputType": "evt",
		"deviceId": "iotMQTT",
		"deviceType": "robot",
		"eventCommandType": "SendErrorMail",
		"format": "json",
		"data": "msg.payload",
		"qos": 0,
		"name": "SendErrorMail",
		"service": "registered",
		"x": 1278.566650390625,
		"y": 935,
		"wires": []
	}, {
		"id": "489c9d19.882e9c",
		"type": "ibmiot out",
		"z": "f608959e.427a4",
		"authentication": "boundService",
		"apiKey": "",
		"outputType": "evt",
		"deviceId": "iotMQTT",
		"deviceType": "robot",
		"eventCommandType": "SaveCloudantError",
		"format": "json",
		"data": "msg.payload",
		"qos": 0,
		"name": "Error",
		"service": "registered",
		"x": 928.566650390625,
		"y": 975,
		"wires": []
	}, {
		"id": "ef96f8e2.4d8fc8",
		"type": "debug",
		"z": "f608959e.427a4",
		"name": "DoActions",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 938.5666923522949,
		"y": 1056.4285678863525,
		"wires": []
	}, {
		"id": "1b4694c3.bd9c03",
		"type": "debug",
		"z": "f608959e.427a4",
		"name": "AssistantOut",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 978.566650390625,
		"y": 695,
		"wires": []
	}, {
		"id": "baefea70.55138",
		"type": "debug",
		"z": "f608959e.427a4",
		"name": "DEBUG",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1298.566650390625,
		"y": 214,
		"wires": []
	}, {
		"id": "be541851.ca986",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "",
		"func": "\nmsg.url = msg.flow_config.HT_API_host+\"LINE006_Q00\";\nmsg.headers = {\n    \"Content-Type\":\"application/x-www-form-urlencoded\"\n}\n\nmsg.payload = {\n    \"jsonstr\":JSON.stringify({\n        \"ENCYID\": msg.req_para.replyId,\n        \"FRAN\": \"L\"\n    })\n};\n\nreturn msg;\n\n",
		"outputs": 1,
		"noerr": 0,
		"x": 448.566650390625,
		"y": 1535,
		"wires": [["3a1143aa.f2438c"]]
	}, {
		"id": "cb0cca29.9fa3a",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "",
		"func": "/*msg.payload = {\n    \"rtnCode\": \"0\",\n    \"rtnMsg\": \"\",\n    \"CSINFO\": [\n        {\n            \"LICSNO\": \"RBD-0021\",\n            \"FRAN\": \"L\",\n            \"CARNM\": \"IS300h\",\n            \"CRCOMPID\": \"AA\",\n            \"CRSALR\": \"AA94453\",\n            \"CRSALRNM\": \"楊建中\",\n            \"SRCOMPID\": \"AA\",\n            \"WHSRVNO\": \"AA94453\",\n            \"WHSRVNM\": \"劉伯溫\",\n            \"NICKNAME\": \"柏廷\",\n            \"PICURL\": \"https://profile.line-scdn.net/0huWZ840ahKnhnQQYLIUFVL1sEJBUQbywwH3IyGhJFJ0FMeGp5Wi9hSkBEI00ad256CCIyGEQVJhpL\"\n        }\n    ]\n}*/\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 668.566650390625,
		"y": 1535,
		"wires": [["3342cb34.201dbc"]]
	}, {
		"id": "3342cb34.201dbc",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "",
		"func": "let one_on_one_host = msg.flow_config.one_on_one_host;\nlet target =  msg.target;\n\nlet sales_id_b64 = new Buffer(msg.payload.CSINFO[0].CRSALR).toString('base64');\nlet sales_name = msg.payload.CSINFO[0].CRSALRNM;\nlet service_id_b64 = new Buffer(msg.payload.CSINFO[0].WHSRVNO).toString('base64');\nlet service_name = msg.payload.CSINFO[0].WHSRVNM;\nlet cust_id_b64 = new Buffer(msg.req_para.replyId).toString('base64');\n\nlet NICKNAME = msg.payload.CSINFO[0].NICKNAME;\n\nlet sales_url = one_on_one_host+\"cust.do?c=\"+cust_id_b64+\"&s=\"+sales_id_b64;\nlet services_url = one_on_one_host+\"cust.do?c=\"+cust_id_b64+\"&s=\"+service_id_b64;\n\nlet messageTemplate=\n{\n\t\"to\": target,\n\t\"messages\": [{\n    \t\"type\":\"text\",\n    \t\"text\": NICKNAME +\" 您好，可以選擇需要對談之 '銷售專員' 或 '服務專員'， Lexus將為您介紹您的專屬專員\"\n    },{\n    \t\"type\": \"template\",\n    \t\"altText\": \"歡迎選擇您需要的專員\",\n    \t\"template\": {\n    \t\t\"type\": \"carousel\",\n    \t\t\"imageAspectRatio\": \"rectangle\",\n    \t\t\"imageSize\": \"cover\",\n    \t\t\"columns\": [{\n    \t\t\t\t\"text\": \"歡迎點選您需要的業務類別，若他因公務繁忙，請稍等一下喔\\n上班時間：09:00-19:00\",\n    \t\t\t\t\"actions\": [{\n    \t\t\t\t\t\t\"uri\": sales_url,\n    \t\t\t\t\t\t\"type\": \"uri\",\n    \t\t\t\t\t\t\"label\": \"銷售專員-\"+sales_name\n    \t\t\t\t\t},{\n    \t\t\t\t\t\t\"uri\": services_url,\n    \t\t\t\t\t\t\"type\": \"uri\",\n    \t\t\t\t\t\t\"label\": \"服務專員-\"+service_name\n    \t\t\t\t\t}\n    \t\t\t\t],\n    \t\t\t\t\"thumbnailImageUrl\": \"https://cdn2.ettoday.net/images/736/d736983.jpg\"\n    \t\t\t}\n    \t\t]\n    \t}\n    }]\n};\n\nmsg.retMsg = messageTemplate;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 848.566650390625,
		"y": 1535,
		"wires": [["8fbb7bf8.e5e0e8"]]
	}, {
		"id": "3a1143aa.f2438c",
		"type": "http request",
		"z": "f608959e.427a4",
		"name": "",
		"method": "POST",
		"ret": "obj",
		"url": "",
		"tls": "",
		"x": 608.566650390625,
		"y": 1535,
		"wires": [["cb0cca29.9fa3a"]]
	}, {
		"id": "656b7938.345628",
		"type": "http in",
		"z": "f608959e.427a4",
		"name": "",
		"url": "/servicebot_conversation_1",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 338.566650390625,
		"y": 335,
		"wires": [["ec18dc48.b447c8", "72ccffbf.9af058"]]
	}, {
		"id": "905c2cc0.48e348",
		"type": "function",
		"z": "f608959e.427a4",
		"name": "",
		"func": "msg.payload = {\n\t\"to\": msg.payload.replyId,\n\t\"messages\": [{\n\t\t\t\"type\": \"text\",\n\t\t\t\"text\": \"感謝您的支持!\\n系統QA開發中，請耐心等候系統完成。\"\n\t\t}\n\t],\n\t\"context\": null\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 548.566650390625,
		"y": 455,
		"wires": [["8e9d429e.6d6928"]]
	}, {
		"id": "8e9d429e.6d6928",
		"type": "http response",
		"z": "f608959e.427a4",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 706.566650390625,
		"y": 455,
		"wires": []
	}, {
		"id": "9e69f47f.764d",
		"type": "ibmiot in",
		"z": "27b8f54a.f5ddd2",
		"authentication": "boundService",
		"apiKey": "",
		"inputType": "evt",
		"logicalInterface": "",
		"ruleId": "",
		"deviceId": "iotMQTT",
		"applicationId": "",
		"deviceType": "robot",
		"eventType": "SaveCloudantLog",
		"commandType": "",
		"format": "json",
		"name": "IBM IoT",
		"service": "registered",
		"allDevices": "",
		"allApplications": "",
		"allDeviceTypes": false,
		"allLogicalInterfaces": "",
		"allEvents": false,
		"allCommands": "",
		"allFormats": "",
		"qos": 0,
		"x": 442.566650390625,
		"y": 170.56666564941406,
		"wires": [["80bd00d7.b15b78"]]
	}, {
		"id": "7ca94e53.bab0a",
		"type": "ibmiot in",
		"z": "27b8f54a.f5ddd2",
		"authentication": "boundService",
		"apiKey": "",
		"inputType": "evt",
		"logicalInterface": "",
		"ruleId": "",
		"deviceId": "iotMQTT",
		"applicationId": "",
		"deviceType": "robot",
		"eventType": "SaveCloudantError",
		"commandType": "",
		"format": "json",
		"name": "IBM IoT",
		"service": "registered",
		"allDevices": "",
		"allApplications": "",
		"allDeviceTypes": false,
		"allLogicalInterfaces": "",
		"allEvents": false,
		"allCommands": "",
		"allFormats": "",
		"qos": 0,
		"x": 442.566650390625,
		"y": 230.56666564941406,
		"wires": [["648493de.7f70d4"]]
	}, {
		"id": "9ed47eee.0977e8",
		"type": "ibmiot in",
		"z": "27b8f54a.f5ddd2",
		"authentication": "boundService",
		"apiKey": "",
		"inputType": "evt",
		"logicalInterface": "",
		"ruleId": "",
		"deviceId": "iotMQTT",
		"applicationId": "",
		"deviceType": "robot",
		"eventType": "SendMail",
		"commandType": "",
		"format": "json",
		"name": "IBM IoT",
		"service": "registered",
		"allDevices": "",
		"allApplications": "",
		"allDeviceTypes": false,
		"allLogicalInterfaces": "",
		"allEvents": false,
		"allCommands": "",
		"allFormats": "",
		"qos": 0,
		"x": 442.566650390625,
		"y": 290.56666564941406,
		"wires": [["2e80420b.07da96", "4ad671ab.65123"]]
	}, {
		"id": "b54eb350.e5f05",
		"type": "cloudant out",
		"z": "27b8f54a.f5ddd2",
		"name": "",
		"cloudant": "2613a933.ce4e9e",
		"database": "lineapi_log",
		"service": "nodeRed api Lexus-test01-cloudantNoSQLDB",
		"payonly": true,
		"operation": "insert",
		"x": 742.566650390625,
		"y": 170.56666564941406,
		"wires": []
	}, {
		"id": "8b231665.c29758",
		"type": "cloudant out",
		"z": "27b8f54a.f5ddd2",
		"name": "",
		"cloudant": "2613a933.ce4e9e",
		"database": "lineapi_error",
		"service": "nodeRed api Lexus-test01-cloudantNoSQLDB",
		"payonly": true,
		"operation": "insert",
		"x": 752.566650390625,
		"y": 230.56666564941406,
		"wires": []
	}, {
		"id": "8e185b7a.940c88",
		"type": "e-mail",
		"z": "27b8f54a.f5ddd2",
		"server": "smtp.gmail.com",
		"port": "465",
		"secure": true,
		"name": "",
		"dname": "",
		"x": 822.566650390625,
		"y": 290.56666564941406,
		"wires": []
	}, {
		"id": "2e80420b.07da96",
		"type": "function",
		"z": "27b8f54a.f5ddd2",
		"name": "context格式檢查",
		"func": "\nif(msg.payload!=null && msg.payload.context!=null && typeof msg.payload.context!=\"object\"){\n    let type = \"非規範格式\";\n    type = typeof msg.payload.context==\"string\"?\"字串\":type;\n    type = typeof msg.payload.context==\"number\"?\"數字\":type;\n    msg.payload=\"<font style='font-family: \\\"Microsoft JhengHei\\\";'>\"+\n                \"<b style='font-size:1.2em;'>錯誤原因</b>：<br>　LINEBOT不接受context格式為 '\"+type+\"' 之請求。<br><br>\"+\n                \"<b style='font-size:1.2em;'>發生時間</b>：<br>　\"+new Date(Date.now()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0]+\"。<br><br>\"+\n                \"<b style='font-size:1.2em;'>錯誤API請求如下</b>：<br>\"+JSON.stringify(msg.payload, null, 4).replace(/    /g,\"　　　\").replace(/\\n/g,\"<br>\")+\"</font>\";\n    \n    msg.topic=\"LINEBOT環境收到錯誤API請求\";\n    msg.cc=\"benchen@pershing.com.tw\";\n    msg.to=\"GRACECHIU@mail.hotaimotor.com.tw\";\n    return msg;\n}\n",
		"outputs": 1,
		"noerr": 0,
		"x": 632.566650390625,
		"y": 290.56666564941406,
		"wires": [[]]
	}, {
		"id": "5dd2b2fb.b25bc4",
		"type": "function",
		"z": "27b8f54a.f5ddd2",
		"name": "Mail Test",
		"func": "//ptenzyqxqobotpsc\nmsg = {\n    payload:{\n        context:\"\",\n        type:\"text\",\n        message:\"妳好\"\n    }\n}\nif(msg.payload!=null && msg.payload.context!=null && typeof msg.payload.context!=\"object\"){\n    let type = \"非規範格式\";\n    type = typeof msg.payload.context==\"string\"?\"字串\":type;\n    type = typeof msg.payload.context==\"number\"?\"數字\":type;\n    msg.payload=\"<font style='font-family: \\\"Microsoft JhengHei\\\";'>\"+\n                \"<b style='font-size:1.2em;'>錯誤原因</b>：<br>　LINEBOT不接受context格式為 '\"+type+\"' 之請求。<br><br>\"+\n                \"<b style='font-size:1.2em;'>發生時間</b>：<br>　\"+new Date(Date.now()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0]+\"。<br><br>\"+\n                \"<b style='font-size:1.2em;'>錯誤API請求如下</b>：<br>\"+JSON.stringify(msg.payload, null, 4).replace(/    /g,\"　　　\").replace(/\\n/g,\"<br>\")+\"</font>\";\n    \n    msg.topic=\"發信測試\";\n    msg.to=\"benchen@pershing.com.tw\";\n    msg.cc=\"g4ru04@gmail.com\";\n    return msg;\n}\n",
		"outputs": 1,
		"noerr": 0,
		"x": 612.566650390625,
		"y": 370.56666564941406,
		"wires": [["28c859cb.9f9a76"]]
	}, {
		"id": "28c859cb.9f9a76",
		"type": "e-mail",
		"z": "27b8f54a.f5ddd2",
		"server": "smtp.gmail.com",
		"port": "465",
		"secure": true,
		"name": "",
		"dname": "",
		"x": 832.566650390625,
		"y": 370.56666564941406,
		"wires": []
	}, {
		"id": "4bc70b01.88a5b4",
		"type": "inject",
		"z": "27b8f54a.f5ddd2",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 432.566650390625,
		"y": 370.56666564941406,
		"wires": [["5dd2b2fb.b25bc4"]]
	}, {
		"id": "4ad671ab.65123",
		"type": "function",
		"z": "27b8f54a.f5ddd2",
		"name": "context格式檢查-Ben",
		"func": "\nif(msg.payload!=null && msg.payload.context!=null && typeof msg.payload.context!=\"object\"){\n    let type = \"非規範格式\";\n    type = typeof msg.payload.context==\"string\"?\"字串\":type;\n    type = typeof msg.payload.context==\"number\"?\"數字\":type;\n    msg.payload=\"<font style='font-family: \\\"Microsoft JhengHei\\\";'>\"+\n                \"<b style='font-size:1.2em;'>錯誤原因</b>：<br>　LINEBOT不接受context格式為 '\"+type+\"' 之請求。<br><br>\"+\n                \"<b style='font-size:1.2em;'>發生時間</b>：<br>　\"+new Date(Date.now()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0]+\"。<br><br>\"+\n                \"<b style='font-size:1.2em;'>錯誤API請求如下</b>：<br>\"+JSON.stringify(msg.payload, null, 4).replace(/    /g,\"　　　\").replace(/\\n/g,\"<br>\")+\"</font>\";\n    \n    msg.topic=\"LINEBOT環境收到錯誤API請求\";\n    msg.to=\"benchen@pershing.com.tw\";\n    return msg;\n}\n",
		"outputs": 1,
		"noerr": 0,
		"x": 632.566650390625,
		"y": 330.56666564941406,
		"wires": [["8e185b7a.940c88"]]
	}, {
		"id": "80bd00d7.b15b78",
		"type": "function",
		"z": "27b8f54a.f5ddd2",
		"name": "",
		"func": "node.status({fill:\"green\",shape:\"dot\",text:new Date(Date.now()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0]});\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 582.566650390625,
		"y": 170.56666564941406,
		"wires": [["b54eb350.e5f05"]]
	}, {
		"id": "648493de.7f70d4",
		"type": "function",
		"z": "27b8f54a.f5ddd2",
		"name": "",
		"func": "node.status({fill:\"green\",shape:\"dot\",text:new Date(Date.now()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0]});\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 582.566650390625,
		"y": 230.56666564941406,
		"wires": [["8b231665.c29758"]]
	}, {
		"id": "aeb473cf.36bdf",
		"type": "ibmiot in",
		"z": "27b8f54a.f5ddd2",
		"authentication": "boundService",
		"apiKey": "",
		"inputType": "evt",
		"logicalInterface": "",
		"ruleId": "",
		"deviceId": "iotMQTT",
		"applicationId": "",
		"deviceType": "robot",
		"eventType": "SendErrorMail",
		"commandType": "",
		"format": "json",
		"name": "IBM IoT",
		"service": "registered",
		"allDevices": "",
		"allApplications": "",
		"allDeviceTypes": false,
		"allLogicalInterfaces": "",
		"allEvents": false,
		"allCommands": "",
		"allFormats": "",
		"qos": 0,
		"x": 442.566650390625,
		"y": 530.5666656494141,
		"wires": [["6481fa31.286ee4", "99f84211.0959"]]
	}, {
		"id": "fb135f6b.83464",
		"type": "e-mail",
		"z": "27b8f54a.f5ddd2",
		"server": "smtp.gmail.com",
		"port": "465",
		"secure": true,
		"name": "",
		"dname": "",
		"x": 762.566650390625,
		"y": 530.5666656494141,
		"wires": []
	}, {
		"id": "6481fa31.286ee4",
		"type": "function",
		"z": "27b8f54a.f5ddd2",
		"name": "錯誤發信",
		"func": "\nmsg.payload.error=msg.payload.error!=null?msg.payload.error:\"\";\nlet mail_msg = {\n    cc:\"g4ru04@gmail.com\",\n    topic: \"和泰LINE測試環境錯誤\",\n    to: \"benchen@pershing.com.tw\",\n    payload: (\n        \"<font style='font-family: \\\"Microsoft JhengHei\\\";'>\"+\n        \"<b style='font-size:1.2em;'>錯誤類型</b>：<br>　\"+\n        msg.payload.error_type + \"<br><br>\"+\n        \"<b style='font-size:1.2em;'>發生時間</b>：<br>　\"+\n        new Date(Date.now()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0]+\"。<br><br>\"+\n        \"<b style='font-size:1.2em;'>錯誤如下</b>：<br>\"+\n        JSON.stringify(msg.payload.error, null, 4).replace(/    /g,\"　　　\").replace(/\\n/g,\"<br>\")+\n        \"</font>\"\n    )\n}\n\nnode.status({fill:\"red\",shape:\"dot\",text:new Date(Date.now()+8*3600*1000).toISOString().replace(\"T\",\" \").split(\".\")[0]});\nreturn mail_msg ;",
		"outputs": 1,
		"noerr": 0,
		"x": 592.566650390625,
		"y": 530.5666656494141,
		"wires": [["fb135f6b.83464"]]
	}, {
		"id": "99f84211.0959",
		"type": "debug",
		"z": "27b8f54a.f5ddd2",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 592.566650390625,
		"y": 590.5666656494141,
		"wires": []
	}, {
		"id": "5e7a73b8.d5572c",
		"type": "http in",
		"z": "57b00185.eebcd",
		"name": "",
		"url": "/ht_api/LINELCS01_Q01",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 399.75,
		"y": 1145.25,
		"wires": [["bdec0814.b3e968", "4f711b7a.575ef4"]]
	}, {
		"id": "bdec0814.b3e968",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "cust_lexus",
		"func": "\nmsg.payload = JSON.parse(msg.payload.jsonstr);\n\nmsg.payload = {\n    \"rtnCode\": \"0\",\n    \"rtnMsg\": \"\",\n    \"USERDATA\": [\n        {\n            \"USERNM\": corresponse_name(msg.payload.ENCYID),\n            \"ADDR\": \"台北市內湖區文湖街\"+Math.abs(myHashCode(msg.payload.ENCYID)%500)+\"號\",\n            \"MOBILE\": \"0919863\"+Math.abs(myHashCode(msg.payload.ENCYID)%1000),\n            \"BIRTHDAY\": (Math.abs(myHashCode(msg.payload.ENCYID)%12)+1)+\"/\"+\n                        (Math.abs(myHashCode(msg.payload.ENCYID)%30)+1),\n            \"CARNM\": \"IS300h\",\n            \"SFX\": \"3311\",\n            \"REDLDT\": \"2015/01/01\",\n            \"FENDAT\": \"2019/01/20\",\n            \"UENDAT\": \"2019/01/10\",\n            \"NXRPMO\": \"引擎腳老化\",\n            \"RTPTDT\": \"2018/10/24\",\n            \"RTPTML\": \"1\",\n            \"BRKDS\": \"網路預約;萬公里定保-LINE-LCS預約測試資料\"\n        }\n    ]\n};\n\nreturn msg;\n\nfunction corresponse_name(replyID){\n    let name_list = [\"楊宏偉\",\"賴文豪\",\"鄧淑娟\",\"余名誠\",\"陳世順\",\"林宏儒\",\"賴哲豪\",\"黃雅惠\",\"陳嘉雯\",\"楊上和\",\"劉育娥\",\"沈林廷\",\"鄧怡如\",\"趙于婷\",\"張珮甄\",\"吳雅惠\",\"吳紋火\",\"周志然\",\"胥歡雅\",\"陳修木\",\"陳俊憲\",\"張志銘\",\"卞苡佩\",\"李鎮帆\",\"藍素順\",\"袁儒瑄\",\"陳君函\",\"陳家豪\",\"陳俊憲\",\"涂秋添\",\"周怡桂\",\"鄭伊然\",\"陳思妃\",\"黃惠珠\",\"黃明翰\",\"羅雅晴\",\"蔡涵郁\",\"蕭怡婷\",\"林柏青\",\"王姿孜\",\"宣初強\",\"李智翔\",\"陳家英\",\"李鳳儒\",\"李予添\",\"周玄誠\",\"許宇翔\",\"黃雅文\",\"王佩璇\",\"郭幼能\",\"駱雅婷\",\"吳偉婷\",\"林惠婷\",\"吳士銘\",\"李宜珮\",\"杜怡君\",\"鄭鈺婷\",\"張志帆\",\"林進松\",\"涂豪舜\",\"張家和\",\"張惠敏\",\"金美玉\",\"曹俊瑋\",\"吳欣士\",\"黃俊明\",\"華青全\",\"陳依婷\",\"陳怡婷\",\"陳盈如\",\"林建彰\",\"吳明安\",\"吳湘婷\",\"林惠珠\",\"陳大喬\",\"鄭怡嘉\",\"倪胤嬌\",\"宋雅琪\",\"錢辰嘉\",\"陳智易\",\"徐采盛\",\"夏益迪\",\"陳佳怡\",\"白胤紋\",\"李雅婷\",\"林智翔\",\"傅家豪\",\"宓士凱\",\"張瑜桓\",\"喻祥玄\",\"陳宏麟\",\"胡林帆\",\"邱志祥\",\"吳雅謙\",\"張怡竹\",\"林韋梅\",\"朱佩穎\",\"洪淑季\",\"李志筠\",\"謝添士\"];\n    \n    return name_list[Math.abs(myHashCode(replyID)%100)];\n}\nfunction myHashCode(str) {\n  var hash = 0, i, chr;\n  if (str.length === 0) return hash;\n  for (i = 0; i < str.length; i++) {\n    chr   = str.charCodeAt(i);\n    hash  = ((hash << 5) - hash) + chr;\n    hash |= 0; // Convert to 32bit integer\n  }\n  return hash;\n};",
		"outputs": 1,
		"noerr": 0,
		"x": 659.75,
		"y": 1145.25,
		"wires": [["fa8e3646.8b01a8"]]
	}, {
		"id": "fa8e3646.8b01a8",
		"type": "http response",
		"z": "57b00185.eebcd",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 857.75,
		"y": 1145.25,
		"wires": []
	}, {
		"id": "10f7fb12.59e8f5",
		"type": "debug",
		"z": "f608959e.427a4",
		"name": "RequestMessage",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 577.3333129882812,
		"y": 526.3333129882812,
		"wires": []
	}, {
		"id": "852616fc.07eb38",
		"type": "http in",
		"z": "57b00185.eebcd",
		"name": "",
		"url": "/ht_api/LINELCS02_Q01",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 390,
		"y": 1094,
		"wires": [["4f711b7a.575ef4", "8f3ac0b2.7db13"]]
	}, {
		"id": "8f3ac0b2.7db13",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "所有服務據點",
		"func": "msg.payload = {\n    \"rtnCode\": \"0\",\n    \"rtnMsg\": \"\",\n    \"BRNHMF\": [\n        {\n            \"DLRCD\": \"A\",\n            \"BRNHCD\": \"52\",\n            \"BRNHNM\": \"國都汽車 LEXUS新莊廠\",\n            \"ZIPNM\": \"新北市\",\n            \"TEL\": \"02-29983990\",\n            \"ADDR\": \"新北市新莊區中正路70號之2\"\n        },\n        {\n            \"DLRCD\": \"A\",\n            \"BRNHCD\": \"53\",\n            \"BRNHNM\": \"國都汽車 LEXUS濱江廠\",\n            \"ZIPNM\": \"台北市\",\n            \"TEL\": \"02-25081288\",\n            \"ADDR\": \"台北市中山區濱江街233號\"\n        },\n        {\n            \"DLRCD\": \"A\",\n            \"BRNHCD\": \"54\",\n            \"BRNHNM\": \"國都汽車 LEXUS中和廠\",\n            \"ZIPNM\": \"新北市\",\n            \"TEL\": \"02-82218618\",\n            \"ADDR\": \"新北市中和區中山路二段546號\"\n        },\n        {\n            \"DLRCD\": \"A\",\n            \"BRNHCD\": \"55\",\n            \"BRNHNM\": \"國都汽車 LEXUS陽明廠\",\n            \"ZIPNM\": \"台北市\",\n            \"TEL\": \"02-28958169\",\n            \"ADDR\": \"台北市北投區大業路2號\"\n        },\n        {\n            \"DLRCD\": \"B\",\n            \"BRNHCD\": \"52\",\n            \"BRNHNM\": \"北都汽車 LEXUS南港廠\",\n            \"ZIPNM\": \"台北市\",\n            \"TEL\": \"02-27865588\",\n            \"ADDR\": \"台北市南港區南港路三段168號\"\n        },\n        {\n            \"DLRCD\": \"B\",\n            \"BRNHCD\": \"55\",\n            \"BRNHNM\": \"北都汽車 LEXUS新店廠\",\n            \"ZIPNM\": \"新北市\",\n            \"TEL\": \"-0800090568\",\n            \"ADDR\": \"新北市新店區寶橋路233-1號\"\n        },\n        {\n            \"DLRCD\": \"B\",\n            \"BRNHCD\": \"56\",\n            \"BRNHNM\": \"北都汽車 LEXUS內湖廠\",\n            \"ZIPNM\": \"台北市\",\n            \"TEL\": \"02-26588977\",\n            \"ADDR\": \"台北市內湖區瑞光路356號\"\n        },\n        {\n            \"DLRCD\": \"C\",\n            \"BRNHCD\": \"51\",\n            \"BRNHNM\": \"桃苗汽車 LEXUS桃園廠\",\n            \"ZIPNM\": \"桃園市\",\n            \"TEL\": \"03-3690505\",\n            \"ADDR\": \"桃園縣桃園市中山路860號\"\n        },\n        {\n            \"DLRCD\": \"C\",\n            \"BRNHCD\": \"52\",\n            \"BRNHNM\": \"桃苗汽車 LEXUS新竹廠\",\n            \"ZIPNM\": \"新竹市\",\n            \"TEL\": \"03-5342000\",\n            \"ADDR\": \"新竹市東區中華路一段303號\"\n        },\n        {\n            \"DLRCD\": \"C\",\n            \"BRNHCD\": \"53\",\n            \"BRNHNM\": \"桃苗汽車 LEXUS中壢廠\",\n            \"ZIPNM\": \"桃園市\",\n            \"TEL\": \"03-4625050\",\n            \"ADDR\": \"桃園縣中壢市中園路162號\"\n        },\n        {\n            \"DLRCD\": \"C\",\n            \"BRNHCD\": \"54\",\n            \"BRNHNM\": \"桃苗汽車 LEXUS苗栗廠\",\n            \"ZIPNM\": \"苗栗縣\",\n            \"TEL\": \"037-360030\",\n            \"ADDR\": \"苗栗縣苗栗市水源里水源路25-10號\"\n        },\n        {\n            \"DLRCD\": \"D\",\n            \"BRNHCD\": \"51\",\n            \"BRNHNM\": \"中部汽車 LEXUS台中廠\",\n            \"ZIPNM\": \"台中市\",\n            \"TEL\": \"04-22511367\",\n            \"ADDR\": \"台中市西屯區惠來里９鄰市政路21號\"\n        },\n        {\n            \"DLRCD\": \"D\",\n            \"BRNHCD\": \"52\",\n            \"BRNHNM\": \"中部汽車 LEXUS彰化廠\",\n            \"ZIPNM\": \"彰化縣\",\n            \"TEL\": \"04-7861199\",\n            \"ADDR\": \"彰化縣花壇鄉中庄村中山路一段93號\"\n        },\n        {\n            \"DLRCD\": \"D\",\n            \"BRNHCD\": \"53\",\n            \"BRNHNM\": \"中部汽車 LEXUS北台中廠\",\n            \"ZIPNM\": \"台中市\",\n            \"TEL\": \"04-25324568\",\n            \"ADDR\": \"台中市潭子區頭家村中山路一段261號\"\n        },\n        {\n            \"DLRCD\": \"D\",\n            \"BRNHCD\": \"54\",\n            \"BRNHNM\": \"中部汽車 LEXUS南台中廠\",\n            \"ZIPNM\": \"台中市\",\n            \"TEL\": \"04-24836008\",\n            \"ADDR\": \"台中市大里區大元里國光路一段38號\"\n        },\n        {\n            \"DLRCD\": \"E\",\n            \"BRNHCD\": \"51\",\n            \"BRNHNM\": \"南都汽車 LEXUS台南廠\",\n            \"ZIPNM\": \"台南市\",\n            \"TEL\": \"06-2436977\",\n            \"ADDR\": \"台南市永康區中正南路377-1號\"\n        },\n        {\n            \"DLRCD\": \"E\",\n            \"BRNHCD\": \"52\",\n            \"BRNHNM\": \"南都汽車 LEXUS嘉義廠\",\n            \"ZIPNM\": \"嘉義縣\",\n            \"TEL\": \"05-2132828\",\n            \"ADDR\": \"嘉義縣民雄鄉民雄工業區中山路2-2號\"\n        },\n        {\n            \"DLRCD\": \"E\",\n            \"BRNHCD\": \"53\",\n            \"BRNHNM\": \"南都汽車 LEXUS斗南廠\",\n            \"ZIPNM\": \"雲林縣\",\n            \"TEL\": \"05-5971191\",\n            \"ADDR\": \"雲林縣斗南鎮延平路二段87號\"\n        },\n        {\n            \"DLRCD\": \"F\",\n            \"BRNHCD\": \"51\",\n            \"BRNHNM\": \"高都汽車 LEXUS九如廠\",\n            \"ZIPNM\": \"高雄市\",\n            \"TEL\": \"07-3120522\",\n            \"ADDR\": \"高雄市三民區九如三路271號\"\n        },\n        {\n            \"DLRCD\": \"F\",\n            \"BRNHCD\": \"52\",\n            \"BRNHNM\": \"高都汽車 LEXUS民族廠\",\n            \"ZIPNM\": \"高雄市\",\n            \"TEL\": \"07-3501558\",\n            \"ADDR\": \"高雄市左營區民族一路879號\"\n        },\n        {\n            \"DLRCD\": \"F\",\n            \"BRNHCD\": \"53\",\n            \"BRNHNM\": \"高都汽車 LEXUS建國廠\",\n            \"ZIPNM\": \"高雄市\",\n            \"TEL\": \"07-7805077\",\n            \"ADDR\": \"高雄市鳳山區建國路三段547號\"\n        },\n        {\n            \"DLRCD\": \"F\",\n            \"BRNHCD\": \"54\",\n            \"BRNHNM\": \"高都汽車 LEXUS屏東廠\",\n            \"ZIPNM\": \"屏東縣\",\n            \"TEL\": \"08-7536981\",\n            \"ADDR\": \"屏東縣屏東市建國路253號\"\n        },\n        {\n            \"DLRCD\": \"G\",\n            \"BRNHCD\": \"52\",\n            \"BRNHNM\": \"蘭揚汽車 LEXUS羅東廠\",\n            \"ZIPNM\": \"宜蘭縣\",\n            \"TEL\": \"03-9657888\",\n            \"ADDR\": \"宜蘭縣五結鄉中正路三段138號\"\n        },\n        {\n            \"DLRCD\": \"H\",\n            \"BRNHCD\": \"54\",\n            \"BRNHNM\": \"東部汽車 LEXUS花蓮廠\",\n            \"ZIPNM\": \"花蓮縣\",\n            \"TEL\": \"03-8529797\",\n            \"ADDR\": \"花蓮縣吉安鄉中山路二段247號\"\n        },\n        {\n            \"DLRCD\": \"H\",\n            \"BRNHCD\": \"55\",\n            \"BRNHNM\": \"東部汽車 LEXUS台東廠\",\n            \"ZIPNM\": \"台東縣\",\n            \"TEL\": \"089-321855\",\n            \"ADDR\": \"台東縣台東市大仁路3號\"\n        },\n        {\n            \"DLRCD\": \"H\",\n            \"BRNHCD\": \"56\",\n            \"BRNHNM\": \"東部汽車 LEXUS美崙廠\",\n            \"ZIPNM\": \"花蓮縣\",\n            \"TEL\": \"03-8223122\",\n            \"ADDR\": \"花蓮市精美路３３號\"\n        }\n    ]\n}\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 660,
		"y": 1094,
		"wires": [["90e37296.50264"]]
	}, {
		"id": "90e37296.50264",
		"type": "http response",
		"z": "57b00185.eebcd",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 850,
		"y": 1094,
		"wires": []
	}, {
		"id": "e703a2c1.deb77",
		"type": "http in",
		"z": "57b00185.eebcd",
		"name": "",
		"url": "/ht_api/LINELCS02_Q02",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 390,
		"y": 1040,
		"wires": [["31dd00fb.b5553"]]
	}, {
		"id": "31dd00fb.b5553",
		"type": "function",
		"z": "57b00185.eebcd",
		"name": "據點可約時間",
		"func": "msg.payload = {\n    \"rtnCode\": \"0\",\n    \"rtnMsg\": \"\",\n    \"AVITIME\": [\n        {\n            \"ORDERDT\": \"2018/11/10\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"08:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/10\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"09:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/10\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"09:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/10\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"10:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/10\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"10:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/10\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"11:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/10\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"13:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/10\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"13:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/10\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"14:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/10\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"14:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/10\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"15:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/10\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"15:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/12\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"08:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/12\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"09:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/12\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"09:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/12\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"10:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/12\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"10:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/12\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"11:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/12\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"13:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/12\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"13:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/12\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"14:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/12\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"14:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/12\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"15:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/12\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"15:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/13\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"08:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/13\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"09:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/13\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"09:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/13\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"10:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/13\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"10:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/13\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"11:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/13\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"13:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/13\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"13:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/13\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"14:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/13\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"14:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/13\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"15:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/13\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"15:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/14\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"08:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/14\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"09:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/14\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"09:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/14\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"10:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/14\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"10:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/14\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"11:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/14\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"13:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/14\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"13:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/14\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"14:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/14\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"14:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/14\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"15:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/14\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"15:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/15\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"08:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/15\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"09:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/15\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"09:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/15\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"10:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/15\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"10:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/15\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"11:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/15\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"13:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/15\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"13:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/15\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"14:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/15\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"14:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/15\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"15:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/15\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"15:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/16\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"08:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/16\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"09:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/16\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"09:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/16\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"10:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/16\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"10:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/16\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"11:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/16\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"13:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/16\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"13:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/16\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"14:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/16\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"14:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/16\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"15:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/16\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"15:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/17\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"08:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/17\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"09:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/17\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"09:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/17\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"10:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/17\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"10:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/17\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"11:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/17\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"13:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/17\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"13:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/17\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"14:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/17\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"14:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/17\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"15:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/17\",\n            \"WEEK_DAY\": 6,\n            \"TIME_SET\": \"15:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/19\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"08:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/19\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"09:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/19\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"09:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/19\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"10:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/19\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"10:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/19\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"11:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/19\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"13:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/19\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"13:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/19\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"14:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/19\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"14:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/19\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"15:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/19\",\n            \"WEEK_DAY\": 1,\n            \"TIME_SET\": \"15:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/20\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"08:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/20\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"09:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/20\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"09:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/20\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"10:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/20\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"10:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/20\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"11:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/20\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"13:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/20\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"13:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/20\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"14:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/20\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"14:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/20\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"15:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/20\",\n            \"WEEK_DAY\": 2,\n            \"TIME_SET\": \"15:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/21\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"08:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/21\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"09:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/21\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"09:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/21\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"10:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/21\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"10:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/21\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"11:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/21\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"13:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/21\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"13:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/21\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"14:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/21\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"14:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/21\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"15:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/21\",\n            \"WEEK_DAY\": 3,\n            \"TIME_SET\": \"15:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/22\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"08:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/22\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"09:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/22\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"09:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/22\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"10:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/22\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"10:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/22\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"11:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/22\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"13:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/22\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"13:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/22\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"14:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/22\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"14:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/22\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"15:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/22\",\n            \"WEEK_DAY\": 4,\n            \"TIME_SET\": \"15:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/23\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"08:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/23\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"09:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/23\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"09:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/23\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"10:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/23\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"10:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/23\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"11:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/23\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"13:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/23\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"13:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/23\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"14:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/23\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"14:30\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/23\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"15:00\"\n        },\n        {\n            \"ORDERDT\": \"2018/11/23\",\n            \"WEEK_DAY\": 5,\n            \"TIME_SET\": \"15:30\"\n        }\n    ]\n}\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 660,
		"y": 1040,
		"wires": [["95064a72.996008"]]
	}, {
		"id": "95064a72.996008",
		"type": "http response",
		"z": "57b00185.eebcd",
		"name": "",
		"statusCode": "200",
		"headers": {},
		"x": 850,
		"y": 1040,
		"wires": []
	}
]
