REF/NodeRED_socket_server.json
[{"id":"6417defa.12331","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"7ac59b59.dc7574","type":"debug","z":"6417defa.12331","name":"MSG IN","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":740,"y":260,"wires":[]},{"id":"d25a48f2.53de58","type":"socketio-in","z":"6417defa.12331","name":"","server":"ec90606b.34392","rules":[{"v":"message"},{"v":"register service"},{"v":"register client"},{"v":"enter"},{"v":"leave"},{"v":"get history"},{"v":"update talk trick"},{"v":"edit customer name"},{"v":"update notify flag"},{"v":"api log"},{"v":"change customer"}],"x":77.00004577636719,"y":385,"wires":[["6d3e76fd.e14978"]]},{"id":"f9fced32.6e0ef","type":"switch","z":"6417defa.12331","name":"checkEvent","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"register service","vt":"str"},{"t":"eq","v":"register client","vt":"str"},{"t":"eq","v":"enter","vt":"str"},{"t":"eq","v":"leave","vt":"str"},{"t":"eq","v":"disconnect","vt":"str"},{"t":"eq","v":"disconnecting","vt":"str"},{"t":"eq","v":"get talk trick","vt":"str"},{"t":"eq","v":"get history","vt":"str"},{"t":"eq","v":"update talk trick","vt":"str"},{"t":"eq","v":"edit customer name","vt":"str"},{"t":"eq","v":"update notify flag","vt":"str"},{"t":"eq","v":"api log","vt":"str"},{"t":"eq","v":"change customer","vt":"str"}],"checkall":"false","repair":false,"outputs":14,"x":747,"y":445.99998474121094,"wires":[["73c1d0e2.fbd13"],["fa4c46df.2183c8"],[],["7d1946.969bb6bc"],["6862746e.a08f9c"],["6862746e.a08f9c","670a0729.878ad8"],[],[],["77c82731.ba39b8"],["7ed67655.986a28"],["696ff89a.34a8c8"],["4fa5d2f0.1f729c"],["6527faf4.30aa44"],["3ef049b5.5e1e96"]]},{"id":"e1b17266.f7e77","type":"function","z":"6417defa.12331","name":"new message","func":"msg.flow_config.time_record.socket_broadcast = Date.now();\n/*msg.payload = {\n username: msg.socketIOStaticProperties.room,\n message: msg.payload\n};*/\n//RED.util.setMessageProperty(msg, \"socketIOEmit\", \"broadcast.emit\", true);\n\nmsg.payload = msg.payload_preserved;\nlet room = msg.socketIOStaticProperties.room_id;\n\nif(room.split(\"_\")[0].includes(msg.payload.to.id) || msg.payload_preserved.type == 'client'){\n    \n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\n    if(msg.socketIOStaticProperties===null){\n        node.warn(\"Room id 不見了!\");\n    }\n    msg.room = room;\n    \n    return [msg, null];\n}else{\n    return [null, msg];\n}\n\n","outputs":2,"noerr":0,"x":1230,"y":840,"wires":[["9fd104e9.69c8c8"],["11b5e351.27132d"]]},{"id":"625a710d.958d7","type":"debug","z":"6417defa.12331","name":"EVENT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"socketIOEvent","x":724.7499694824219,"y":294.75,"wires":[]},{"id":"82beb5fc.b5c5e8","type":"catch","z":"6417defa.12331","name":"","scope":null,"x":220,"y":220,"wires":[["e7814270.b83e3","fcab22f9.24d28"]]},{"id":"e7814270.b83e3","type":"debug","z":"6417defa.12331","name":"ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":380,"y":240,"wires":[]},{"id":"865cfa45.55de48","type":"function","z":"6417defa.12331","name":"","func":"//node.warn(msg.socketIOEvent+ \" ## \"+JSON.stringify(msg.payload));\nif([\"newListener\",\"disconnecting\"].indexOf(msg.socketIOEvent)==-1){\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":572.3666687011719,"y":446.00001525878906,"wires":[["7ac59b59.dc7574","f9fced32.6e0ef","625a710d.958d7"]]},{"id":"7d1946.969bb6bc","type":"function","z":"6417defa.12331","name":"enter room","func":"msg.payload.room_id = \n    msg.payload.client_id + \"_\" + msg.payload.service_id;\nlet room_id = msg.payload.room_id;\n/*{\n    type : Connection.end_point,\n    client_id : Connection.client_id,\n    service_id : Connection.service_id,\n    room_id : \n}*/\nRED.util.setMessageProperty(\n    msg, \"socketIOAddStaticProperties\", \n    {\n        type : msg.payload.type,\n        client_id : msg.payload.client_id,\n        service_id : msg.payload.service_id,\n        room_id : msg.payload.room_id\n    },\n    true);\n\nRED.util.setMessageProperty(\n    msg, \"socketIOEmit\", \"emit\", true);\n\nmsg.payload = {\n    room: room_id\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":400,"wires":[["dc48c13d.87125","917cfae5.4cb1c8","18ab389e.8189b7","6a1e4670.2af028"]]},{"id":"dc48c13d.87125","type":"socketio-join","z":"6417defa.12331","name":"","server":"ec90606b.34392","x":1270,"y":400,"wires":[]},{"id":"6862746e.a08f9c","type":"function","z":"6417defa.12331","name":"leave room","func":"let room_id = \"\";\n\n//if(msg.socketIOEvent==\"leave\"){\n//    room_id = msg.payload;\n//}else if(msg.socketIOEvent==\"disconnect\"){\n    room_id = msg.socketIOStaticProperties\n                ?msg.socketIOStaticProperties.room_id\n                :\"\";\n//}\n\nmsg.payload = {\n    room: room_id\n};\n\nRED.util.setMessageProperty(\n    msg, \"socketIOEmit\", \"emit\", true);\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":440,"wires":[["41ac360b.6e7658","10b48c84.63a5b3","18ab389e.8189b7","773016a7.cece48"]]},{"id":"41ac360b.6e7658","type":"socketio-out","z":"6417defa.12331","name":"","server":"ec90606b.34392","x":1250,"y":560,"wires":[]},{"id":"399bfe43.a6ced2","type":"debug","z":"6417defa.12331","name":"MSG OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1870,"y":800,"wires":[]},{"id":"917cfae5.4cb1c8","type":"debug","z":"6417defa.12331","name":"MSG ENTER","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1268.86669921875,"y":360.23333740234375,"wires":[]},{"id":"10b48c84.63a5b3","type":"debug","z":"6417defa.12331","name":"MSG LEAVE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1240,"y":480,"wires":[]},{"id":"31bd0e87.16b8d2","type":"inject","z":"6417defa.12331","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":934.0333557128906,"y":216.6667022705078,"wires":[["18ab389e.8189b7"]]},{"id":"1cee2e2b.1e1502","type":"debug","z":"6417defa.12331","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1319.0333557128906,"y":216.4167022705078,"wires":[]},{"id":"18ab389e.8189b7","type":"function","z":"6417defa.12331","name":"chat_status","func":"\nvar chat_status = context.get(\"chat_status\");\nchat_status = chat_status!=null ? chat_status : {};\n\nif( typeof msg.payload ==\"number\"){\n    \n    return {\n        payload:chat_status\n    };\n    \n}else{\n    \n    if(msg.payload.room!=null){\n        //node.warn(msg.socketIOEvent + \" \"+ msg.payload.room);\n        if(chat_status[msg.payload.room]==null){\n            chat_status[msg.payload.room]=0;\n        }\n        \n        if(msg.socketIOEvent==\"enter\"){\n            chat_status[msg.payload.room]++;\n        }\n        \n        if(msg.socketIOEvent==\"leave\" || msg.socketIOEvent==\"disconnect\"){\n            chat_status[msg.payload.room]--;\n            chat_status[msg.payload.room] = chat_status[msg.payload.room]<0?0:chat_status[msg.payload.room];\n        }\n        \n        context.set(\"chat_status\",chat_status);\n        \n    }\n}","outputs":1,"noerr":0,"x":1119.0333557128906,"y":216.66668701171875,"wires":[["1cee2e2b.1e1502"]]},{"id":"eb961fdf.8c5ff","type":"watson-conversation-v1","z":"6417defa.12331","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":760,"y":780,"wires":[["ad67195c.21a6f8","28ee7499.d7b1dc"]]},{"id":"f6a0af45.7afb5","type":"socketio-out","z":"6417defa.12331","name":"","server":"ec90606b.34392","x":1880,"y":840,"wires":[]},{"id":"c6b6ba5b.3640a8","type":"function","z":"6417defa.12331","name":"Source Type","func":"msg.payload_preserved = msg.payload;\n\nif(msg.payload.type==\"client\"){\n    return [msg,null];\n}else{\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"x":207.1163330078125,"y":861.3331604003906,"wires":[["4b345b79.75bc84"],["e1b17266.f7e77","e7f7f511.001848"]]},{"id":"ad67195c.21a6f8","type":"function","z":"6417defa.12331","name":"","func":"msg.flow_config.time_record.assistant_return = Date.now();\nmsg.payload_preserved.intents = msg.payload.intents;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":800,"wires":[["e667a12d.e1056"]]},{"id":"8b4d9a44.7741f8","type":"link in","z":"6417defa.12331","name":"Deal Message - B","links":["73c1d0e2.fbd13","e3ea03c0.9ad9d8"],"x":83.11637878417969,"y":863.2664642333984,"wires":[["c6b6ba5b.3640a8","20aee5f3.dbc2ea"]]},{"id":"73c1d0e2.fbd13","type":"link out","z":"6417defa.12331","name":"Deal Message - A","links":["8b4d9a44.7741f8"],"x":890.1166076660156,"y":261.63336181640625,"wires":[]},{"id":"74a5aafd.1f2ad4","type":"comment","z":"6417defa.12331","name":"Config","info":"Node需安裝套件:\n    1.node-red-contrib-socketio\n    2.node-red-node-watson\n    3.node-red-node-mongodb\n    4.node-red-node-mysql\n    5.node-red-contrib-scx-ibmiotapp\n    6.@nickcis/node-red-node-cf-cloudant\n\nConversation:\nHT帳號下=>Develop Assistant\n    https://gateway.watsonplatform.net/assistant/api\n    4003aefc-79f8-4c14-a497-f720829da4f0\n    ZYqZvVngtxaX\n    \n    LexusBot\n    234bf172-8356-42cc-8ec3-cb0a3dc69a0c\n\nVisualRecognition:\n    X 8d97c9225169278094c24bee609f93eb31d33220\n    X BTWdTzZJy6ugm65tGHYzOP1qbNYjFADAO2b3SE8MZC6W\n    l_MaXgfCeFMtffqOCYJSmb8g4Rt3pfALzuvTFiUxzL3v\n","x":70.66673278808594,"y":45.33330535888672,"wires":[]},{"id":"4b345b79.75bc84","type":"function","z":"6417defa.12331","name":"Message Type","func":"let payload_preserved = msg.payload_preserved;\n\nif(payload_preserved.message.type==\"text\"){\n    msg.payload = payload_preserved.message.text;\n    //msg.user = payload_preserved.from.id;\n    return [msg,null];\n}else{\n    msg.visual_recog_url = payload_preserved.message.url;\n    \n    return [null,msg];\n}\n","outputs":2,"noerr":0,"x":390,"y":780,"wires":[["9c9fd560.b990d8"],["abdc1a1e.661d18"]]},{"id":"fe6afc94.be26a","type":"catch","z":"6417defa.12331","name":"","scope":["288e0c31.1997a4"],"x":540,"y":1260,"wires":[["c2045fac.8bb7c","e29d039d.c18ad"]]},{"id":"e29d039d.c18ad","type":"function","z":"6417defa.12331","name":"","func":"let output_msg = \"\";\n/*\nif(msg.watsonerror.indexOf(\"Image size limit exceeded\")!=-1){\n    output_msg=\"這張圖太大了啦 看得我眼睛好痠... 能換換嗎?\";\n}else if(msg.watsonerror.indexOf(\"Key is over transaction limit\")!=-1){\n    output_msg=\"我只是個時薪120的工讀生，剛剛我已經辨識完我的工作份量了喔，今天打烊下次請早。\";\n}else if(msg.watsonerror.indexOf(\"service credentials\")!=-1){\n    output_msg=\"抱歉我看不太懂，可以用文字告訴我嗎？\";\n}else{\n    //已知原因有丟gif檔會得到 An undefined server error occurred.\n    output_msg=\"抱歉我看不太懂，可以換張圖片我看看？\";\n}*/\n\nmsg.recognitionResult = output_msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1280,"wires":[[]]},{"id":"3cbdabb2.5a1f14","type":"link in","z":"6417defa.12331","name":"Line VisualRecog IN - B","links":["abdc1a1e.661d18"],"x":135,"y":1360,"wires":[["dc91ce0d.fe053","b4beca.4bfbf138"]]},{"id":"400c0e32.ce3b7","type":"link out","z":"6417defa.12331","name":"Line VisualRecog OUT - A","links":["72e98d80.e2e5a4"],"x":935,"y":1420,"wires":[]},{"id":"86c208eb.88ff28","type":"function","z":"6417defa.12331","name":"","func":"msg.flow_config.time_record.visualrecog_return = Date.now();\nlet output_msg = \"\";\n\nif(\n    msg.result &&\n    msg.result.images &&\n    msg.result.images[0] &&\n    msg.result.images[0].classifiers &&\n    msg.result.images[0].classifiers[0] &&\n    msg.result.images[0].classifiers[0].classes\n){\n    let labels = msg.result.images[0]\n                    .classifiers[0].classes;\n    labels.sort(function(a, b){\n        return b[\"score\"]-a[\"score\"];\n    });\n    labels = labels.filter(function(item){\n        return item[\"score\"]>0.6;\n    });\n    output_msg = labels.map(function(item){\n       return item.class\n    }).join(\",\");\n}\nmsg.trans = output_msg;\nmsg.recognitionResult = output_msg;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1360,"wires":[["754667e.fb18d98"]]},{"id":"754667e.fb18d98","type":"function","z":"6417defa.12331","name":"","func":"\nmsg.payload = {\n    \"text\":msg.recognitionResult,\n    \"model_id\":\"en-zh-TW\"\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Accepts\": \"application/json\",\n    \"Authorization\":\"Basic \" + new Buffer('8f2be220-38af-4e08-a0e9-2beeb4a7db1f' + \":\" + 'nEVxvfgyWmzV').toString(\"base64\")\n};\n\nmsg.url = \"https://gateway.watsonplatform.net/language-translator/api/v3/translate?version=2018-05-01\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1440,"wires":[["353aa270.50a86e"]]},{"id":"353aa270.50a86e","type":"http request","z":"6417defa.12331","name":"","method":"POST","ret":"obj","url":"","tls":"","x":670,"y":1440,"wires":[["c7838cb4.e48a1"]]},{"id":"c7838cb4.e48a1","type":"function","z":"6417defa.12331","name":"","func":"let output_msg = \"\";\nif(\n    msg.payload.translations \n    && msg.payload.translations[0] \n    && msg.payload.translations[0].translation \n){\n    output_msg = msg.payload.translations[0].translation;\n}\n\nmsg.recognitionResult = output_msg;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1440,"wires":[["400c0e32.ce3b7","bc32f0fe.d6f73"]]},{"id":"dc91ce0d.fe053","type":"function","z":"6417defa.12331","name":"","func":"msg.flow_config.time_record.visualrecog_call = Date.now();\nmsg.payload = msg.visual_recog_url;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1360,"wires":[["b20735d6.513438"]]},{"id":"288e0c31.1997a4","type":"visual-recognition-v3","z":"6417defa.12331","name":"圖片辨識","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":700,"y":1360,"wires":[["86c208eb.88ff28","1c0e5615.aa003a"]]},{"id":"5979c418.b2dd4c","type":"function","z":"6417defa.12331","name":"","func":"msg.payload_preserved.recognitionResult = msg.recognitionResult;\n\nmsg.payload = msg.recognitionResult;\n//msg.user = msg.payload_preserved.from.name;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":800,"wires":[["9c9fd560.b990d8"]]},{"id":"72e98d80.e2e5a4","type":"link in","z":"6417defa.12331","name":"Line VisualRecog OUT - B","links":["400c0e32.ce3b7"],"x":475,"y":840,"wires":[["5979c418.b2dd4c"]]},{"id":"abdc1a1e.661d18","type":"link out","z":"6417defa.12331","name":"Line VisualRecog IN - A","links":["3cbdabb2.5a1f14"],"x":535,"y":840,"wires":[]},{"id":"bc32f0fe.d6f73","type":"debug","z":"6417defa.12331","name":"Translate OUT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1000,"y":1460,"wires":[]},{"id":"1c0e5615.aa003a","type":"debug","z":"6417defa.12331","name":"Recog OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":989.2333068847656,"y":1361.83349609375,"wires":[]},{"id":"28ee7499.d7b1dc","type":"debug","z":"6417defa.12331","name":"Assistant OUT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":960,"y":760,"wires":[]},{"id":"9c9fd560.b990d8","type":"function","z":"6417defa.12331","name":"setting","func":"let workspace = msg.flow_config.watson_config[0];\nmsg.flow_config.time_record.assistant_call = Date.now();\n\nmsg.params = {\n    //alternate_intents: true,\n    timeout: 9*1000,\n    \n    workspace_id: workspace.workspaceId,\n    username: workspace.username,\n    password: workspace.password,\n};\n\nmsg.flow_config.usedWorkspace = workspace.workspaceId;\nmsg.flow_config.usedWatsonName = workspace.name;\n\n\nif(msg.payload == \"\" || msg.payload == null ){\n    msg.payload = \" \";\n} \nmsg.payload = msg.payload.replace(/[\\t\\n\\r]/g,\"\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":760,"wires":[["eb961fdf.8c5ff","8d55dcb3.91754"]]},{"id":"502368cc.ffa038","type":"comment","z":"6417defa.12331","name":"訊息處理 圖像辨識","info":"因為recog的service讀不到localhost的檔案 \n目前先把檔案內容讀回來","x":168.03335571289062,"y":1240.166748046875,"wires":[]},{"id":"287136c8.8c4c4a","type":"comment","z":"6417defa.12331","name":"訊息處理 Assistant","info":"","x":90.41639709472656,"y":766.1664733886719,"wires":[]},{"id":"2449b9e0.b545e6","type":"comment","z":"6417defa.12331","name":"Socket 進入點","info":"","x":99.41671752929688,"y":305.66668701171875,"wires":[]},{"id":"8cb0017.edafd","type":"comment","z":"6417defa.12331","name":"Error Handling","info":"","x":114.41671752929688,"y":158.66668701171875,"wires":[]},{"id":"20aee5f3.dbc2ea","type":"debug","z":"6417defa.12331","name":"Message Parse","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":208.99969482421875,"y":908.9997863769531,"wires":[]},{"id":"b4beca.4bfbf138","type":"debug","z":"6417defa.12331","name":"Picture Parse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":280,"y":1320,"wires":[]},{"id":"8d55dcb3.91754","type":"debug","z":"6417defa.12331","name":"Go Assistant","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":780,"y":740,"wires":[]},{"id":"4e42684a.e82a78","type":"http request","z":"6417defa.12331","name":"","method":"GET","ret":"bin","url":"","tls":"","x":550,"y":1360,"wires":[["288e0c31.1997a4"]]},{"id":"b20735d6.513438","type":"function","z":"6417defa.12331","name":"","func":"msg.url = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1360,"wires":[["4e42684a.e82a78"]]},{"id":"17c8219d.04c26e","type":"link out","z":"6417defa.12331","name":"DB SELECT - A","links":["ccc5170e.f1d008"],"x":1275,"y":1800,"wires":[]},{"id":"ccc5170e.f1d008","type":"link in","z":"6417defa.12331","name":"DB SELECT - B","links":["9c1842c1.5692f","17c8219d.04c26e","4d8449fb.fe4b28","9589e7fa.8cc3c8"],"x":75,"y":1720,"wires":[["b79f6c13.377ff"]]},{"id":"b79f6c13.377ff","type":"function","z":"6417defa.12331","name":"refresh_list","func":"\nlet service_id = \"\";\nservice_id = msg.socketIOAddStaticProperties?msg.socketIOAddStaticProperties.service_id:service_id;\nservice_id = msg.socketIOStaticProperties?msg.socketIOStaticProperties.service_id:service_id;\n\nmsg.topic = \"call sp_select_manager_list('\"+service_id+\"');\";\nmsg.mysql_router = \"refresh_list\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1720,"wires":[["f3430042.8b5fb"]]},{"id":"a2767977.e34b08","type":"mqtt out","z":"6417defa.12331","name":"","topic":"socket_server_in","qos":"","retain":"","broker":"5c00ec5b.52a074","x":550,"y":380,"wires":[]},{"id":"6d3e76fd.e14978","type":"function","z":"6417defa.12331","name":"","func":"\nmsg.flow_config = {\n    //\"HT_API_host\":\"https://nodered-api-lexus-test01.mybluemix.net/ht_api/\",\n    \"HT_API_host\": \"https://htsr.hotaimotor.com.tw/LINEAPI_TEST/Service.asmx/\",\n    \"HT_LineNotifyAPI_host\":\"https://htsr.hotaimotor.com.tw/LINENOTIFYAPI_TEST/LineNotify/\",\n    //\"HT_image_space\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/\",\n    \"watson_config\": [{\n        \"name\":\"LexusBot\",\n        \"workspaceId\": \"2fbeab39-9653-4086-ae5a-d0bdaee01f37\",\n        \"username\": \"4003aefc-79f8-4c14-a497-f720829da4f0\",\n        \"password\": \"ZYqZvVngtxaX\"\n    }],\n    \"time_record\":{\n        socket_receive: Date.now()\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":218.4834442138672,"y":385.3833312988281,"wires":[["865cfa45.55de48","1622b4a.d86784b"]]},{"id":"dfca1650.fd9b88","type":"mqtt in","z":"6417defa.12331","name":"","topic":"socket_server_in","qos":"2","broker":"5c00ec5b.52a074","x":241.91671752929688,"y":446.9999694824219,"wires":[["2af8c99c.32cb06","be462b7b.057b68"]]},{"id":"2af8c99c.32cb06","type":"function","z":"6417defa.12331","name":"","func":"\nreturn JSON.parse(msg.payload) ;","outputs":1,"noerr":0,"x":414.4834289550781,"y":447.38323974609375,"wires":[["865cfa45.55de48"]]},{"id":"8ae6568b.b238b8","type":"function","z":"6417defa.12331","name":"talk_log","func":"msg.flow_config.time_record.before_db_log = Date.now();\nlet message_item = msg.payload;\n\nlet message_type = message_item.message.type;\nlet content = message_type==\"text\" ? message_item.message.text : message_item.message.url;\ncontent = content.replace(/,/g,\"\\,\").replace(/\"/g,'\\\"');\nlet time = message_item.time;\nlet intent_str = message_item.intents?JSON.stringify(message_item.intents):\"\";\nlet recognition_result = message_item.recognitionResult?message_item.recognitionResult:\"\";\n\nlet direction = message_item.type;\nlet from_id = message_item.from.id;\nlet to_id = message_item.to.id;\nlet push = message_item.push;\n\nlet time_record = JSON.stringify(msg.flow_config.time_record);\n\nlet sql_cmd = \"call sp_send_message('\"+message_type+\"','\"+content+\"','\"+intent_str+\"','\"+recognition_result+\"','\"+time+\"','\"+direction+\"','\"+from_id+\"','\"+to_id+\"','\"+push+\"','\"+time_record+\"');\";\nmsg.topic = sql_cmd;\nmsg.mysql_router = \"talk_log\";\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":1680,"wires":[["f3430042.8b5fb"]]},{"id":"1622b4a.d86784b","type":"debug","z":"6417defa.12331","name":"TO mqtt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":500,"y":320,"wires":[]},{"id":"be462b7b.057b68","type":"debug","z":"6417defa.12331","name":"FROM mqtt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":435.4167175292969,"y":492.41668701171875,"wires":[]},{"id":"a050943e.ac44f8","type":"link in","z":"6417defa.12331","name":"To DB - B","links":["1fedb67e.c071ca","eb6327ee.c13ed8"],"x":75,"y":1680,"wires":[["8ae6568b.b238b8"]]},{"id":"1fedb67e.c071ca","type":"link out","z":"6417defa.12331","name":"To DB - A","links":["a050943e.ac44f8","55d57b29.6ba64c"],"x":1815,"y":880,"wires":[]},{"id":"c71ebcf5.4586f","type":"socketio-out","z":"6417defa.12331","name":"","server":"ec90606b.34392","x":1620,"y":1820,"wires":[]},{"id":"1dcbc6e0.a6e159","type":"function","z":"6417defa.12331","name":"BroadCast List to Room","func":"msg.responsibility_data = msg.responsibility_data || [];\nmsg.payload[0].forEach(function(item){\n   item.notify_data = JSON.parse(item.notify_data); \n});\n\nmsg.payload[0] = msg.payload[0].map(function(item){\n\titem.detail = msg.responsibility_data.find(function(r){\n\t    if(r.customer_id == item.ENCYID){\n\t        return r;\n\t    }\n\t});\n\treturn item;\n})\n\n\nRED.util.setMessageProperty(msg, \"socketIOEvent\", \"update conversation list\", true);\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\n\nlet service_id = \"\";\nservice_id = msg.socketIOAddStaticProperties ? msg.socketIOAddStaticProperties.service_id : service_id;\nservice_id = msg.socketIOStaticProperties ? msg.socketIOStaticProperties.service_id : service_id;\nmsg.room = service_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":1820,"wires":[["c71ebcf5.4586f"]]},{"id":"fcab22f9.24d28","type":"debug","z":"6417defa.12331","name":"###ERROR###","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","x":410,"y":200,"wires":[]},{"id":"fa4c46df.2183c8","type":"function","z":"6417defa.12331","name":"register service","func":"let service_id = msg.payload.service_id;\n\nmsg.socketIOAddStaticProperties = msg.socketIOAddStaticProperties?msg.socketIOAddStaticProperties:{};\nmsg.socketIOAddStaticProperties.service_id = service_id;\nreturn msg;","outputs":1,"noerr":0,"x":967.9999084472656,"y":340.4000244140625,"wires":[["35080ea3.c54d82","7c79f54b.5b7c4c"]]},{"id":"19e15e43.9be212","type":"socketio-join","z":"6417defa.12331","name":"","server":"ec90606b.34392","x":1458.25,"y":321.65008544921875,"wires":[]},{"id":"3245661a.4dd9aa","type":"function","z":"6417defa.12331","name":"register_client","func":"let configs = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\nlet taipei_digi_data = msg.taipei_digi_data.CSINFO[0] ;\nlet lexus_data = msg.lexus_data.USERDATA[0];\nlet personal_data = JSON.stringify({\n    taipei_digi_data: taipei_digi_data,\n    lexus_data: lexus_data\n});\n\nmsg.topic = \"call sp_bind_client('\"+configs.service_id+\"','\"+configs.client_id+\"','\"+lexus_data.USERNM+\"','\"+taipei_digi_data.CARNM+\"','\"+taipei_digi_data.LICSNO+\"','\"+taipei_digi_data.PICURL+\"','\"+lexus_data.MOBILE+\"','\"+lexus_data.FENDAT+\"','\"+lexus_data.UENDAT+\"','\"+lexus_data.BIRTHDAY+\"','\"+\"\"+\"','\"+\"\"+\"','\"+\"\"+\"','\"+personal_data+\"',NULL);\";\nif(taipei_digi_data.WHSRVNO!==\"\"){\n    msg.topic += \"call sp_bind_client('\"+taipei_digi_data.WHSRVNO+\"','\"+configs.client_id+\"','\"+lexus_data.USERNM+\"','\"+taipei_digi_data.CARNM+\"','\"+taipei_digi_data.LICSNO+\"','\"+taipei_digi_data.PICURL+\"','\"+lexus_data.MOBILE+\"','\"+lexus_data.FENDAT+\"','\"+lexus_data.UENDAT+\"','\"+lexus_data.BIRTHDAY+\"',NULL,'NULL','NULL','\"+personal_data+\"',NULL);\";\n}\nmsg.mysql_router = \"register_client\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1840,"wires":[["f3430042.8b5fb"]]},{"id":"3a3fbb2.4015444","type":"mqtt out","z":"6417defa.12331","name":"","topic":"mysql_mqtt","qos":"","retain":"","broker":"5c00ec5b.52a074","x":810,"y":1760,"wires":[]},{"id":"55b9eaf0.b63b34","type":"function","z":"6417defa.12331","name":"","func":"\nreturn {\n    payload:msg\n};","outputs":1,"noerr":0,"x":670,"y":1760,"wires":[["3a3fbb2.4015444"]]},{"id":"cb7bbaf1.487f68","type":"mqtt in","z":"6417defa.12331","name":"","topic":"mysql_mqtt","qos":"2","broker":"5c00ec5b.52a074","x":570,"y":1880,"wires":[["e62b4ee7.7badc"]]},{"id":"e62b4ee7.7badc","type":"function","z":"6417defa.12331","name":"","func":"\nreturn JSON.parse(msg.payload) ;","outputs":1,"noerr":0,"x":710,"y":1880,"wires":[[]]},{"id":"9290b8f3.5808f8","type":"link in","z":"6417defa.12331","name":"Register Client - B","links":["de8f588d.75f628","59cb4741.59b098","5b438665.582ed8"],"x":75,"y":1840,"wires":[["3245661a.4dd9aa"]]},{"id":"25bc0521.84766a","type":"link in","z":"6417defa.12331","name":"Talk Trick  IN - B","links":["e667a12d.e1056","df40cb69.d396b8"],"x":75,"y":1640,"wires":[["b04b15ee.505b98"]]},{"id":"e667a12d.e1056","type":"link out","z":"6417defa.12331","name":"Talk Trick  IN - A","links":["25bc0521.84766a"],"x":1035,"y":800,"wires":[]},{"id":"b9dc3002.7f8b5","type":"link in","z":"6417defa.12331","name":"Talk Trick  OUT - B","links":["53e54c02.d04c34","c54eae2d.b616b","1799cf0.9f6c031"],"x":1075,"y":800,"wires":[["e1b17266.f7e77"]]},{"id":"c54eae2d.b616b","type":"link out","z":"6417defa.12331","name":"Talk Trick  OUT - A","links":["b9dc3002.7f8b5"],"x":1455,"y":1780,"wires":[]},{"id":"91afbbd5.bf6da8","type":"comment","z":"6417defa.12331","name":"DB dealing","info":"","x":90,"y":1520,"wires":[]},{"id":"b55e5bdb.6e5288","type":"mysql","z":"6417defa.12331","mydb":"4b5277f6.0ff8b8","name":"","x":900,"y":1860,"wires":[["2e4d6f3e.a0cc","9a6fdd80.33502"]]},{"id":"1f465e2f.14d572","type":"link in","z":"6417defa.12331","name":"Get History - B","links":["77c82731.ba39b8"],"x":75,"y":1560,"wires":[["82d58fa8.f2f0e"]]},{"id":"1c64fb2.64eda05","type":"socketio-out","z":"6417defa.12331","name":"","server":"ec90606b.34392","x":1600,"y":1700,"wires":[]},{"id":"f2e7f777.db68b8","type":"function","z":"6417defa.12331","name":"BroadCast Oneself","func":"\nRED.util.setMessageProperty(msg, \"socketIOEvent\", \"get history\", true);\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"emit\", true);\n\nlet conversations = msg.payload[0].map(function(item){\n    return {\n        \"type\": item.direction_type,\n        \"from\": {\n            \"id\": item.from,\n            \"avator\": item.avator,\n            \"name\": item.name\n        },\n        \"to\": {\n            \"id\": item.to,\n        },\n        \"time\": new Date(item.time).getTime(),\n        \"intents\": (item.assistant_ans && item.assistant_ans!=\"\" ?JSON.parse(item.assistant_ans):null),\n        \"recognitionResult\":item.visualrecog_ans,\n        \"message\": {\n            \"type\": item.message_type,\n            \"text\": (item.message_type==\"text\"?item.content:null),\n            \"url\": (item.message_type==\"image\"?item.content:null)\n        }\n    };\n});\n\n\nmsg.payload={\n    req_para:msg.ori_paylaod,\n    data: conversations\n};\nlet service_id = \"\";\nservice_id = msg.socketIOAddStaticProperties ? msg.socketIOAddStaticProperties.service_id : service_id;\nservice_id = msg.socketIOStaticProperties ? msg.socketIOStaticProperties.service_id : service_id;\nmsg.room = service_id;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":1700,"wires":[["1c64fb2.64eda05"]]},{"id":"77c82731.ba39b8","type":"link out","z":"6417defa.12331","name":"Get History - A","links":["1f465e2f.14d572"],"x":895,"y":500,"wires":[]},{"id":"dec4536f.99ccf","type":"mqtt in","z":"6417defa.12331","name":"","topic":"mqtt_alive","qos":"2","broker":"5c00ec5b.52a074","x":716.2333679199219,"y":105.23335266113281,"wires":[["913264c3.0e8f28"]]},{"id":"c05691d4.0de94","type":"mqtt out","z":"6417defa.12331","name":"","topic":"mqtt_alive","qos":"","retain":"","broker":"5c00ec5b.52a074","x":1080.7333679199219,"y":46.65003967285156,"wires":[]},{"id":"17cac298.a7addd","type":"inject","z":"6417defa.12331","name":"","topic":"","payload":"mqtt_test","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"2","x":716.2334289550781,"y":46.300048828125,"wires":[["7c6d6610.c1be68","4a0cad62.275db4"]]},{"id":"8c0ad7a3.3ace98","type":"debug","z":"6417defa.12331","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1191.2333679199219,"y":104.75007629394531,"wires":[]},{"id":"7c6d6610.c1be68","type":"function","z":"6417defa.12331","name":"","func":"msg.out = true;\nreturn {\n    payload:msg\n};","outputs":1,"noerr":0,"x":885.8000183105469,"y":46.61665344238281,"wires":[["c05691d4.0de94"]]},{"id":"913264c3.0e8f28","type":"function","z":"6417defa.12331","name":"","func":"\n\n\n\n\nreturn JSON.parse(msg.payload) ;","outputs":1,"noerr":0,"x":887.8000183105469,"y":105.61662292480469,"wires":[["4a0cad62.275db4"]]},{"id":"4a0cad62.275db4","type":"function","z":"6417defa.12331","name":"","func":"\nclearTimeout(\n    context.get(\"id_of_settimeout\")\n);\n\nif(!msg.out){\n    context.set(\"id_of_settimeout\",\n        setTimeout(function(){\n            node.send({payload:\"MQTT沒連通!!!檢查是否IAP\"})\n        }, 5000)\n    );\n}","outputs":1,"noerr":0,"x":1027.0334167480469,"y":105.16670227050781,"wires":[["8c0ad7a3.3ace98"]]},{"id":"b04b15ee.505b98","type":"function","z":"6417defa.12331","name":"get_talk_trick","func":"let config = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\n\nlet output_text = msg.payload.output.text.join(\"\");\nlet service_id = config.service_id;\n\nif(is_json(output_text)){\n    let ans_obj = JSON.parse(output_text);\n    if(ans_obj && ans_obj.ans_ID){\n        msg.flow_config.time_record.mysql_call = Date.now();\n        msg.topic = \"call sp_select_talk_tricks('\"+service_id+\"','\"+ans_obj.ans_ID+\"');\";\n        msg.payload_preserved.ans_ID = ans_obj.ans_ID;\n        msg.mysql_router = \"get_talk_trick\";\n        return [msg,null];\n    }\n}\nreturn [null,msg];\n\nfunction is_json(str) {\n    try {\n        JSON.parse(str);\n    } catch (e) {\n        return false;\n    }\n    return true;\n}\n","outputs":2,"noerr":0,"x":200,"y":1640,"wires":[["f3430042.8b5fb"],["53e54c02.d04c34"]]},{"id":"b799be9a.3f983","type":"function","z":"6417defa.12331","name":"","func":"msg.flow_config.time_record.mysql_return = Date.now();\n\nif(\n    msg.payload[0][0]!==null &&\n    msg.payload[0][0].talk_tricks!==null && \n    is_json(msg.payload[0][0].talk_tricks)\n){\n    msg.payload_preserved.talk_tricks = JSON.parse(msg.payload[0][0].talk_tricks);\n}\n\nif(msg.payload_preserved.ans_ID ==\"Normal\"){\n    RED.util.setMessageProperty(msg, \"socketIOEvent\", \"normal talk trick\", true);\n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"emit\", true);\n    msg.payload = msg.payload_preserved.talk_tricks;\n\n    return [msg,null];\n}else{\n    return [null,msg];\n}\n\nfunction is_json(str) {\n    try {\n        JSON.parse(str);\n    } catch (e) {\n        return false;\n    }\n    return true;\n}\n","outputs":2,"noerr":0,"x":1350,"y":1780,"wires":[["aa5d787d.ce5bc8"],["c54eae2d.b616b"]]},{"id":"c2045fac.8bb7c","type":"debug","z":"6417defa.12331","name":"ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":1240,"wires":[]},{"id":"967744e0.189958","type":"function","z":"6417defa.12331","name":"update_talk_trick","func":"let configs = msg.socketIOStaticProperties;\n\nlet dialog_id =  msg.payload && msg.payload.dialog_id?msg.payload.dialog_id:\"null\";\nlet talk_tricks =  msg.payload && msg.payload.talk_tricks?JSON.stringify(msg.payload.talk_tricks):\"null\";\nmsg.ori_paylaod = msg.payload;\nmsg.topic = \"call sp_update_talk_tricks('\"+configs.service_id+\"','dialog','\"+dialog_id+\"','\"+talk_tricks+\"');\";\nmsg.mysql_router = \"update_talk_trick\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1600,"wires":[["f3430042.8b5fb"]]},{"id":"203c3599.badcca","type":"link in","z":"6417defa.12331","name":"Update Talk Trick- B","links":["7ed67655.986a28"],"x":75.46665954589844,"y":1600.8164367675781,"wires":[["967744e0.189958"]]},{"id":"7ed67655.986a28","type":"link out","z":"6417defa.12331","name":"Update Talk Trick- A","links":["203c3599.badcca"],"x":935,"y":520,"wires":[]},{"id":"91faeb32.a6b1e8","type":"function","z":"6417defa.12331","name":"","func":"return {\n    payload:msg\n};","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["a2767977.e34b08"]]},{"id":"9c1842c1.5692f","type":"link out","z":"6417defa.12331","name":"DB SELECT - A","links":["ccc5170e.f1d008"],"x":1315,"y":1860,"wires":[]},{"id":"cd5f56e.9ce9fa8","type":"function","z":"6417defa.12331","name":"register_manager","func":"let mysql_cmd = \"SELECT 1; \";\nif(msg.payload.manager_data){\n    let manager_data = msg.payload.manager_data;\n    manager_data.PERSONAL_DATA = JSON.stringify(manager_data.Presponsibility_dataERSONAL_DATA) || \"{}\";\n    manager_data.PHONE = manager_data.PHONE || \"NULL\";\n    \n    mysql_cmd += \"call sp_update_manager('\"+manager_data.USERID+\"','\"+manager_data.COMPID+\"','\"+manager_data.DLRCD+\"','\"+manager_data.BRNHCD+\"','\"+manager_data.SECTCD+\"','\"+manager_data.ECHOTITLECD+\"','\"+manager_data.USERNM+\"','\"+manager_data.PICURL+\"', '\"+manager_data.PHONE+\"','\"+manager_data.PERSONAL_DATA+\"'); \";\n}\nif(msg.payload.responsibility_data){\n    msg.responsibility_data = msg.payload.responsibility_data;\n    msg.payload.responsibility_data.forEach(function(item){\n        item.NOTIFY_DATA = JSON.stringify(item.NOTIFY_DATA) || \"{}\";\n        mysql_cmd += \"call sp_bind_client('\"+item.USERID+\"','\"+item.ENCYID+\"','\"+item.NICKNAME+\"','\"+item.CARNM+\"','\"+item.LICSNO+\"','\"+item.PICURL+\"', '\"+item.MOBILE+\"', '\"+item.FENDAT+\"', '\"+item.UENDAT+\"', '\"+item.BRTHDT+\"', '\"+item.FFLAG+\"', '\"+item.UFLAG+\"', '\"+item.BIRFLAG+\"', NULL,'\"+item.NOTIFY_DATA+\"'); \";\n    });\n}\nmsg.topic = mysql_cmd;\nmsg.mysql_router = \"register_manager\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":1800,"wires":[["f3430042.8b5fb"]]},{"id":"22b6495.933afb6","type":"link in","z":"6417defa.12331","name":"Register Manager - B","links":["57a56582.e7fcdc","7c79f54b.5b7c4c"],"x":75,"y":1800,"wires":[["cd5f56e.9ce9fa8"]]},{"id":"328138fe.e85158","type":"comment","z":"6417defa.12331","name":"處理 進MQTT 出來 MYSQL 分邊","info":"","x":517.1166687011719,"y":1562.2000732421875,"wires":[]},{"id":"2e4d6f3e.a0cc","type":"switch","z":"6417defa.12331","name":"","property":"mysql_router","propertyType":"msg","rules":[{"t":"eq","v":"get_history","vt":"str"},{"t":"eq","v":"update_talk_trick","vt":"str"},{"t":"eq","v":"get_talk_trick","vt":"str"},{"t":"eq","v":"talk_log","vt":"str"},{"t":"eq","v":"refresh_list","vt":"str"},{"t":"eq","v":"select_conversation_info","vt":"str"},{"t":"eq","v":"register_manager","vt":"str"},{"t":"eq","v":"register_client","vt":"str"},{"t":"eq","v":"check manager on service","vt":"str"},{"t":"eq","v":"manager log out","vt":"str"},{"t":"eq","v":"edit customer nickname","vt":"str"},{"t":"eq","v":"update notify flag","vt":"str"},{"t":"eq","v":"Call Api Log","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":14,"x":1070,"y":1860,"wires":[["f2e7f777.db68b8"],[],["b799be9a.3f983"],["17c8219d.04c26e"],["1dcbc6e0.a6e159"],["883fc630.fcb418"],["9c1842c1.5692f"],["388364b8.bd6e1c"],["d9b2bc91.d7206"],["56c62e9.ff1e9d"],["4d8449fb.fe4b28"],["9589e7fa.8cc3c8"],["e03c615a.5cb88"],["b55e5599.dd6ab8"]]},{"id":"82d58fa8.f2f0e","type":"function","z":"6417defa.12331","name":"get_history","func":"let configs = msg.socketIOStaticProperties;\n\nlet skip =  msg.payload && msg.payload.skip?msg.payload.skip:\"null\";\nlet limit =  msg.payload && msg.payload.limit?msg.payload.limit:\"null\";\nmsg.ori_paylaod = msg.payload;\nmsg.topic = \"call sp_select_talk_history('\"+configs.type+\"','\"+configs.service_id+\"','\"+configs.client_id+\"',\"+skip+\",\"+limit+\");\";\nmsg.mysql_router = \"get_history\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1560,"wires":[["f3430042.8b5fb"]]},{"id":"53e54c02.d04c34","type":"link out","z":"6417defa.12331","name":"Talk Trick  OUT - A","links":["b9dc3002.7f8b5"],"x":395,"y":1640,"wires":[]},{"id":"f3430042.8b5fb","type":"function","z":"6417defa.12331","name":"","func":"\nnode.warn(\"SQL: \"+msg.mysql_router);\n//node.warn(msg.topic);\n//node.warn(msg.mysql_router+\"\\n\"+msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1800,"wires":[["b55e5bdb.6e5288"]]},{"id":"b55e5599.dd6ab8","type":"debug","z":"6417defa.12331","name":"MYSQL類別異常","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":2000,"wires":[]},{"id":"7c79f54b.5b7c4c","type":"link out","z":"6417defa.12331","name":"Register Manager - A","links":["22b6495.933afb6"],"x":1207.63330078125,"y":293.0000305175781,"wires":[]},{"id":"35080ea3.c54d82","type":"function","z":"6417defa.12331","name":"","func":"let service_id = msg.payload.service_id;\n\nmsg.payload = {\n    room: service_id\n};\nreturn msg;","outputs":1,"noerr":0,"x":1241.666748046875,"y":325.66668701171875,"wires":[["19e15e43.9be212","251dbc6d.e18c64"]]},{"id":"9a6fdd80.33502","type":"debug","z":"6417defa.12331","name":"DEBBUG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":1720,"wires":[]},{"id":"e7a45b52.a67648","type":"function","z":"6417defa.12331","name":"select conversation info","func":"\nmsg.topic = 'call sp_select_conversation_info(\"'+msg.socketIOAddStaticProperties.service_id+'\",\"'+msg.socketIOAddStaticProperties.client_id+'\");';\nmsg.mysql_router = \"select_conversation_info\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":1760,"wires":[["f3430042.8b5fb"]]},{"id":"5faf2ee6.7e5ee","type":"link in","z":"6417defa.12331","name":"Select Conversation Info IN - B","links":["cf911385.fd257","388364b8.bd6e1c"],"x":75,"y":1760,"wires":[["e7a45b52.a67648"]]},{"id":"4ce4779.ee17988","type":"link in","z":"6417defa.12331","name":"Select Conversation Info OUT - B","links":["883fc630.fcb418"],"x":1095,"y":560,"wires":[["41ac360b.6e7658"]]},{"id":"883fc630.fcb418","type":"link out","z":"6417defa.12331","name":"Select Conversation Info OUT - A","links":["4ce4779.ee17988"],"x":1275,"y":1840,"wires":[]},{"id":"cf911385.fd257","type":"link out","z":"6417defa.12331","name":"Select Conversation Info IN - A","links":["5faf2ee6.7e5ee"],"x":1455,"y":420,"wires":[]},{"id":"b02e5132.5617a","type":"inject","z":"6417defa.12331","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":2220,"wires":[["d8e78b76.2d6ed8"]]},{"id":"d8e78b76.2d6ed8","type":"function","z":"6417defa.12331","name":"清空資料庫","func":"msg.topic = \"\";\nmsg.topic += \"DELETE FROM tb_customer WHERE 1;\";\nmsg.topic += \"DELETE FROM tb_manager WHERE 1;\";\nmsg.topic += \"DELETE FROM tb_responsibility WHERE 1;\";\nmsg.topic += \"DELETE FROM tb_message WHERE 1;\";\nreturn msg;","outputs":1,"noerr":0,"x":435.33331298828125,"y":2220.0997924804688,"wires":[[]]},{"id":"6a1e4670.2af028","type":"function","z":"6417defa.12331","name":"","func":"\nlet configs = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\n\nif(configs.type==\"client\"){\n    return [null,msg];\n}else{\n    return [msg,null];\n}","outputs":2,"noerr":0,"x":1237.75,"y":437.33338928222656,"wires":[["cf911385.fd257"],["afd91746.ab4128"]]},{"id":"388364b8.bd6e1c","type":"link out","z":"6417defa.12331","name":"Select Conversation Info IN - A","links":["5faf2ee6.7e5ee"],"x":1275,"y":1880,"wires":[]},{"id":"11b5e351.27132d","type":"function","z":"6417defa.12331","name":"Broadcast - other rooms","func":"\nlet room_id = msg.payload.to.id + \"_\" + msg.payload.from.id;\n\nRED.util.setMessageProperty(\n    msg, \"socketIOStaticProperties\", \n    {\n        type : 'service',\n        client_id : msg.payload.to.id,\n        service_id : msg.payload.from.id,\n        room_id : room_id\n    },\n    true);\n\nRED.util.setMessageProperty(\n    msg, \"socketIOEmit\", \"emit\", true);\n\nmsg.payload = msg.payload_preserved;\nmsg.payload.broadcast = true;\n\nmsg.flow_config.time_record.socket_broadcast = Date.now();\n\nlet room = msg.socketIOStaticProperties.room_id;\n\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\nif(msg.socketIOStaticProperties===null){\n    node.warn(\"Room id 不見了!\");\n}\nmsg.room = room;\n\nreturn msg;","outputs":1,"noerr":0,"x":1481.9996643066406,"y":869.9997253417969,"wires":[["399bfe43.a6ced2","f6a0af45.7afb5","1fedb67e.c071ca"]]},{"id":"df40cb69.d396b8","type":"link out","z":"6417defa.12331","name":"Talk Trick  IN - A","links":["25bc0521.84766a"],"x":1635,"y":380,"wires":[]},{"id":"251dbc6d.e18c64","type":"function","z":"6417defa.12331","name":"get normal tricks","func":"\nmsg.payload_preserved = msg.payload;\nmsg.payload = {\n    output: {\n        text: ['{\"ans_ID\":\"Normal\"}']\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":380,"wires":[["df40cb69.d396b8"]]},{"id":"aa5d787d.ce5bc8","type":"socketio-out","z":"6417defa.12331","name":"","server":"ec90606b.34392","x":1560,"y":1760,"wires":[]},{"id":"e7f7f511.001848","type":"function","z":"6417defa.12331","name":"為推播訊息 > 發API","func":"if(msg.payload.push){\n    msg.preserved_payload = msg.payload;\n    msg.payload = {\n        to: msg.preserved_payload.to.id,\n        message: msg.preserved_payload.message\n    };\n    \n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":511.9996643066406,"y":909.9997253417969,"wires":[["ad5273f5.047e4"]]},{"id":"776d402e.f2ef6","type":"function","z":"6417defa.12331","name":"","func":"\nmsg.url = \"https://lexusdev.gadclubs.com/zh_TW/hotaimotor_lexus_message\";\nmsg.headers = {\n    \"Content-Type\":\"application/x-www-form-urlencoded\"\n}\nvar form = {\n    HASHKEY: 'VERHMTU4NjA2NDk3MWMxZjc1OTI2OTdhZDgyZDRhNjZiNzI1MTI2YTY4YWJm',\n    messages_json: JSON.stringify(msg.payload.message),\n    ENCYID: msg.payload.to,\n    token: '',\n    conversation_id: UUID()\n};\nmsg.form = form;\n\nmsg.payload = form.messages_json+form.ENCYID+form.HASHKEY;\n\nreturn msg;\n\nfunction UUID() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now(); //use high-precision timer if available\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}","outputs":1,"noerr":0,"x":210,"y":1060,"wires":[["16abb7d5.156448"]]},{"id":"891adfba.6b90e","type":"http request","z":"6417defa.12331","name":"","method":"POST","ret":"txt","url":"","tls":"","x":590,"y":1060,"wires":[["b87250c9.7d348","28618e6b.d89172"]]},{"id":"b87250c9.7d348","type":"debug","z":"6417defa.12331","name":"台北數位推播API","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":1060,"wires":[]},{"id":"16abb7d5.156448","type":"md5","z":"6417defa.12331","name":"","fieldToHash":"payload","fieldTypeToHash":"msg","hashField":"md5","hashFieldType":"msg","x":330,"y":1060,"wires":[["fa46fcc9.61ad7"]]},{"id":"fa46fcc9.61ad7","type":"function","z":"6417defa.12331","name":"","func":"msg.form.token = msg.md5;\nmsg.payload = msg.form;\nvar today = new Date();\nmsg.callapi = {\n    start: today.toLocaleDateString('zh-tw') + ' ' + today.toLocaleTimeString('zh-tw')\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1060,"wires":[["891adfba.6b90e"]]},{"id":"cab62638.d589c8","type":"comment","z":"6417defa.12331","name":"台北數位推播API","info":"","x":150,"y":1000,"wires":[]},{"id":"ad5273f5.047e4","type":"link out","z":"6417defa.12331","name":"Broadcast API - A","links":["9132f1f9.86455"],"x":666.9996643066406,"y":909.9997253417969,"wires":[]},{"id":"9132f1f9.86455","type":"link in","z":"6417defa.12331","name":"Broadcast API - B","links":["ad5273f5.047e4"],"x":115,"y":1060,"wires":[["776d402e.f2ef6"]]},{"id":"96a6ff24.59be5","type":"inject","z":"6417defa.12331","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1140,"wires":[["62d5a60f.3fd0f8"]]},{"id":"62d5a60f.3fd0f8","type":"function","z":"6417defa.12331","name":"測試 - 傳給貓","func":"msg.payload = {\n    to: \"\", //\"5bfcdb61de1c58a7e3ed8c07f4261d82\",\n    message: [{\n\t\ttype: \"text\",\n\t\ttext: \"test,test,test\"\n\t}]\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1140,"wires":[["776d402e.f2ef6"]]},{"id":"9fd104e9.69c8c8","type":"link out","z":"6417defa.12331","name":"Check manager on service - A","links":["ffa7ea05.cd53b8"],"x":1386.9996643066406,"y":809.9997253417969,"wires":[]},{"id":"84eb504a.bdfe8","type":"comment","z":"6417defa.12331","name":"推播給專員","info":"","x":1030,"y":1020,"wires":[]},{"id":"ffa7ea05.cd53b8","type":"link in","z":"6417defa.12331","name":"Check manager on service - B","links":["9fd104e9.69c8c8"],"x":75,"y":1880,"wires":[["64f22bea.a127f4"]]},{"id":"64f22bea.a127f4","type":"function","z":"6417defa.12331","name":"取得專員登入狀態","func":"\nmsg.topic = \"SELECT * FROM tb_manager WHERE ht_id='\"+ msg.payload.to.id+\"';\";\nmsg.mysql_router = \"check manager on service\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1880,"wires":[["f3430042.8b5fb"]]},{"id":"d9b2bc91.d7206","type":"link out","z":"6417defa.12331","name":"check manager on service OUT - A","links":["40aeb59f.9df88c"],"x":1315,"y":1900,"wires":[]},{"id":"40aeb59f.9df88c","type":"link in","z":"6417defa.12331","name":"check manager on service OUT - B","links":["d9b2bc91.d7206"],"x":1426.9996643066406,"y":809.9997253417969,"wires":[["be5ead2a.68e98","430b795c.5afff8"]]},{"id":"be5ead2a.68e98","type":"function","z":"6417defa.12331","name":"判斷在線","func":"var login = \"N\", \n    customer_data = {};\nif(msg.payload.length>0){\n    login = msg.payload[0].login;\n    customer_data = msg.payload[0];\n}\nmsg.payload = msg.payload_preserved;\n\nif(login == \"N\" && msg.payload_preserved.type == \"client\"){\n    msg.customer_data = customer_data;\n    return [msg, msg];    \n}else{\n    return [null, msg];\n}\n\n","outputs":2,"noerr":0,"x":1541.9996643066406,"y":809.9997253417969,"wires":[["10960bab.f99524"],["399bfe43.a6ced2","f6a0af45.7afb5","1fedb67e.c071ca"]]},{"id":"10960bab.f99524","type":"function","z":"6417defa.12331","name":"","func":"\nmsg.url = msg.flow_config.HT_LineNotifyAPI_host+\"SendMessage\";\nmsg.headers = {\n    \"Content-Type\":\"application/x-www-form-urlencoded\"\n}\nlet configs = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\nmsg.payload = {\n    \"COMPID\": msg.customer_data.compid,\n    \"USERID\": msg.customer_data.ht_id,\n    \"MSG\": \"您有一封來自車主的訊息，請登入https://htsr.hotaimotor.com.tw/LINENOTIFYAPI_TEST/LOGIN/login查看\"\n};\nvar today = new Date();\nmsg.callapi = {\n    start: today.toLocaleDateString('zh-tw') + ' ' + today.toLocaleTimeString('zh-tw')\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":760,"wires":[["237529de.28da76"]]},{"id":"237529de.28da76","type":"http request","z":"6417defa.12331","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1850,"y":760,"wires":[["309f3793.e26378","e4f92bcf.bdb2f8"]]},{"id":"309f3793.e26378","type":"debug","z":"6417defa.12331","name":"Call API SendMessage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2070,"y":760,"wires":[]},{"id":"430b795c.5afff8","type":"debug","z":"6417defa.12331","name":"login status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1550,"y":740,"wires":[]},{"id":"48a0e3d9.03561c","type":"link in","z":"6417defa.12331","name":"Manager log out - B","links":["670a0729.878ad8"],"x":75,"y":1920,"wires":[["5be78192.8d83"]]},{"id":"5be78192.8d83","type":"function","z":"6417defa.12331","name":"專員登出","func":"var config = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\n\nif(config){\n    msg.topic = \"UPDATE tb_manager SET login='N' WHERE ht_id='\" + config.service_id + \"';\";\n    msg.mysql_router = \"manager log out\";\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":180,"y":1920,"wires":[["f3430042.8b5fb"]]},{"id":"56c62e9.ff1e9d","type":"debug","z":"6417defa.12331","name":"專員登出","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1400,"y":1920,"wires":[]},{"id":"670a0729.878ad8","type":"link out","z":"6417defa.12331","name":"Manager log out - A","links":["48a0e3d9.03561c"],"x":935,"y":480,"wires":[]},{"id":"696ff89a.34a8c8","type":"link out","z":"6417defa.12331","name":"edit customer name - A","links":["855ca983.6ebbd8"],"x":895,"y":540,"wires":[]},{"id":"855ca983.6ebbd8","type":"link in","z":"6417defa.12331","name":"edit customer name - B","links":["696ff89a.34a8c8"],"x":75.03338623046875,"y":1960.6666870117188,"wires":[["495d7f4a.aec36"]]},{"id":"495d7f4a.aec36","type":"function","z":"6417defa.12331","name":"更新使用暱稱","func":"msg.topic = \"UPDATE tb_responsibility SET customer_nickname = '\"+msg.payload.nickname+\"' WHERE manager_id = '\"+msg.payload.manager_id+\"' AND customer_id = '\"+msg.payload.customer_id+\"';\"\nmsg.mysql_router = \"edit customer nickname\";\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":1960,"wires":[["f3430042.8b5fb"]]},{"id":"4d8449fb.fe4b28","type":"link out","z":"6417defa.12331","name":"DB SELECT - A","links":["ccc5170e.f1d008"],"x":1275,"y":1920,"wires":[]},{"id":"4fa5d2f0.1f729c","type":"link out","z":"6417defa.12331","name":"update notify flag - A","links":["6c140a01.dc97e4"],"x":935,"y":560,"wires":[]},{"id":"6c140a01.dc97e4","type":"link in","z":"6417defa.12331","name":"update notify flag -B","links":["4fa5d2f0.1f729c"],"x":75,"y":2000,"wires":[["e0bcbfd4.cb40a"]]},{"id":"e0bcbfd4.cb40a","type":"function","z":"6417defa.12331","name":"更新通知flag","func":"msg.topic = \"UPDATE tb_customer SET \" + msg.payload.target + \"_notify = '\"+msg.payload.value+\"' WHERE ht_id = '\"+msg.payload.customer_id+\"';\"\nmsg.mysql_router = \"update notify flag\";\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":2000,"wires":[["f3430042.8b5fb"]]},{"id":"9589e7fa.8cc3c8","type":"link out","z":"6417defa.12331","name":"DB SELECT - A","links":["ccc5170e.f1d008"],"x":1315,"y":1940,"wires":[]},{"id":"1ee50517.bfda3b","type":"link in","z":"6417defa.12331","name":"Call Api Log - B","links":["304955ab.4cf53a","69a4f65a.896d28"],"x":75,"y":2040,"wires":[["b9f24e7c.70f39"]]},{"id":"b9f24e7c.70f39","type":"function","z":"6417defa.12331","name":"Call Api Log","func":"var data = JSON.stringify(msg.payload.data);\ndata = data.substring(0, 2000>data.length?2000:data.length);\n\nmsg.topic = \"call sp_api_log('\"+msg.payload.url+\"','\"+msg.payload.start+\"','\"+msg.payload.end+\"','\"+msg.payload.success+\"','\"+data+\"')\"\nmsg.mysql_router = \"Call Api Log\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":2040,"wires":[["f3430042.8b5fb"]]},{"id":"afd91746.ab4128","type":"function","z":"6417defa.12331","name":"register client","func":"\nmsg.url = msg.flow_config.HT_API_host+\"LINE006_Q00\";\nmsg.headers = {\n    \"Content-Type\":\"application/x-www-form-urlencoded\"\n}\nlet configs = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\nmsg.payload = {\n    \"jsonstr\":JSON.stringify({\n        \"ENCYID\": configs.client_id,\n        \"FRAN\": \"L\"\n    })\n};\nvar today = new Date();\nmsg.callapi = {\n    start: today.toLocaleDateString('zh-tw') + ' ' + today.toLocaleTimeString('zh-tw')\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1440,"y":460,"wires":[["10368680.c2c32a"]]},{"id":"10368680.c2c32a","type":"http request","z":"6417defa.12331","name":"LINE006_Q00","method":"POST","ret":"obj","url":"","tls":"","x":1640,"y":460,"wires":[["af672999.13e0c8","2cc4a2d8.e06bae"]]},{"id":"af672999.13e0c8","type":"function","z":"6417defa.12331","name":"","func":"msg.taipei_digi_data = msg.payload;\n\nlet configs = msg.socketIOStaticProperties || msg.socketIOAddStaticProperties;\n\nmsg.url = msg.flow_config.HT_API_host+\"LINELCS01_Q01\";\nmsg.headers = {\n    \"Content-Type\":\"application/x-www-form-urlencoded\"\n}\n\nmsg.payload = {\n    \"jsonstr\":JSON.stringify({\n        \"ENCYID\": configs.client_id\n    })\n};\n\nvar today = new Date();\nmsg.callapi = {\n    start: today.toLocaleDateString('zh-tw') + ' ' + today.toLocaleTimeString('zh-tw')\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1530,"y":500,"wires":[["1a869ef4.14d4a1"]]},{"id":"1a869ef4.14d4a1","type":"http request","z":"6417defa.12331","name":"LINELCS01_Q01","method":"POST","ret":"obj","url":"","tls":"","x":1710,"y":500,"wires":[["dacec593.7f14b8","14718044.e5e3d"]]},{"id":"dacec593.7f14b8","type":"function","z":"6417defa.12331","name":"","func":"msg.lexus_data = msg.payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1630,"y":540,"wires":[["5b438665.582ed8"]]},{"id":"5b438665.582ed8","type":"link out","z":"6417defa.12331","name":"Register Client - A","links":["9290b8f3.5808f8"],"x":1735,"y":540,"wires":[]},{"id":"28618e6b.d89172","type":"link out","z":"6417defa.12331","name":"Socket Api Log - A","links":["2365783d.c4b248"],"x":695,"y":1100,"wires":[]},{"id":"2cc4a2d8.e06bae","type":"link out","z":"6417defa.12331","name":"Socket Api Log - A","links":["2365783d.c4b248"],"x":1775,"y":460,"wires":[]},{"id":"14718044.e5e3d","type":"link out","z":"6417defa.12331","name":"Socket Api Log - A","links":["2365783d.c4b248"],"x":1855,"y":500,"wires":[]},{"id":"e4f92bcf.bdb2f8","type":"link out","z":"6417defa.12331","name":"Socket Api Log - A","links":["2365783d.c4b248"],"x":1975,"y":720,"wires":[]},{"id":"e03c615a.5cb88","type":"debug","z":"6417defa.12331","name":"call api log","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1410,"y":1960,"wires":[]},{"id":"304955ab.4cf53a","type":"link out","z":"6417defa.12331","name":"Call Api Log - A","links":["1ee50517.bfda3b"],"x":1035,"y":600,"wires":[]},{"id":"6527faf4.30aa44","type":"function","z":"6417defa.12331","name":"","func":"msg.callapi = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":600,"wires":[["304955ab.4cf53a"]]},{"id":"2365783d.c4b248","type":"link in","z":"6417defa.12331","name":"Socket Api Log - B","links":["2cc4a2d8.e06bae","14718044.e5e3d","28618e6b.d89172","e4f92bcf.bdb2f8"],"x":75,"y":2280,"wires":[["e892ec3d.50908"]]},{"id":"e892ec3d.50908","type":"function","z":"6417defa.12331","name":"","func":"let today = new Date();\n\nmsg.callapi.end = today.toLocaleDateString('zh-tw') + ' ' + today.toLocaleTimeString('zh-tw');\nmsg.callapi.url = msg.url;\nmsg.callapi.data = msg.payload;\nmsg.callapi.success = \"Y\";\nmsg.payload = msg.callapi;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":2280,"wires":[["69a4f65a.896d28"]]},{"id":"69a4f65a.896d28","type":"link out","z":"6417defa.12331","name":"Call Api Log - A","links":["1ee50517.bfda3b"],"x":275,"y":2280,"wires":[]},{"id":"3ef049b5.5e1e96","type":"function","z":"6417defa.12331","name":"","func":"msg.preserved_payload = msg.payload;\n\nmsg.room= msg.socketIOStaticProperties.room_id;\n\n// RED.util.setMessageProperty(\n//     msg, \"socketIOAddStaticProperties\", \n//     {\n//         type : '',\n//         client_id : msg.payload.client_id,\n//         service_id : msg.payload.service_id,\n//         room_id : msg.payload.room_id\n//     },\n//     true);\n\nRED.util.setMessageProperty(msg, \"socketIOEvent\", \"change customer\", true);\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":640,"wires":[["43d80639.9d6328"]]},{"id":"43d80639.9d6328","type":"socketio-out","z":"6417defa.12331","name":"","server":"ec90606b.34392","x":1110,"y":640,"wires":[]},{"id":"773016a7.cece48","type":"socketio-leave","z":"6417defa.12331","name":"","server":"ec90606b.34392","x":1260,"y":520,"wires":[]},{"id":"ec90606b.34392","type":"socketio-config","z":"","port":"8082","sendClient":"true","path":"/socket.io","bindToNode":false},{"id":"5c00ec5b.52a074","type":"mqtt-broker","z":"","name":"","broker":"192.168.112.166","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4b5277f6.0ff8b8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"db_lexus_cs","tz":""}]