REF/NodeRED_socket_server.json
[{
		"id": "f0cf7ead.f9a0a8",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "MSG IN",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 763.3332824707031,
		"y": 340.33331298828125,
		"wires": []
	}, {
		"id": "c659ec27.994278",
		"type": "socketio-in",
		"z": "da8f7bde.d2b408",
		"name": "",
		"server": "d5c1b5fd.4dfad8",
		"rules": [{
				"v": "message"
			}, {
				"v": "register service"
			}, {
				"v": "enter"
			}, {
				"v": "leave"
			}
		],
		"x": 168.33331298828125,
		"y": 406.3333282470703,
		"wires": [["3e72187a.2ba16"]]
	}, {
		"id": "d764afe7.de0d98",
		"type": "switch",
		"z": "da8f7bde.d2b408",
		"name": "checkEvent",
		"property": "socketIOEvent",
		"propertyType": "msg",
		"rules": [{
				"t": "eq",
				"v": "message",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "register service",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "enter",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "leave",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "disconnect",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "disconnecting",
				"vt": "str"
			}
		],
		"checkall": "false",
		"repair": false,
		"outputs": 6,
		"x": 750.3332824707031,
		"y": 466.3332977294922,
		"wires": [["811411b9.d1e678"], ["40a4725f.3009cc"], ["158e7869.f375a8"], ["6f348e91.0f8e98"], ["6f348e91.0f8e98"], []]
	}, {
		"id": "ffd27283.5745f8",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "new message",
		"func": "/*msg.payload = {\n username: msg.socketIOStaticProperties.room,\n message: msg.payload\n};*/\n//RED.util.setMessageProperty(msg, \"socketIOEmit\", \"broadcast.emit\", true);\n\nmsg.payload = msg.payload_preserved;\n\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\nif(msg.socketIOStaticProperties==null){\n    node.warn(\"Room id 不見了!\");\n}\n\nmsg.room = msg.socketIOStaticProperties.room_id;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1200.3336181640625,
		"y": 727.3333740234375,
		"wires": [["bacab9aa.9e48b8", "55c71071.a9475", "e73955f.a0daf28"]]
	}, {
		"id": "530c0694.2cb448",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "EVENT",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "socketIOEvent",
		"x": 757.0832824707031,
		"y": 384.08331298828125,
		"wires": []
	}, {
		"id": "ac5f8440.ef12b",
		"type": "catch",
		"z": "da8f7bde.d2b408",
		"name": "",
		"scope": null,
		"x": 240.69996643066406,
		"y": 246.8333740234375,
		"wires": [["f1e283da.230ae8", "18e8a0af.9bf46f"]]
	}, {
		"id": "f1e283da.230ae8",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "ERROR",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 439.69996643066406,
		"y": 272.5833740234375,
		"wires": []
	}, {
		"id": "25998a28.5db1d6",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "//node.warn(msg.socketIOEvent+ \" ## \"+JSON.stringify(msg.payload));\n\nif([\"newListener\",\"disconnecting\"].indexOf(msg.socketIOEvent)==-1){\n    return msg;\n}\n\n\n",
		"outputs": 1,
		"noerr": 0,
		"x": 595.699951171875,
		"y": 466.3333282470703,
		"wires": [["d764afe7.de0d98", "f0cf7ead.f9a0a8", "530c0694.2cb448"]]
	}, {
		"id": "158e7869.f375a8",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "enter room",
		"func": "msg.payload.room_id = \n    msg.payload.client_id + \"_\" + msg.payload.service_id;\nlet room_id = msg.payload.room_id;\n/*{\n    type : Connection.end_point,\n    client_id : Connection.client_id,\n    service_id : Connection.service_id,\n    room_id : \n}*/\nRED.util.setMessageProperty(\n    msg, \"socketIOAddStaticProperties\", \n    {\n        type : msg.payload.type,\n        client_id : msg.payload.client_id,\n        service_id : msg.payload.service_id,\n        room_id : msg.payload.room_id\n    },\n    true);\n\nRED.util.setMessageProperty(\n    msg, \"socketIOEmit\", \"emit\", true);\n\nmsg.payload = {\n    room: room_id\n};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 959.083251953125,
		"y": 445.083251953125,
		"wires": [["bc0353dc.7d5838", "cc3d78e6.2eb7f8", "c1ac7b2d.b8cfe", "46a3e44a.9d180c"]]
	}, {
		"id": "bc0353dc.7d5838",
		"type": "socketio-join",
		"z": "da8f7bde.d2b408",
		"name": "",
		"server": "4419a078.23234",
		"x": 1162.699951171875,
		"y": 445.3333282470703,
		"wires": []
	}, {
		"id": "cf38306a.e7073",
		"type": "socketio-leave",
		"z": "da8f7bde.d2b408",
		"name": "",
		"server": "4419a078.23234",
		"x": 1165.63330078125,
		"y": 483.8000030517578,
		"wires": []
	}, {
		"id": "6f348e91.0f8e98",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "leave room",
		"func": "let room_id = \"\";\n\n//if(msg.socketIOEvent==\"leave\"){\n//    room_id = msg.payload;\n//}else if(msg.socketIOEvent==\"disconnect\"){\n    room_id = msg.socketIOStaticProperties\n                ?msg.socketIOStaticProperties.room_id\n                :\"\";\n//}\n\nmsg.payload = {\n    room: room_id\n};\n\nRED.util.setMessageProperty(\n    msg, \"socketIOEmit\", \"emit\", true);\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 953.4666748046875,
		"y": 483.56666564941406,
		"wires": [["cf38306a.e7073", "cc3d78e6.2eb7f8", "8767060f.1eb65", "46a3e44a.9d180c"]]
	}, {
		"id": "cc3d78e6.2eb7f8",
		"type": "socketio-out",
		"z": "da8f7bde.d2b408",
		"name": "",
		"server": "d5c1b5fd.4dfad8",
		"x": 1163.4668579101562,
		"y": 521.566650390625,
		"wires": []
	}, {
		"id": "bacab9aa.9e48b8",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "MSG OUT",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1421.5669555664062,
		"y": 701.5666656494141,
		"wires": []
	}, {
		"id": "c1ac7b2d.b8cfe",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "MSG ENTER",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1201.5667114257812,
		"y": 408.566650390625,
		"wires": []
	}, {
		"id": "8767060f.1eb65",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "MSG LEAVE",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1164.566650390625,
		"y": 561.5666198730469,
		"wires": []
	}, {
		"id": "fe8e1e52.aca93",
		"type": "inject",
		"z": "da8f7bde.d2b408",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 950.36669921875,
		"y": 294.00001525878906,
		"wires": [["46a3e44a.9d180c"]]
	}, {
		"id": "8ca03bf4.2ef41",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 1335.36669921875,
		"y": 293.75001525878906,
		"wires": []
	}, {
		"id": "46a3e44a.9d180c",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "chat_status",
		"func": "\nvar chat_status = context.get(\"chat_status\");\nchat_status = chat_status!=null ? chat_status : {};\n\nif( typeof msg.payload ==\"number\"){\n    \n    return {\n        payload:chat_status\n    };\n    \n}else{\n    \n    if(msg.payload.room!=null){\n        \n        if(chat_status[msg.payload.room]==null){\n            chat_status[msg.payload.room]=0;\n        }\n        \n        if(msg.socketIOEvent==\"enter\"){\n            chat_status[msg.payload.room]++;\n        }\n        \n        if(msg.socketIOEvent==\"leave\"){\n            chat_status[msg.payload.room]--;\n            chat_status[msg.payload.room] = chat_status[msg.payload.room]<0?0:chat_status[msg.payload.room];\n        }\n        \n        context.set(\"chat_status\",chat_status);\n        \n    }\n}",
		"outputs": 1,
		"noerr": 0,
		"x": 1135.36669921875,
		"y": 294,
		"wires": [["8ca03bf4.2ef41"]]
	}, {
		"id": "76e3c330.14a53c",
		"type": "watson-conversation-v1",
		"z": "da8f7bde.d2b408",
		"name": "",
		"workspaceid": "",
		"multiuser": false,
		"context": true,
		"empty-payload": false,
		"default-endpoint": true,
		"service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
		"timeout": "",
		"optout-learning": false,
		"x": 851.4501953125,
		"y": 662.8332824707031,
		"wires": [["473f4e34.17ac38", "1ea1709e.199dcf"]]
	}, {
		"id": "55c71071.a9475",
		"type": "socketio-out",
		"z": "da8f7bde.d2b408",
		"name": "",
		"server": "d5c1b5fd.4dfad8",
		"x": 1432.2337036132812,
		"y": 752.5666809082031,
		"wires": []
	}, {
		"id": "46995860.4afcb",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "Source Type",
		"func": "\nif(msg.payload.type==\"client\"){\n    msg.payload_preserved = msg.payload;\n    return [msg,null];\n}else{\n    msg.payload_preserved = msg.payload;\n    return [null,msg];\n}\n",
		"outputs": 2,
		"noerr": 0,
		"x": 305.449951171875,
		"y": 748.666748046875,
		"wires": [["ada5e176.1f9c9"], ["ffd27283.5745f8"]]
	}, {
		"id": "473f4e34.17ac38",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "msg.flow_config.time_record.assistant_return = Date.now();\nmsg.payload_preserved.intents = msg.payload.intents;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1015.4501342773438,
		"y": 691.6666564941406,
		"wires": [["ffd27283.5745f8"]]
	}, {
		"id": "8b407712.00fb9",
		"type": "link in",
		"z": "da8f7bde.d2b408",
		"name": "Deal Message - B",
		"links": ["811411b9.d1e678"],
		"x": 181.4499969482422,
		"y": 750.6000518798828,
		"wires": [["46995860.4afcb", "c71d3ab.8b92048"]]
	}, {
		"id": "811411b9.d1e678",
		"type": "link out",
		"z": "da8f7bde.d2b408",
		"name": "Deal Message - A",
		"links": ["8b407712.00fb9"],
		"x": 906.449951171875,
		"y": 338.9666748046875,
		"wires": []
	}, {
		"id": "1059af92.1a5ee",
		"type": "comment",
		"z": "da8f7bde.d2b408",
		"name": "Config",
		"info": "Node需安裝套件:\n    1.node-red-contrib-socketio\n    2.node-red-node-watson\n    3.node-red-node-mongodb\n    4.node-red-node-mysql\n\nConversation:\n    https://gateway.watsonplatform.net/assistant/api\n    4003aefc-79f8-4c14-a497-f720829da4f0\n    ZYqZvVngtxaX\n    \n    LexusBot\n    234bf172-8356-42cc-8ec3-cb0a3dc69a0c\n\nVisualRecognition:\n    X 8d97c9225169278094c24bee609f93eb31d33220\n    X BTWdTzZJy6ugm65tGHYzOP1qbNYjFADAO2b3SE8MZC6W\n    l_MaXgfCeFMtffqOCYJSmb8g4Rt3pfALzuvTFiUxzL3v\n",
		"x": 89.00001525878906,
		"y": 65.66661834716797,
		"wires": []
	}, {
		"id": "ada5e176.1f9c9",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "Message Type",
		"func": "let payload_preserved = msg.payload_preserved;\n\nif(payload_preserved.message.type==\"text\"){\n    msg.payload = payload_preserved.message.text;\n    //msg.user = payload_preserved.from.id;\n    return [msg,null];\n}else{\n    msg.visual_recog_url = payload_preserved.message.url;\n    \n    return [null,msg];\n}\n",
		"outputs": 2,
		"noerr": 0,
		"x": 492.33331298828125,
		"y": 684.3334045410156,
		"wires": [["819ebfc7.2e53f8"], ["74086a02.246f44"]]
	}, {
		"id": "3b5c6a69.8c067e",
		"type": "catch",
		"z": "da8f7bde.d2b408",
		"name": "",
		"scope": ["340efc70.9569dc"],
		"x": 487.3332977294922,
		"y": 917.333251953125,
		"wires": [["a85903d8.bf13f8"]]
	}, {
		"id": "a85903d8.bf13f8",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "let output_msg = \"\";\n/*\nif(msg.watsonerror.indexOf(\"Image size limit exceeded\")!=-1){\n    output_msg=\"這張圖太大了啦 看得我眼睛好痠... 能換換嗎?\";\n}else if(msg.watsonerror.indexOf(\"Key is over transaction limit\")!=-1){\n    output_msg=\"我只是個時薪120的工讀生，剛剛我已經辨識完我的工作份量了喔，今天打烊下次請早。\";\n}else if(msg.watsonerror.indexOf(\"service credentials\")!=-1){\n    output_msg=\"抱歉我看不太懂，可以用文字告訴我嗎？\";\n}else{\n    //已知原因有丟gif檔會得到 An undefined server error occurred.\n    output_msg=\"抱歉我看不太懂，可以換張圖片我看看？\";\n}*/\n\nmsg.recognitionResult = output_msg;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 647.3332977294922,
		"y": 917.333251953125,
		"wires": [["f56b8521.8e449"]]
	}, {
		"id": "934c1dd5.279d5",
		"type": "link in",
		"z": "da8f7bde.d2b408",
		"name": "Line VisualRecog IN - B",
		"links": ["74086a02.246f44"],
		"x": 146.33331298828125,
		"y": 957.333251953125,
		"wires": [["a337b25e.9ff8c", "87fa54be.080148"]]
	}, {
		"id": "f56b8521.8e449",
		"type": "link out",
		"z": "da8f7bde.d2b408",
		"name": "Line VisualRecog OUT - A",
		"links": ["6bf9bc1d.06f314"],
		"x": 764.3333129882812,
		"y": 997.333251953125,
		"wires": []
	}, {
		"id": "68faefd2.801dd",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "msg.flow_config.time_record.visualrecog_return = Date.now();\nlet output_msg = \"\";\n\nif(\n    msg.result &&\n    msg.result.images &&\n    msg.result.images[0] &&\n    msg.result.images[0].classifiers &&\n    msg.result.images[0].classifiers[0] &&\n    msg.result.images[0].classifiers[0].classes\n){\n    let labels = msg.result.images[0]\n                    .classifiers[0].classes;\n    labels.sort(function(a, b){\n        return b[\"score\"]-a[\"score\"];\n    });\n    labels = labels.filter(function(item){\n        return item[\"score\"]>0.6;\n    });\n    output_msg = labels.map(function(item){\n       return item.class\n    }).join(\",\");\n}\nmsg.trans = output_msg;\nmsg.recognitionResult = output_msg;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 618.3332977294922,
		"y": 957.3332214355469,
		"wires": [["63f7634.954551c"]]
	}, {
		"id": "63f7634.954551c",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "\nmsg.payload = {\n    \"text\":msg.recognitionResult,\n    \"model_id\":\"en-zh-TW\"\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Accepts\": \"application/json\",\n    \"Authorization\":\"Basic \" + new Buffer('8f2be220-38af-4e08-a0e9-2beeb4a7db1f' + \":\" + 'nEVxvfgyWmzV').toString(\"base64\")\n};\n\nmsg.url = \"https://gateway.watsonplatform.net/language-translator/api/v3/translate?version=2018-05-01\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 360.3332977294922,
		"y": 1007.3332214355469,
		"wires": [["b3d97dbe.ddf7"]]
	}, {
		"id": "b3d97dbe.ddf7",
		"type": "http request",
		"z": "da8f7bde.d2b408",
		"name": "",
		"method": "POST",
		"ret": "obj",
		"url": "",
		"tls": "",
		"x": 500.3332977294922,
		"y": 1007.3332214355469,
		"wires": [["b649c692.1fea68"]]
	}, {
		"id": "b649c692.1fea68",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "let output_msg = \"\";\nif(\n    msg.payload.translations \n    && msg.payload.translations[0] \n    && msg.payload.translations[0].translation \n){\n    output_msg = msg.payload.translations[0].translation;\n}\n\nmsg.recognitionResult = output_msg;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 640.3332977294922,
		"y": 1007.3332214355469,
		"wires": [["f56b8521.8e449", "3586d46d.f1b5dc"]]
	}, {
		"id": "a337b25e.9ff8c",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "msg.flow_config.time_record.visualrecog_call = Date.now();\nmsg.payload = msg.visual_recog_url;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 258.33331298828125,
		"y": 957.333251953125,
		"wires": [["5c4bf8fc.707158"]]
	}, {
		"id": "340efc70.9569dc",
		"type": "visual-recognition-v3",
		"z": "da8f7bde.d2b408",
		"name": "圖片辨識",
		"apikey": "l_MaXgfCeFMtffqOCYJSmb8g4Rt3pfALzuvTFiUxzL3v",
		"vr-service-endpoint": "https://gateway.watsonplatform.net/visual-recognition/api",
		"image-feature": "classifyImage",
		"lang": "en",
		"x": 472.3332977294922,
		"y": 958.333251953125,
		"wires": [["68faefd2.801dd", "cc24d8e5.e7469"]]
	}, {
		"id": "6ea8c3.db85073c",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "msg.payload_preserved.recognitionResult = msg.recognitionResult;\n\nmsg.payload = msg.recognitionResult;\n//msg.user = msg.payload_preserved.from.name;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 696.9999389648438,
		"y": 697.3334045410156,
		"wires": [["819ebfc7.2e53f8"]]
	}, {
		"id": "6bf9bc1d.06f314",
		"type": "link in",
		"z": "da8f7bde.d2b408",
		"name": "Line VisualRecog OUT - B",
		"links": ["f56b8521.8e449"],
		"x": 571.9999389648438,
		"y": 730.0000305175781,
		"wires": [["6ea8c3.db85073c"]]
	}, {
		"id": "74086a02.246f44",
		"type": "link out",
		"z": "da8f7bde.d2b408",
		"name": "Line VisualRecog IN - A",
		"links": ["934c1dd5.279d5"],
		"x": 642,
		"y": 731.3334045410156,
		"wires": []
	}, {
		"id": "3586d46d.f1b5dc",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "Translate OUT",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 826.3333129882812,
		"y": 1049.3333740234375,
		"wires": []
	}, {
		"id": "cc24d8e5.e7469",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "Recog OUT",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 816.566650390625,
		"y": 958.1666870117188,
		"wires": []
	}, {
		"id": "1ea1709e.199dcf",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "Assistant OUT",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 1044.75,
		"y": 628.75,
		"wires": []
	}, {
		"id": "819ebfc7.2e53f8",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "setting",
		"func": "let workspace = msg.flow_config.watson_config[0];\nmsg.flow_config.time_record.assistant_call = Date.now();\n\nmsg.params = {\n    alternate_intents: true,\n    timeout: 9*1000,\n    \n    workspace_id: workspace.workspaceId,\n    username: workspace.username,\n    password: workspace.password,\n};\n\nmsg.flow_config.usedWorkspace = workspace.workspaceId;\nmsg.flow_config.usedWatsonName = workspace.name;\n\n\nif(msg.payload == \"\" || msg.payload == null ){\n    msg.payload = \" \";\n} \nmsg.payload = msg.payload.replace(/[\\t\\n\\r]/g,\"\");\n\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 716.36669921875,
		"y": 642,
		"wires": [["76e3c330.14a53c", "c85debdb.43b06"]]
	}, {
		"id": "5160cff2.1784d8",
		"type": "comment",
		"z": "da8f7bde.d2b408",
		"name": "圖像辨識",
		"info": "因為recog的service讀不到localhost的檔案 \n目前先把檔案內容讀回來",
		"x": 144.36666870117188,
		"y": 872.5,
		"wires": []
	}, {
		"id": "7604a9e5.a8e5e",
		"type": "comment",
		"z": "da8f7bde.d2b408",
		"name": "訊息處理",
		"info": "",
		"x": 150.75,
		"y": 570.5,
		"wires": []
	}, {
		"id": "fd293ca5.215de8",
		"type": "comment",
		"z": "da8f7bde.d2b408",
		"name": "Socket 進入點",
		"info": "",
		"x": 134.75,
		"y": 330,
		"wires": []
	}, {
		"id": "185370ef.145047",
		"type": "comment",
		"z": "da8f7bde.d2b408",
		"name": "Error Handling",
		"info": "",
		"x": 137.75,
		"y": 179,
		"wires": []
	}, {
		"id": "c71d3ab.8b92048",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "Message Parse",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 307.33331298828125,
		"y": 796.3333740234375,
		"wires": []
	}, {
		"id": "87fa54be.080148",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "Picture Parse",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 335.33331298828125,
		"y": 893.3333129882812,
		"wires": []
	}, {
		"id": "c85debdb.43b06",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "Go Assistant",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 860.566650390625,
		"y": 606.7667236328125,
		"wires": []
	}, {
		"id": "3470fabc.8254fe",
		"type": "http request",
		"z": "da8f7bde.d2b408",
		"name": "",
		"method": "GET",
		"ret": "bin",
		"url": "",
		"tls": "",
		"x": 404.36663818359375,
		"y": 1094,
		"wires": [["340efc70.9569dc"]]
	}, {
		"id": "5c4bf8fc.707158",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "msg.url = msg.payload;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 251.36663818359375,
		"y": 1094.5,
		"wires": [["3470fabc.8254fe"]]
	}, {
		"id": "c207cd6d.45c4f8",
		"type": "http in",
		"z": "da8f7bde.d2b408",
		"name": "",
		"url": "/taipei_digital_api/manager_identity",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 291.3666687011719,
		"y": 1779.5000610351562,
		"wires": [["1f38697a.6db277"]]
	}, {
		"id": "c501bde2.42963",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "msg.payload = [{\n\t\t\"id\": \"3fb#23EV72uAr&FAA@fy\",\n\t\t\"type\": \"CT200H\",\n\t\t\"vehicle_id\": \"ABZ-1234\",\n\t\t\"name\": \"王大明\",\n\t\t\"avatar\": \"/images/avatar.png\",\n\t\t\"unread\": 2,\n\t\t\"latest_msg\": [{\n\t\t\t\t\"msg\": \"是的\",\n\t\t\t\t\"time\": \"2019/09/20 10:11:50\"\n\t\t\t}\n\t\t],\n\t\t\"note\": [{\n\t\t\t\t\"msg\": \"生日\"\n\t\t\t}\n\t\t]\n\t}, {\n\t\t\"id\": \"B%UnVWu7&*7tatpL4KHr\",\n\t\t\"type\": \"ES200\",\n\t\t\"vehicle_id\": \"ABE-1234\",\n\t\t\"name\": \"陳大為\",\n\t\t\"avatar\": \"/images/avatar.png\",\n\t\t\"unread\": 4,\n\t\t\"latest_msg\": [{\n\t\t\t\t\"msg\": \"謝謝！！\",\n\t\t\t\t\"time\": \"2019/09/18 14:05:03\"\n\t\t\t}\n\t\t],\n\t\t\"note\": [{\n\t\t\t\t\"msg\": \"保險到期日09/26\"\n\t\t\t}\n\t\t]\n\t}, {\n\t\t\"id\": \"UWtqzPU9@&smq9b&KVvf\",\n\t\t\"type\": \"RX450H\",\n\t\t\"vehicle_id\": \"ACE-8866\",\n\t\t\"name\": \"林小東\",\n\t\t\"avatar\": \"/images/avatar.png\",\n\t\t\"unread\": 0,\n\t\t\"latest_msg\": [{\n\t\t\t\t\"msg\": \"感謝您！\",\n\t\t\t\t\"time\": \"2019/09/21 08:05:15\"\n\t\t\t}\n\t\t],\n\t\t\"note\": []\n\t}, {\n\t\t\"id\": \"KEpz5bFFx&mnzd5UZfZf\",\n\t\t\"type\": \"GS300\",\n\t\t\"vehicle_id\": \"LXS-8888\",\n\t\t\"name\": \"吳小涵\",\n\t\t\"avatar\": \"/images/avatar.png\",\n\t\t\"unread\": 0,\n\t\t\"latest_msg\": [{\n\t\t\t\t\"msg\": \"了解\",\n\t\t\t\t\"time\": \"2019/09/15 18:35:07\"\n\t\t\t}\n\t\t],\n\t\t\"note\": []\n\t}, {\n\t\t\"id\": \"Qr8zrWexwdXtbHQkV5bY\",\n\t\t\"type\": \"NX200\",\n\t\t\"vehicle_id\": \"AAA-0000\",\n\t\t\"name\": \"李小龍\",\n\t\t\"avatar\": \"/images/avatar.png\",\n\t\t\"unread\": 0,\n\t\t\"latest_msg\": [{\n\t\t\t\t\"msg\": \"您已寄出一張圖片\",\n\t\t\t\t\"time\": \"2019/09/17 12:00:44\"\n\t\t\t}\n\t\t],\n\t\t\"note\": []\n\t}\n]\n\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 593.36669921875,
		"y": 1826.0000610351562,
		"wires": [["770e744f.10202c"]]
	}, {
		"id": "7776e800.e7c17",
		"type": "http in",
		"z": "da8f7bde.d2b408",
		"name": "",
		"url": "/taipei_digital_api/manager_responsibility",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 309.75,
		"y": 1826.2500610351562,
		"wires": [["c501bde2.42963"]]
	}, {
		"id": "1f38697a.6db277",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "msg.payload = {\n    \"成功與否\":\"success\",\n    \"ht_id\":\"SA0001\",\n    \"type\":\"Sales\",\n    \"經銷商\":\"AAA\",\n    \"據點別\":\"AAA\",\n    \"品牌\":\"AAA\",\n    \"帳號\":\"AAA\",\n    \"姓名\":\"AAA\"\n};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 581.75,
		"y": 1778.7500610351562,
		"wires": [["9bed329a.06b0a"]]
	}, {
		"id": "9bed329a.06b0a",
		"type": "http response",
		"z": "da8f7bde.d2b408",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 811.36669921875,
		"y": 1778.7500610351562,
		"wires": []
	}, {
		"id": "770e744f.10202c",
		"type": "http response",
		"z": "da8f7bde.d2b408",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 819.36669921875,
		"y": 1825.7500610351562,
		"wires": []
	}, {
		"id": "d7d43f31.7dc92",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "msg.payload = {\n\t\"address\": \"AAA\",\n\t\"tel\": \"AAA\",\n\t\"生日\": \"AAA\",\n\t\"車名 SFX\": \"AAA\",\n\t\"新車交車日\": \"AAA\",\n\t\"強制任意險到期日\": \"AAA\",\n\t\"上一次待修建議\": \"AAA\",\n\t\"上一次維修紀錄\": {}\n};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 596.61669921875,
		"y": 1873.2500610351562,
		"wires": [["751902f6.017fec"]]
	}, {
		"id": "f2dbad68.27f2",
		"type": "http in",
		"z": "da8f7bde.d2b408",
		"name": "",
		"url": "/taipei_digital_api/vehicle_owner",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 283,
		"y": 1873.5000610351562,
		"wires": [["d7d43f31.7dc92"]]
	}, {
		"id": "751902f6.017fec",
		"type": "http response",
		"z": "da8f7bde.d2b408",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 822.61669921875,
		"y": 1873.0000610351562,
		"wires": []
	}, {
		"id": "75fac16d.d7c63",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "msg.payload = {};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 595.61669921875,
		"y": 1922.2500610351562,
		"wires": [["6f4e1cc9.98d81c"]]
	}, {
		"id": "a3e20106.98852",
		"type": "http in",
		"z": "da8f7bde.d2b408",
		"name": "",
		"url": "/taipei_digital_api/reservation",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 272,
		"y": 1922.5000610351562,
		"wires": [["75fac16d.d7c63"]]
	}, {
		"id": "6f4e1cc9.98d81c",
		"type": "http response",
		"z": "da8f7bde.d2b408",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 821.61669921875,
		"y": 1922.0000610351562,
		"wires": []
	}, {
		"id": "c840f08e.f1f9f8",
		"type": "comment",
		"z": "da8f7bde.d2b408",
		"name": "台北數位API (未完成)",
		"info": "",
		"x": 147.36666870117188,
		"y": 1697.5000610351562,
		"wires": []
	}, {
		"id": "fafb17b5.e22db",
		"type": "comment",
		"z": "da8f7bde.d2b408",
		"name": "資料庫會做的事(未完成)",
		"info": "預計接在 socket 後的 checkEvent 之後",
		"x": 157.75,
		"y": 2016.7500610351562,
		"wires": []
	}, {
		"id": "51c5fe01.aeb88",
		"type": "switch",
		"z": "da8f7bde.d2b408",
		"name": "",
		"property": "payload",
		"propertyType": "msg",
		"rules": [{
				"t": "eq",
				"v": "寫入對話",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "用戶_讀最後一筆歷史對話資料",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "用戶_讀歷史對話資料",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "管理者_讀未讀對話資料",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "管理者_讀歷史對話資料",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "更新responsibility資料",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 6,
		"x": 261.3666687011719,
		"y": 2141.0000610351562,
		"wires": [["66852488.f707fc"], ["ae634843.a4483"], ["cb492865.e7efa8"], ["62b54256.e863cc"], ["e2733ef0.e4a4"], ["96ac4787.2dafd8"]]
	}, {
		"id": "66852488.f707fc",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "寫入對話",
		"func": "\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 512.36669921875,
		"y": 2022.5000610351562,
		"wires": [[]]
	}, {
		"id": "ae634843.a4483",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "用戶_讀最後一筆歷史對話資料",
		"func": "\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 582.36669921875,
		"y": 2065.5000610351562,
		"wires": [[]]
	}, {
		"id": "cb492865.e7efa8",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "用戶_讀歷史對話資料",
		"func": "\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 554.75,
		"y": 2109.7500610351562,
		"wires": [[]]
	}, {
		"id": "62b54256.e863cc",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "管理者_讀未讀對話資料",
		"func": "\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 564.75,
		"y": 2152.7500610351562,
		"wires": [[]]
	}, {
		"id": "e2733ef0.e4a4",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "管理者_讀歷史對話資料",
		"func": "\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 564.75,
		"y": 2199.7500610351562,
		"wires": [[]]
	}, {
		"id": "96ac4787.2dafd8",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "更新responsibility資料",
		"func": "\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 554.75,
		"y": 2242.7500610351562,
		"wires": [[]]
	}, {
		"id": "a9dfd5c0.c27ac",
		"type": "link out",
		"z": "da8f7bde.d2b408",
		"name": "DB SELECT - A",
		"links": ["790015ce.d657ec"],
		"x": 839.5665893554688,
		"y": 1393.36669921875,
		"wires": []
	}, {
		"id": "790015ce.d657ec",
		"type": "link in",
		"z": "da8f7bde.d2b408",
		"name": "DB SELECT - B",
		"links": ["a9dfd5c0.c27ac", "57a56582.e7fcdc"],
		"x": 99.33334350585938,
		"y": 1485.533203125,
		"wires": [["c6971c91.d6fa6"]]
	}, {
		"id": "f9f20479.2a0bc",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "\nlet service_id = \"\";\nservice_id = msg.socketIOAddStaticProperties?msg.socketIOAddStaticProperties.service_id:service_id;\nservice_id = msg.socketIOStaticProperties?msg.socketIOStaticProperties.service_id:service_id;\n\nmsg.topic = \"call sp_select_manager_list('\"+service_id+\"');\";\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 485.99993896484375,
		"y": 1534.333251953125,
		"wires": [["87ad18f2.340e"]]
	}, {
		"id": "87ad18f2.340e",
		"type": "mysql",
		"z": "da8f7bde.d2b408",
		"mydb": "fb5eb74c.718c8",
		"name": "",
		"x": 647.75,
		"y": 1534.749755859375,
		"wires": [["41f64715.cbdd"]]
	}, {
		"id": "8bacea17.8db53",
		"type": "mqtt out",
		"z": "da8f7bde.d2b408",
		"name": "",
		"topic": "socket_server_in",
		"qos": "",
		"retain": "",
		"broker": "6fbdd64d.932d48",
		"x": 493.75,
		"y": 405.75,
		"wires": []
	}, {
		"id": "3e72187a.2ba16",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "\nmsg.flow_config = {\n    \n    //\"HT_image_space\":\"https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/\",\n    \"watson_config\": [{\n        \"name\":\"LexusBot\",\n        \"workspaceId\": \"234bf172-8356-42cc-8ec3-cb0a3dc69a0c\",\n        \"username\": \"4003aefc-79f8-4c14-a497-f720829da4f0\",\n        \"password\": \"ZYqZvVngtxaX\"\n    }],\n    \"time_record\":{\n        request_time: Date.now()\n    }\n};\nreturn {\n    payload:msg\n};\n",
		"outputs": 1,
		"noerr": 0,
		"x": 304.81671142578125,
		"y": 405.7166442871094,
		"wires": [["8bacea17.8db53", "7330bee2.170ed"]]
	}, {
		"id": "a9e46035.a4aca8",
		"type": "mqtt in",
		"z": "da8f7bde.d2b408",
		"name": "",
		"topic": "socket_server_in",
		"qos": "2",
		"broker": "6fbdd64d.932d48",
		"x": 265.25,
		"y": 467.3332824707031,
		"wires": [["add17c47.5e86b", "7f1304a9.9d0f94"]]
	}, {
		"id": "add17c47.5e86b",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "\nreturn JSON.parse(msg.payload) ;",
		"outputs": 1,
		"noerr": 0,
		"x": 437.81671142578125,
		"y": 467.716552734375,
		"wires": [["25998a28.5db1d6"]]
	}, {
		"id": "2f60690b.48d72e",
		"type": "mqtt in",
		"z": "da8f7bde.d2b408",
		"name": "",
		"topic": "refresh_list",
		"qos": "2",
		"broker": "6fbdd64d.932d48",
		"x": 190.33338928222656,
		"y": 1534.3331909179688,
		"wires": [["53f354c1.71475c"]]
	}, {
		"id": "53f354c1.71475c",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "\nreturn JSON.parse(msg.payload) ;",
		"outputs": 1,
		"noerr": 0,
		"x": 344.9001007080078,
		"y": 1534.7164611816406,
		"wires": [["f9f20479.2a0bc"]]
	}, {
		"id": "b8cbd44b.81017",
		"type": "mqtt out",
		"z": "da8f7bde.d2b408",
		"name": "",
		"topic": "refresh_list",
		"qos": "",
		"retain": "",
		"broker": "6fbdd64d.932d48",
		"x": 390.83338928222656,
		"y": 1485.7499084472656,
		"wires": []
	}, {
		"id": "c6971c91.d6fa6",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "\nreturn {\n    payload:msg\n};",
		"outputs": 1,
		"noerr": 0,
		"x": 211.9001007080078,
		"y": 1485.716552734375,
		"wires": [["b8cbd44b.81017"]]
	}, {
		"id": "e272f61b.67cf68",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "To DB message",
		"func": "let message_item = msg.payload;\n\nlet message_type = message_item.message.type;\nlet content = message_type==\"text\" ? message_item.message.text : message_item.message.url;\ncontent = content.replace(/,/g,\"\\,\").replace(/\"/g,'\\\"');\nlet time = message_item.time;\nlet intent_str = message_item.intents?JSON.stringify(message_item.intents):\"\";\nlet recognition_result = message_item.recognitionResult?message_item.recognitionResult:\"\";\n\nlet direction = message_item.type;\nlet from_id = message_item.from.id;\nlet to_id = message_item.to.id;\n\nlet sql_cmd = \"call sp_send_message('\"+message_type+\"','\"+content+\"','\"+intent_str+\"','\"+recognition_result+\"','\"+time+\"','\"+direction+\"','\"+from_id+\"','\"+to_id+\"');\";\nmsg.topic = sql_cmd;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 511.99993896484375,
		"y": 1393.333251953125,
		"wires": [["1ae8d72c.8133d1"]]
	}, {
		"id": "1ae8d72c.8133d1",
		"type": "mysql",
		"z": "da8f7bde.d2b408",
		"mydb": "fb5eb74c.718c8",
		"name": "",
		"x": 706.4998779296875,
		"y": 1394.2499084472656,
		"wires": [["a9dfd5c0.c27ac"]]
	}, {
		"id": "7330bee2.170ed",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "TO mqtt",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 460.33331298828125,
		"y": 351.3333435058594,
		"wires": []
	}, {
		"id": "7f1304a9.9d0f94",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "FROM mqtt",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"x": 458.75,
		"y": 512.75,
		"wires": []
	}, {
		"id": "6579975e.23f748",
		"type": "link in",
		"z": "da8f7bde.d2b408",
		"name": "To DB - B",
		"links": ["e73955f.a0daf28"],
		"x": 98.76654052734375,
		"y": 1345.6999206542969,
		"wires": [["a00bebdf.2a3f28"]]
	}, {
		"id": "e73955f.a0daf28",
		"type": "link out",
		"z": "da8f7bde.d2b408",
		"name": "To DB - A",
		"links": ["6579975e.23f748"],
		"x": 1363.7666015625,
		"y": 797.6833190917969,
		"wires": []
	}, {
		"id": "3186f49a.7a9a8c",
		"type": "mqtt out",
		"z": "da8f7bde.d2b408",
		"name": "",
		"topic": "to_db",
		"qos": "",
		"retain": "",
		"broker": "6fbdd64d.932d48",
		"x": 350.41668701171875,
		"y": 1345.4165954589844,
		"wires": []
	}, {
		"id": "a00bebdf.2a3f28",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "\nreturn {\n    payload:msg\n};",
		"outputs": 1,
		"noerr": 0,
		"x": 191.4833984375,
		"y": 1345.3832397460938,
		"wires": [["3186f49a.7a9a8c"]]
	}, {
		"id": "617cbca0.3f0ef4",
		"type": "mqtt in",
		"z": "da8f7bde.d2b408",
		"name": "",
		"topic": "to_db",
		"qos": "2",
		"broker": "6fbdd64d.932d48",
		"x": 149.91668701171875,
		"y": 1392.9998779296875,
		"wires": [["cc914187.b5e2c"]]
	}, {
		"id": "cc914187.b5e2c",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "",
		"func": "\nreturn JSON.parse(msg.payload) ;",
		"outputs": 1,
		"noerr": 0,
		"x": 324.4833984375,
		"y": 1393.3831481933594,
		"wires": [["e272f61b.67cf68"]]
	}, {
		"id": "da8710c2.1128f8",
		"type": "socketio-out",
		"z": "da8f7bde.d2b408",
		"name": "",
		"server": "d5c1b5fd.4dfad8",
		"x": 1074.3333740234375,
		"y": 1534.2666625976562,
		"wires": []
	}, {
		"id": "41f64715.cbdd",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "BroadCast List to Room",
		"func": "\nRED.util.setMessageProperty(msg, \"socketIOEvent\", \"update conversatoin list\", true);\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\n\nlet service_id = \"\";\nservice_id = msg.socketIOAddStaticProperties ? msg.socketIOAddStaticProperties.service_id : service_id;\nservice_id = msg.socketIOStaticProperties ? msg.socketIOStaticProperties.service_id : service_id;\nmsg.room = service_id;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 866.4332885742188,
		"y": 1535.0332946777344,
		"wires": [["da8710c2.1128f8"]]
	}, {
		"id": "57a56582.e7fcdc",
		"type": "link out",
		"z": "da8f7bde.d2b408",
		"name": "DB SELECT - A",
		"links": ["790015ce.d657ec"],
		"x": 1097,
		"y": 411,
		"wires": []
	}, {
		"id": "80a809bc.3b29d8",
		"type": "comment",
		"z": "da8f7bde.d2b408",
		"name": "DB dealing",
		"info": "",
		"x": 155.5,
		"y": 1256,
		"wires": []
	}, {
		"id": "18e8a0af.9bf46f",
		"type": "debug",
		"z": "da8f7bde.d2b408",
		"name": "###ERROR###",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "error",
		"x": 459.566650390625,
		"y": 226.56666564941406,
		"wires": []
	}, {
		"id": "40a4725f.3009cc",
		"type": "function",
		"z": "da8f7bde.d2b408",
		"name": "register service",
		"func": "let service_id = msg.payload.service_id;\n\nmsg.payload = {\n    room: service_id\n};\nmsg.socketIOAddStaticProperties = msg.socketIOAddStaticProperties?msg.socketIOAddStaticProperties:{};\nmsg.socketIOAddStaticProperties.service_id = service_id;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 968.3333129882812,
		"y": 376.73333740234375,
		"wires": [["2764b3f4.fc8cf4", "57a56582.e7fcdc"]]
	}, {
		"id": "2764b3f4.fc8cf4",
		"type": "socketio-join",
		"z": "da8f7bde.d2b408",
		"name": "",
		"server": "4419a078.23234",
		"x": 1165.9500122070312,
		"y": 376.9833984375,
		"wires": []
	}, {
		"id": "d5c1b5fd.4dfad8",
		"type": "socketio-config",
		"z": "",
		"port": "1881",
		"sendClient": "true",
		"path": "/socket.io",
		"bindToNode": true
	}, {
		"id": "4419a078.23234",
		"type": "socketio-config",
		"z": "",
		"port": "1881",
		"sendClient": "true",
		"path": "/socket.io",
		"bindToNode": true
	}, {
		"id": "fb5eb74c.718c8",
		"type": "MySQLdatabase",
		"z": "",
		"host": "127.0.0.1",
		"port": "3306",
		"db": "db_lexus_cs",
		"tz": ""
	}, {
		"id": "6fbdd64d.932d48",
		"type": "mqtt-broker",
		"z": "",
		"name": "",
		"broker": "192.168.112.166",
		"port": "1883",
		"clientid": "",
		"usetls": false,
		"compatmode": true,
		"keepalive": "60",
		"cleansession": true,
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": "",
		"closeTopic": "",
		"closeQos": "0",
		"closePayload": "",
		"willTopic": "",
		"willQos": "0",
		"willPayload": ""
	}
]
